<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'"
    [position]="'bottom'">
    <form name="fyForm" [formGroup]="fyForm" id="fyForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'FINANCIAL_YEAR'|translate}}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>{{'FINANCIAL_YEAR'|translate}}
              <td>

                <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="'YEAR_YEAR'|translate" [height]="23" [width]="140" formControlName="fiscalYear"></jqxInput> -->
                <div style="width:80% !important">
                  <nepali-input #ref [height]="23" [width]="140"
                    formControlName="fiscalYear"
                    [placeHolder]="'YEAR_YEAR'|translate"
                    [inputClass]="'px-control'">
                  </nepali-input>
                </div>
              </td>
              <td>{{'FINANCIAL_SYMBOL'|translate}}
              </td>
              <td>
                <jqxInput [theme]="'energyblue'" [placeHolder]="'7475'"
                  [height]="23" [width]="140" formControlName="fySymbol"></jqxInput>
              </td>
              <td>{{'FINANCIAL_YEAR'|translate}} {{'START_DATE'|translate}}
                ({{'BS'|translate}})
              </td>
              <td>
                <jqxInput [theme]="'energyblue'"
                  [placeHolder]="'DATE_PATTERN'|translate" [height]="23"
                  [width]="140" formControlName="fyStartBs"></jqxInput>
              </td>
              <td>{{'FINANCIAL_YEAR'|translate}} {{'END_DATE'|translate}}
                ({{'BS'|translate}})
              </td>
              <td>
                <jqxInput [theme]="'energyblue'"
                  [placeHolder]="'DATE_PATTERN'|translate" [height]="23"
                  [width]="140" formControlName="fyEndBs"></jqxInput>
              </td>
            </tr>
            <tr>
              <td>{{'STATUS'|translate}}&nbsp;<span>*</span></td>
              <td>
                <select formControlName="active" class="selectpicker
                  select-class select-border" style="width:140px;height:23px;">
                  <option value="">{{'CHOOSE'|translate}}</option>
                  <option *ngFor="let data of comboBoxSource; let i= index;"
                    [value]="data['status']">{{data['name']}}</option>
                </select>
              </td>
              <td colspan="1" *ngIf="!update">
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                  [disabled]="!fyForm.valid" (onClick)="saveBtn(fyForm.value)">
                  {{'SAVE'|translate}}
                </jqxButton>
              </td>
              <td colspan="1" *ngIf="update">
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                  [disabled]="!fyForm.valid"
                  (onClick)="updateBtn(fyForm.value)">
                  {{'UPDATE'|translate}}
                </jqxButton>
                <jqxButton *ngIf="update" style="margin-right: 5px;"
                  [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                  <i class="fa fa-times"></i>{{'CANCEL'|translate}}
                </jqxButton>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </jqxValidator>

    <div class="grid-container">
      <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'"
        [source]="dataAdapter" [columns]="columns" [pageable]="true"
        [autorowheight]="true" [sortable]="true" [editable]="true"
        [columngroups]="columngroups" [theme]="'energyblue'"
        [selectionmode]="'checkbox'" [showtoolbar]="true"
        [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
      </jqxGrid>
    </div>

    <jqxNotification #msgNotification [width]="250" [position]="'top-right'"
      [opacity]="0.9" [autoOpen]="false"
      [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
      [template]="'success'">
      <div id='message'></div>
    </jqxNotification>
    <jqxNotification #errNotification [width]="250" [position]="'top-right'"
      [opacity]="0.9" [autoOpen]="false"
      [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
      [template]="'error'">
      <div id='error'></div>
    </jqxNotification>
    <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
      [width]="100" [height]="60">
    </jqxLoader>