<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2>{{'MANAGE_USER' | translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="uForm" [formGroup]="uForm">
            <fieldset>
              <legend>{{'USER_DETAILS' | translate}}</legend>
              <input type="text" name="id" formControlName="id" hidden>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>लगइन नाम *</label>
                    <jqxInput formControlName="loginCode" [theme]="'energyblue'" [width]="200" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'FULL_NAME' | translate}}</label>
                    <!-- <jqxInput formControlName="fullName" class="nepalify" [width]="200" [height]="25"></jqxInput> -->
                    <nepali-input #input1 name="fullName" formControlName="fullName" [height]="25" [placeHolder]="''"  [inputClass]="'px-simple'">
                      </nepali-input>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'EMAIL' | translate}} </label>
                    <jqxInput formControlName="email" [theme]="'energyblue'" [width]="200" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'PASSWORD' | translate}} *</label>
                    <jqxPasswordInput formControlName="password" [theme]="'energyblue'" [width]="200" [height]="25"></jqxPasswordInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'CON_PASSWORD' | translate}} *</label>
                    <jqxPasswordInput formControlName="confirm_password" [theme]="'energyblue'" [width]="200" [height]="25"></jqxPasswordInput>
                    <br/>
                    <span style="color: red;font-size: 10px;" *ngIf="cpwd.hasError('invalid')"> {{'INVALID_PASSWORD' |
                      translate}} </span>
                  </div>
                </div>
                <div class="w-100"></div>
                <!-- <div class="col">
                    <div class="form-group">
                      <label>{{'ADDRESS' | translate}} *</label>
                      <jqxInput formControlName="address" [width]="200" [height]="25"></jqxInput>
                    </div>
                  </div> -->
                <div class="col">
                  <div class="form-group">
                    <label>{{'MOBILE_NO' | translate}}*</label>
                    <jqxInput formControlName="mobileNo"  [theme]="'energyblue'" [width]="200" [height]="25"></jqxInput>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label>{{'MUNICIPAL' | translate}} </label>
                    <select formControlName="orgId" class="selectpicker select-class select-border">
                      <option [selected]="true" value=''>{{'CHOOSE' | translate}}</option>
                      <option *ngFor="let data of organizationAdapter" [value]="data['id']">{{ data['name'] }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'STATUS' | translate}} </label>
                    <select formControlName="status" class="selectpicker select-class">
                      <option [selected]="true" value=''>{{'CHOOSE' | translate}}</option>
                      <option *ngFor="let data of statusAdapter" [value]="data['type']">{{data['name']}}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-left">
                    <label class="">&nbsp;</label>
                    <jqxButton *ngIf="!update" [theme]="'energyblue'" [disabled]="!uForm.valid" [width]="100" (onClick)="save(uForm.value)">
                      {{'SAVE' | translate}}
                    </jqxButton>
                    <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!uForm.valid"
                      (onClick)="updateBtn(uForm.value)">
                      {{'UPDATE' | translate}}
                    </jqxButton>
                    <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                      <i class="fa fa-times"></i>{{'CANCEL' | translate}}
                    </jqxButton>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true"
            [filterable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'"
            [selectionmode]="'checkbox'" [showfilterrow]="true" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
            [keyboardnavigation]="true">
          </jqxGrid>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="200" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="200" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>