<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header
          jqx-widget-header-energyblue">
          <h2>हस्तान्तरण फारम रिपोर्ट</h2>
        </div>
        <div class="bg-white p-1">
          <form name="hastantaranForm" [formGroup]="hastantaranForm"
            id="hastantaranForm">
            <fieldset class="jqx-widget-header-energyblue">
              <legend>{{'SEARCH_BOX'|translate}}</legend>
              <table class="table-w-tooltip">
                <tr>
                  <td>{{'DATE_FROM'|translate}} *
                  </td>
                  <td>
                    <jqxInput #dateFrom formControlName="dateFrom"
                      [placeHolder]="'2075-01-01'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>{{'DATE_TO'|translate}} *
                  </td>
                  <td>
                    <jqxInput formControlName="dateTo"
                      [placeHolder]="'2075-01-30'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>
                    <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                      [disabled]="!hastantaranForm.valid"
                      (onClick)="saveBtn(hastantaranForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
            <h2> हस्तान्तरण फारम रिपोर्ट
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="pReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="10" style="text-align:center;">
                          <span> हस्तान्तरण फारम रिपोर्ट</span>
                        </th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="5">
                          {{'DATE_FROM'|translate}}: {{
                          hastantaranForm.value['dateFrom'] |
                          nepaliNumber
                          }}
                        </th>
                        <th colspan="5">
                          {{'DATE_TO'|translate}}: {{
                          hastantaranForm.value['dateTo'] |
                          nepaliNumber }}
                        </th>
                      </tr>
                      <tr>
                        <th>मिति</th>
                        <th>बुझिलिने कार्यालयको नाम</th>
                        <th>आवेदन कर्ताको नाम</th>
                        <th>सामानको नाम</th>
                        <th>सामानको पहिचान नं:</th>
                        <th>मोडल नंः</th>
                        <th>इकाई</th>
                        <th>परिमाण</th>
                        <!-- <th>सुरु प्राप्त मिति</th> -->
                        <th>कैफियत</th>
                        <th class="last-td">कार्य</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas; let i = index;">
                        <td>{{ data['enterDate'] | nepaliNumber }}</td>
                        <td>{{ data['handOverOrganizationName'] }}</td>
                        <td>{{ data['goodsReceivedBy'] }}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['itemSerialNo'] | nepaliNumber }}</td>
                        <td>{{ data['modelNo'] }}</td>
                        <td>{{ data['unit'] }}</td>
                        <td>{{ data['qty'] | nepaliNumber }}</td>
                        <td>{{data.remarks}}</td>
                        <td class="last-td" (click)="viewItem(data)">
                          <jqxButton>
                            पुरा विवरण
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false"
  [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> Print
      </button>
    </span>
    <div id="printTab" *ngIf="printItemDetails && printOfficialDetails">
      <form [formGroup]="purchasePrintForm">
        <div class="invoice-header">
          <div class="row">
            <div class="col-md-4">
              &nbsp;
            </div>
            <div class="col-md-4">
              <p class="meta-sub">स्थानीय तह </p>
              <p class="meta-sub">{{organizationAdapter[0]?.name}}<br/></p>
                <!-- {{organizationAdapter[0]['address']}},{{organizationAdapter[0]['district']}}</p> -->
                <p class="meta-sub"> कार्यालय कोड नं.:
                  {{organizationAdapter[0]?.orgCodeNo | nepaliNumber}} </p>
                <p class="meta-invoice-title center"
                  style="font-size:12px;text-decoration: underline;text-align:
                  center;">हस्तान्तरण फारम</p>
              </div>
              <div class="col-md-3">
                <p style="text-align: right;">म.ले.प.फारम नं: ४०६ <br>साबिकको
                  फारम नं.: ४८</p>
              </div>
            </div>

            <!-- </div> -->
            <div class="header-row">
              <table width="100%">
                <tr>
                  <td width="50%">
                    <p>यस कार्यालयको तपसिल अनुसारको मालसामान हस्तान्तरण गरिएको
                      छ।
                      <!-- l : {{printItemDetails?.itemName}}<br/> -->
                      सामानको हस्तान्तरण गर्ने निर्णय नं:
                      <span class="display-here"><input type="text" class="display-here"
                        formControlName="handOverDecisionNo"></span>
                        <span class="display-print">{{purchasePrintForm.handOverDecisionNo.value}}</span>
                      {{printItemDetails?.decisionNo}}<br/>
                        सामान हस्तान्तरण गर्ने निर्णय मिति: <span
                          class="display-here">
                          {{printItemDetails?.decisionDate | nepaliNumber }}</span>
                        <!-- <input type="text" class="display-here"
                          formControlName="itemNumber"><br/> --><br/>
                          सामान हस्तान्तरण गरिएको कार्यालयको नाम
                          :{{printItemDetails?.handOverOrganizationName}}
                        </p>
                      </td>
                      <td style="text-align: right;" width="25%">&nbsp;</td>
                      <td width="25%" style="text-align: left;">
                        <p>मिति :{{printItemDetails?.decisionDate | nepaliNumber}}</p>
                        <p>हस्तान्तरण फारम नं: <span class="display-here"><input type="text" class="display-here"
                            formControlName="handOverDecisionNo"></span>
                            <span class="display-print">{{purchasePrintForm.handOverDecisionNo.value}}</span>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="header-row">

                </div>

              </div>

              <div class="invoice-container">
                <table class="invoice-table" border="1">
                  <thead>
                    <tr>
                      <th>क्र.सं.</th>
                      <th>जिन्सी वर्गीकरण संकेत नं.</th>
                      <th>जिन्सी खाता पाना नं.</th>
                      <th>सामानको नाम </th>
                      <th>स्पेसिफिकेसन</th>
                      <th>सामानको पहिचान नं.</th>
                      <th>मोडल नं.</th>
                      <th>इकाई</th>
                      <th>परिमाण</th>
                      <th>जम्मा परल मूल्य </th>
                      <th>सुरु प्राप्त मिति</th>
                      <th>सामानको भौतिक अवस्था</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td style="font-size:12px;">{{printItemDetails?.id}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.assetCode
                        | nepaliNumber}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.assetPageNo
                        | nepaliNumber}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.itemName}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.specification}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.itemSerialNo}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.modelNo}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.unit}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.qty |
                        nepaliNumber}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.paralPrice
                        | nepaliNumber}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.enterDate
                        | nepaliNumber}}</td>
                      <td style="font-size:12px;">{{printItemDetails?.physicalState}}</td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p>सामान हस्तान्तरण गर्ने कार्यालयले भर्ने:</p>
                </div>
                <div class="col-md-6">
                  <p>सामान बुझिलिने कार्यालयले भर्ने:</p>
                </div>
              </div>
              <div style="border:1px solid black;">
                <div class="row">
                  <div class="col-md-2">
                    <div>
                      <p style="font-size:12px;">
                        सामान बुझाउनेको:
                      </p>
                      <p style="font-size:12px;">
                        नाम: <span
                          >
                          <!-- {{purchasePrintForm.value['storeHeadName']}} -->
                          {{printItemDetails?.handoverToApprovedBy}}
                        </span>
                        <!-- <input type="text" style="width: 67%;"
                          class="display-here"
                          formControlName="storeHeadName" placeholder="">
                      </p> -->
                      <!-- <p style="font-size:12px;">
                        पद: <span
                          >{{purchasePrintForm.value['storeHeadPost']}}</span>
                        <input type="text" style="width: 67%;"
                          class="display-here"
                          formControlName="storeHeadPost" placeholder="">
                      </p> -->
                      <p>दस्तखतः </p>
                      <p style="font-size:12px;">
                        मिति : <span
                          >
                          {{printItemDetails?.enterDate}}
                          <!-- {{purchasePrintForm.value['storeHeadDate']}} -->
                        </span>
                        <!-- <input type="text" style="width: 67%;"
                          class="display-here"
                          formControlName="storeHeadDate" placeholder=""> -->
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <p style="font-size:12px;">
                        सामान हस्तान्तरण गर्ने कार्यालय
                        प्रमुखको:{{printOfficialDetails[0]?.checkBy}}
                      </p>
                      <p style="font-size:12px;">
                        नाम: <span
                          >{{printItemDetails?.enterBy}}</span>
                        <!-- <input type="text" class="display-here"
                          formControlName="orgHeadName" placeholder="">
                      </p> -->
                      <!-- <p style="font-size:12px;">
                        पदः <span
                          >{{purchasePrintForm.value['orgHeadPost']}}</span>
                        <input type="text" class="display-here"
                          formControlName="orgHeadPost" placeholder="">
                      </p> -->
                      <p>दस्तखतः </p>
                      <p style="font-size:12px;">
                        मिति : <span
                          >{{printItemDetails?.enterDate}}</span>
                          <span class="display-here"><input type="text" class="display-here"
                            formControlName="handoverByChiefDate"></span>
                            <span class="display-print">{{purchasePrintForm.handoverByChiefDate.value}}</span>
                        <!-- <input type="text" class="display-here"
                          formControlName="orgHeadDate"
                          placeholder=""> -->
                      </p>
                    </div>
                  </div>
                  <!-- seond part -->
                  <div class="col-md-3">
                    <div>
                      <p style="font-size:12px;">
                        सामान बुझिलिनेको:
                      </p>
                      <p style="font-size:12px;">
                        नाम: <span
                          >{{printItemDetails?.handoverApprovedBy}}</span>
                        <!-- <input type="text" class="display-here"
                          formControlName="storeHeadName" placeholder=""> -->
                      </p>
                      <!-- <p style="font-size:12px;">
                        पद: <span
                          >{{purchasePrintForm.value['storeHeadPost']}}</span>
                        <input type="text" class="display-here"
                          formControlName="storeHeadPost" placeholder="">
                      </p> -->
                      <p>दस्तखतः </p>
                      <p style="font-size:12px;">
                        मिति : <span class="display-here"><input type="text" class="display-here"
                            formControlName="handoverToDate"></span>
                            <span class="display-print">{{purchasePrintForm.handoverToDate.value}}</span>
                        <!-- <input type="text" class="display-here"
                          formControlName="storeHeadDate" placeholder=""> -->
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <p style="font-size:12px;">
                        बुझिलिने कार्यालय
                        प्रमुखको:{{printOfficialDetails[0]?.checkBy}}
                      </p>
                      <p style="font-size:12px;">
                        नाम: <span
                          >{{printItemDetails?.handoverTo}}</span>
                        <!-- <input type="text" class="display-here"
                          formControlName="orgHeadName" placeholder=""> -->
                      </p>
                      <!-- <p style="font-size:12px;">
                        पद: <span
                          class="display-print">{{purchasePrintForm.value['orgHeadPost']}}</span>
                        <input type="text" class="display-here"
                          formControlName="orgHeadPost" placeholder="">
                      </p> -->
                      <p>दस्तखतः </p>
                      <p style="font-size:12px;">
                        मिति : <span class="display-here"><input type="text" class="display-here"
                            formControlName="handoverToChiefDate"></span>
                            <span class="display-print">{{purchasePrintForm.handoverToChiefDate.value}}</span>
                        <!-- <input type="text" class="display-here"
                          formControlName="orgHeadDate"
                          placeholder=""> -->
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </jqxWindow>

      <jqxNotification #msgNotification [width]="250"
        [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
        [autoClose]="true"
        [animationOpenDelay]="800" [autoCloseDelay]="3000"
        [template]="'success'">
        <div id='message'></div>
      </jqxNotification>
      <jqxNotification #errNotification [width]="250"
        [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
        [autoClose]="true"
        [animationOpenDelay]="800" [autoCloseDelay]="3000"
        [template]="'error'">
        <div id='error'></div>
      </jqxNotification>
      <jqxLoader #jqxLoader [imagePosition]="'top'"
        [theme]="'energyblue'"
        [width]="100" [height]="60">
      </jqxLoader>
