<div #jqxWidget class="menu-container" *ngIf="pcUserType == 'A'">
    <jqxMenu #jqxMenu [width]="'100%'" [keyboardNavigation]="true" (onItemclick)="menuClicked($event)"
        [autoSizeMainItems]="true" [theme]="'energyblue'">
        <ul>
            <li>
                <a routerLink="/dashboard">
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                    {{'DASHBOARD'|translate}}
                </a>
            </li>
            <li>
                <i class="fa fa-wrench" aria-hidden="true"></i> &nbsp;
                {{'SETUP'|translate}}
                <ul>

                    <li>
                        <a routerLink="/setup/financial-year">{{
                            'FINANCIAL_YEAR' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/item-chart">{{'ITEM_CHART'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/supplier-master"> {{
                            'SUPPLIER_MASTER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/organization-branch">{{'ORG_WARD'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/organization-division">{{'ORG_DIV_B'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/unit">एकाई</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-tasks" aria-hidden="true"></i> &nbsp; {{
                'OPERATION' | translate }}
                <ul>
                    <li>
                        <a routerLink="/operation/purchase-order">{{'PURCHASE_ORDER'|
                            translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-receiving-notes">{{'GOODS_RECEIVING_NOTES'|
                            translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/requisition-slip">{{'REQUISITION_SLIP'|
                            translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-issue">{{'GOOD_ISSUE'|
                            translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-issue-return">{{'GOODSISSUERETURN'|
                            translate}}</a>
                    </li>

                    <!-- <li>
                        <a routerLink="/operation/inventory-use-details">{{'INVENTORY_USE_DETAIL'|
                            translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/inventory-unuse-details">{{'INVENTORY_UNUSE_DETAIL'|
                            translate}}</a>
                    </li> -->
                    <li>
                        <a routerLink="/operation/marmat-sambhar-new">{{'MARMATSAMBHAR'|
                            translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/marmat-sambhar">{{'MARMATABHILEKH'|
                            translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/jinsi-minaha">जिन्सी मिन्हा</a>
                    </li>
                    <li>
                        <a routerLink="/operation/jinsi-supervision">{{'SUPERVISION'|
                            translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/receipt-description">{{'RECEIPT'|
                            translate}}</a>
                    </li>

                </ul>
            </li>
            <li>
                <i class="fa fa-cube"></i> अनुमोदन
                <ul>
                    <li>
                        <a routerLink="/utility/approve-purchase-order">{{'APPROVE_PURCHASE_ORDER'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/approve-goods-receipt-notes">{{'APPROVE_GRN'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/approve-requisition">{{'APPROVE_REQUSITION'|translate}}</a>
                    </li>


                    <!-- <li>
                                    <a routerLink="/utility/organization-division">{{'ORG_DIV'|translate}}</a>
                                </li> -->
                    <!-- <li>
                            <a routerLink="/utility/location-master">{{'LOCATION_MASTER'|translate}}</a>
                        </li> -->

                </ul>
            </li>
            <li>
                <i class="fa fa-cube"></i> {{'UTILITY'|translate}}
                <ul>

                    <li>
                        <a routerLink="/utility/supervisor">{{'SUPERVISOR'|translate}}</a>
                    </li>

                    <li>
                        <a routerLink="/setup/organization-master">कार्यालय विवरण</a>
                    </li>
                    <li> {{'MANAGEUSER'|translate}}
                        <ul>
                            <li #mID id="mn">
                                <a routerLink="/utility/user-municipal">{{'MUNICIPAL'|translate}}</a>
                            </li>
                            <li>
                                <a routerLink="/utility/user-division">{{'DIVISION'|translate}}</a>
                            </li>
                            <li>
                                <a routerLink="/utility/user-ward">{{'WARD'|translate}}</a>
                            </li>
                        </ul>
                        <!-- <li>
                                    <a routerLink="/utility/organization-division">{{'ORG_DIV'|translate}}</a>
                                </li> -->
                        <!-- <li>
                            <a routerLink="/utility/location-master">{{'LOCATION_MASTER'|translate}}</a>
                        </li> -->
                    <li>
                        <a routerLink="/utility/permission">{{'MANAGEPERMISSION'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/change-password">{{'CHANGEPASSWORD'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-line-chart"></i> {{'REPORT'| translate}}
                <ul>
                    <li>
                        <a routerLink="/report/purchase-order-report">{{'PURCHASE_ORDER_REPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/grn-main-report">{{'GRN_REPORT_HEADER'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/requisition-report">{{'REQUISITION_REPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/goods-issue-report">{{'GOODS_ISSUE_REPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/hastantaran-pharam-report">हस्तान्तरण
                            फारम रिपोर्ट</a>
                    </li>
                    <li>
                        <a routerLink="/report/goods-issue-return-report">समान जारी फिर्ता रिपोर्ट </a>
                    </li>

                    <!-- <li>
                        <a routerLink="/report/inventory-location-report">{{'INVENTORY_LOCATION'| translate}}</a>
                    </li> -->
                    <li>
                        <a routerLink="/report/marmat-sambhar-report">मर्मत
                            सम्भार तथा संरक्षण आवेदन रिपोर्ट </a>
                    </li>
                    <li>
                        <a routerLink="/report/marmat-sambhar-abhilekh-report">मर्मत
                            सम्भार तथा अभिलेख खाता </a>
                    </li>
                    <li>
                        <a routerLink="/report/kharchabhayera-jane-jinsikhata">खर्च
                            भएर जाने वस्तुको सुची</a>
                    </li>
                    <li>
                        <a routerLink="/report/kharchabhayera-najane-jinsikhata">खर्च
                            भएर नजाने बस्तुको सुची</a>
                    </li>
                    <li>
                        <a routerLink="/report/Ginsi-inspection-form-report">
                            {{'GINSI_INSPECTION_REPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/grn-report">{{'GRN_HEADER'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/receipt-niryantran-report">{{'RECEIPT_NIRYANTRAN'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/jinsi-minha-report">{{'JINSI_MINHA'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/current-stock-report">{{'CURRENT_STOCK'|translate}}</a>
                    </li>
                    <!-- <li>
                            <a routerLink="/report/inventory-ledger-report">{{'INVENTORY_LEDGER'|
                                translate}}</a>
                        </li> -->
                </ul>
            </li>
            <div style="float:right;">
                <span *ngIf="userData?.fiscalYear">{{ 'FISCALYEAR' |
                        translate }} : {{ userData.fiscalYear }} |</span>
                <!-- <span *ngIf="userData?.userName">{{ 'USERNAME' | translate }} : {{ userData.userName }} |</span>
                    <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="showKeyboard()">
                        <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    </jqxButton>
                    <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="logOut()">
                        <i class="fa fa-sign-out"></i> {{'LOGOUT'|translate}}
                    </jqxButton> -->
                <span *ngIf="uname" style="font-weight:bold;height:40px">{{
                        'USER' | translate }} : {{ uname }} </span>
                <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="showKeyboard()">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                </jqxButton>


                <jqxButton class="tool" style="margin-right: 5px;margin-top:
                        1px;" [theme]="'energyblue'" (onClick)="changeKeyboard()">
                    {{lay}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="logOut()">
                    <i class="fa fa-sign-out"></i> {{'LOGOUT'|translate}}
                </jqxButton>
            </div>
        </ul>
    </jqxMenu>
</div>

<div class="menu-container" *ngIf="pcUserType != 'A'">
    <jqxMenu #jqxMenu1 [width]="'100%'" [keyboardNavigation]="true" (onItemclick)="menuClicked($event)"
        [autoSizeMainItems]="true" [theme]="'energyblue'">
        <ul>
            <li>
                <a routerLink="/dashboard-ward">
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                    {{'DASHBOARD'|translate}}
                </a>
            </li>
            <li>
                <i class="fa fa-tasks" aria-hidden="true"></i> &nbsp; {{
                    'OPERATION' | translate }}
                <ul>
                    <li>
                        <a routerLink="/operation/purchase-order">{{'PURCHASE_ORDER'|
                                        translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-receiving-notes">{{'GOODS_RECEIVING_NOTES'|
                                        translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/requisition-slip">{{'REQUISITION_SLIP'|
                                        translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-issue-return">{{'GOODSISSUERETURN'|
                                            translate}}</a>
                    </li>

                </ul>
            </li>
            <li>
                <i class="fa fa-line-chart"></i> {{'REPORT'| translate}}
                <ul>

                    <li>
                        <a routerLink="/report/purchase-order-report">{{'PURCHASE_ORDER'|
                                translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/grn-main-report">{{'GRN_REPORT_HEADER'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/requisition-report">{{'REQUISITION_REPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/inventory-location-report">{{'INVENTORY_LOCATION'|
                                translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-cube"></i> {{'UTILITY'|translate}}
                <ul>
                    <li>
                        <a routerLink="/utility/change-password">{{'CHANGEPASSWORD'|translate}}</a>
                    </li>
                </ul>
            </li>

            <div style="float:right;">
                <span *ngIf="userData?.fiscalYear">{{ 'FISCALYEAR' |
                        translate }} : {{ userData.fiscalYear }} |</span>
                <!-- <span *ngIf="userData?.userName">{{ 'USERNAME' | translate }} : {{ userData.userName }} |</span>
                    <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="showKeyboard()">
                        <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    </jqxButton>
                    <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="logOut()">
                        <i class="fa fa-sign-out"></i> {{'LOGOUT'|translate}}
                    </jqxButton> -->
                <span *ngIf="uname" style="font-weight:bold;height:40px">{{
                        'USER' | translate }} : {{ uname }} </span>
                <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="showKeyboard()">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                </jqxButton>
                <jqxButton class="tool" style="margin-right: 5px;margin-top:
                        1px;" [theme]="'energyblue'" (onClick)="changeKeyboard()">
                    {{lay}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="logOut()">
                    <i class="fa fa-sign-out"></i> {{'LOGOUT'|translate}}
                </jqxButton>
            </div>
        </ul>
    </jqxMenu>
</div>


<jqxWindow #keyboardWindow [width]="'60%'" [height]="'65%'" [minWidth]="'35%'" [minHeight]="'40%'"
    [theme]="'energyblue'" [showCollapseButton]="true" [autoOpen]="false" [isModal]="false">
    <div>
        <span>
            <i class="fa fa-keyboard-o" aria-hidden="true"></i> Nepali Keyboard Layout
        </span>
    </div>
    <div style="overflow: hidden;" #windowContent>
        <!-- <div style="width: 100%; height:100%;">
            <img src="assets/images/keyboard-layout.png">
        </div> -->
        <div *ngIf="tog" style="width: 100%; height:100%;">
            <img src="assets/images/keyboard-layout.png">
        </div>
        <div *ngIf="!tog" style="width: 100%; height:100%;">
            <img src="assets/images/Nepali-layout-kb.jpg">
        </div>
    </div>
</jqxWindow>
