<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header
          jqx-widget-header-energyblue">
          <h2>{{'INVENTORY_LEDGER'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <jqxValidator #myValidator>
            <form name="alForm" [formGroup]="alForm" id="alForm">
              <fieldset class="jqx-widget-header-energyblue">
                <legend>{{'SEARCH_BOX'|translate}}</legend>
                <table class="table-w-tooltip">
                  <tr>
                    <td>{{'ITEM'|translate}}<td>
                        <td>
                          <input type="hidden" formControlName="itemCode"
                            class="px-control">
                          <input type="text" (keyup)="itemFilter($event)"
                            formControlName="name" class="px-control nepalify
                            nepalify1">
                          <span *ngIf="itemFocus" class="px-select-container">
                            <select (change)="itemListSelected($event)"
                              (blur)="itemFocus= false;" size="5"
                              name="itemCode"
                              class="px-control px-select-list" id="itemCode">
                              <option disabled="true" value="">{{'CHOOSE_ITEM'|translate}}</option>
                              <option *ngFor='let item of itemAdapter'
                                [value]="item.itemCode">{{ item.itemNameNepali
                                }}</option>
                            </select>
                          </span>
                        </td>
                        <td>{{'CATEGORY'|translate}}</td>
                        <td>
                          <select formControlName="reqType"
                            (change)="categoryChange($event)" style="width:
                            100px;" class="select-control selectpicker
                            select-class select-border">
                            <option [selected]="'true'" [disabled]="'true'"
                              value=''>{{'CHOOSE'|translate}}</option>
                            <option *ngFor="let data of cAdapter;let i=index"
                              [value]="data['name']">{{data['id']}}</option>
                          </select>
                        </td>
                        <td *ngIf="showWard">{{'WARD'|translate}}</td>
                        <td *ngIf="showWard">
                          <select formControlName="ward" style="width: 100px;"
                            class="select-control selectpicker select-class
                            select-border">
                            <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                            <option *ngFor="let data of wardAdapter;let i=index"
                              [value]="data['id']">{{ data['name'] }}</option>
                          </select>
                        </td>
                        <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                        <td *ngIf="showDivision">
                          <select formControlName="division" style="width:
                            100px;" class="select-control selectpicker
                            select-class select-border">
                            <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                            <option *ngFor="let data of divisionAdapter;let
                              i=index" [value]="data['id']">{{
                              data['nameNepali'] }}</option>
                          </select>
                        </td>
                        <td>{{'DATE_FROM'|translate}} *
                        </td>
                        <td>
                          <jqxInput #dateFrom formControlName="dateFrom"
                            [placeHolder]="'2075-01-01'" [width]="100"
                            [height]="25"></jqxInput>
                        </td>
                        <td>{{'DATE_TO'|translate}} *
                        </td>
                        <td>
                          <jqxInput formControlName="dateTo"
                            [placeHolder]="'2075-01-30'" [width]="100"
                            [height]="25"></jqxInput>
                        </td>
                        <!-- <td>वस्तुको प्रकार</td>
                        <td>
                          <select formControlName="itemType"
                            class="select-control selectpicker select-class
                            select-border">
                            <option [selected]="'true'" value=''>छान्नुहोस्</option>
                            <option value="1">स्थिर सम्पति</option>
                            <option value="2">सुची वस्तु</option>
                          </select>
                        </td> -->
                        <td>
                          <jqxButton style="margin-right: 5px;"
                            [theme]="'energyblue'" [disabled]="!alForm.valid"
                            (onClick)="saveBtn(alForm.value)">
                            {{'SEARCH'|translate}}
                          </jqxButton>
                        </td>
                      </tr>
                    </table>
                  </fieldset>
                </form>
              </jqxValidator>
            </div>
            <div class="rs-grid-panel bg-white">
              <div class="tfm-panel-header jqx-widget-header jqx-window-header
                jqx-widget-header-energyblue">
                <h2> {{'INVENTORY_LEDGER_DETAIL'|translate}}
                  <span *ngIf="reportDatas.length>0" class="float-right">
                    <button (click)="printReport()" class="btn btn-sm
                      btn-primary">
                      <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                    </button>
                  </span>
                  <span *ngIf="reportDatas.length>0" class="float-right">
                    <button (click)="exportReport()" class="btn btn-sm
                      btn-primary">
                      <i class="fa fa-excel fa-fw"></i>
                      {{'EXPORT_EXCEL'|translate}}
                    </button>
                    &nbsp; &nbsp;
                  </span>
                </h2>
              </div>
              <div class="scroll-container" style="margin: 10px;">
                <div class="row justify-content-md-center">
                  <div class="col-12">
                    <div id="reportContainer">
                      <div class="info-container">
                      </div>
                      <table class="table table-bordered">
                        <thead>
                          <tr *ngIf="reportDatas.length>0">
                            <th colspan="10" style="text-align:center;">{{'INVENTORY_LEDGER_DETAIL'|translate}}</th>
                          </tr>
                          <tr *ngIf="reportDatas.length>0">
                            <th colspan="5">
                              {{'DATE_FROM'|translate}}: {{
                              alForm.value['dateFrom'] | nepaliNumber }}
                            </th>
                            <th colspan="5">
                              {{'DATE_TO'|translate}}: {{ alForm.value['dateTo']
                              | nepaliNumber }}
                            </th>
                          </tr>
                          <tr>
                            <th> {{'SN'|translate}}</th>
                            <th>{{'ITEM_CODE'|translate}}</th>
                            <th>{{'BILL_DATE'|translate}}</th>
                            <th>{{'RECEIVE_FOR'|translate}}</th>
                            <th>{{'INQTY'|translate}}</th>
                            <th>{{'OUTQTY'|translate}}</th>
                            <th>{{'ENTER_BY'|translate}}</th>
                            <th>{{'TOTAL'|translate}} </th>
                            <!-- <th class="last-td">Actions</th> -->
                          </tr>
                        </thead>
                        <tbody *ngIf="reportDatas.length>0">
                          <tr *ngFor="let data of reportDatas; let i=index">
                            <td>{{ i+1 | nepaliNumber }}</td>
                            <td>{{ data['itemCode'] | nepaliNumber }}</td>
                            <td>{{ data['enterDate'] | nepaliNumber }}</td>
                            <td>{{ data['receiveFor'] }}</td>
                            <td>{{ data['inQty'] | nepaliNumber }}</td>
                            <td>{{data['outQty'] | nepaliNumber }}</td>
                            <td>{{ data['enterBy'] }}</td>
                            <td>{{data['totalAmount'] | nepaliNumber }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailsReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> Print
      </button>
    </span>
    <div class="scroll-container" id="printContent">
      <p style="text-align: center;" *ngIf="reportDatas[1]"> Item Name: {{reportDatas[1][0]['itemName']}}</p>
      <p style="text-align: center;" *ngIf="reportDatas[1]"> Asset Code: {{itemDetails}}</p>
      <div class="row justify-content-md-center">
        <div class="col col-left">
          <div>
            <div class="insurance" *ngIf="insurances">
              <fieldset>
                <legend>Insurance Details</legend>
                <h5>{{insurances['insurancesCompaniesName']}}</h5>
                <p>Company Code:{{insurances['insurancesCompaniesCode']}}</p>
                <p>Address:{{insurances['address']}}</p>
                <p>Office Contact No:{{insurances['officeContactNo']}}</p>
                <p>Contact Person:{{insurances['contactPerson']}}</p>
                <p>Contact Person No:{{insurances['contactPersonNo']}}</p>
                <p>Insurance Date From:{{insurances['insuranceDateFrom']}}</p>
                <p>Insurance Date To:{{insurances['insuranceDateTo']}}</p>
                <p>Insurance Amount:{{insurances['insuranceAmount']}}</p>
              </fieldset>
            </div>
            <div class="info-container">
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Accessories Name</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody *ngIf="accessoriesDatas">
                <tr *ngFor="let data of accessoriesDatas">
                  <td>{{ data['accessoriesName'] }}</td>
                  <td>{{ data['remarks'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col col-right">
          <div>
            <div class="warranty" *ngIf="warranty">
              <fieldset>
                <legend>Warranty Details</legend>
                <h5>{{warranty['warrantyCompany']}}</h5>
                <p>Address:{{warranty['warrantyCompanyAddress']}}</p>
                <p>Contact Person:{{warranty['contactPerson"']}}</p>
                <p>Contact No:{{warranty['contactNo']}}</p>
                <p>Warranty From:{{warranty['warrantyFrom']}}</p>
                <p>Warranty Month:{{warranty['warrantyMonth']}}</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </fieldset>
            </div>
            <div class="info-container">
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Specification Name</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody *ngIf="specificationDatas">
                <tr *ngFor="let data of specificationDatas">
                  <td>{{ data['specificationName'] }}</td>
                  <td>{{ data['remarks'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container imgage-div" *ngIf="itemImages.length>0">
        <div class="row">
          <ng-container *ngFor="let imageName of itemImages;let i=index;">
            <div class="col" [id]="'data'+i" style="border: 1px dotted #add; text-align: right;padding: 5px;margin: 5px;">
              <img [src]="fileUrl+imageName.fileName" class="image-class">
              <button (click)="DeletePhoto(imageName.fileName,i)">
                <i style="color:red;" class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</jqxWindow> -->
    <jqxNotification #msgNotification [width]="250" [position]="'top-right'"
      [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
      [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
      <div id='message'></div>
    </jqxNotification>
    <jqxNotification #errNotification [width]="250" [position]="'top-right'"
      [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
      [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
      <div id='error'></div>
    </jqxNotification>
    <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
      [width]="100" [height]="60">
    </jqxLoader>