<div class="container-fluid tfm-panel">
    <form name="minahForm" [formGroup]="minahForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
                        <h2> जिन्सी मिनाह </h2>
                    </div>
                    <div class="bg-white p-1">
                        <fieldset>
                            <legend>जिन्सी मिनाह विवरण</legend>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "FINANCIAL_YEAR" | translate }}</label>
                                        <select formControlName="financialYear" class="select-control selectpicker select-class
                      select-border">
                                            <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let fy of fiscalYearAdapter" [value]="fy['fySymbol']">
                                                {{fy['fiscalYear']}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>मिनाह मिति</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="enterDate"
                                            [placeHolder]="'YYYY-MM-DD'" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>मिनाह गर्नेको नाम</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="enterBy"
                                            [placeHolder]="'Manoj Kumar
                      Singh'" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label>निर्णय मिति</label>
                                        <input type="text" formControlName="decisionDate" class="px-control">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>निर्णय गर्ने पदाधिकारीको नाम </label>
                                        <nepali-input #nepali [height]="25" name="decisionGivenBy"
                                            formControlName="decisionGivenBy" [placeHolder]="''"
                                            [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">


                            </div>
                        </fieldset>
                    </div>
                    <div class="rs-grid-panel bg-white">
                        <fieldset>
                            <legend>मिनाह वस्तु</legend>
                            <a (click)="addItem()" class="btn btn-sm btn-primary px-btn">
                                <i class="fa fa-fw fa-plus" aria-hidden="true"></i> {{
                "ADDITEMS" | translate }}</a>
                            <div formArrayName="requisitionItems">
                                <div class="row row-head">
                                    <div class="col-md-1">
                                        <p>{{ "ITEM" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{'ITEMCODE' | translate}}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "QUANTITY" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "UNIT" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>प्रयोग भएको वर्ष</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>परल मूल्य</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>हालको मूल्यांकन मूल्य</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>कारण </p>
                                    </div>

                                    <!-- <div class="col-md-1">
                                        <p>निर्णय मिति</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>निर्णय गर्ने पदाधिकारीको नाम </p>
                                    </div> -->
                                    <div class="col-md-2">
                                        <p>{{ "REMARKS" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "ACTION" | translate }}</p>
                                    </div>
                                </div>
                                <div class="form-array-container">
                                    <div *ngFor="let reqItem of
                    minahForm.get('requisitionItems')['controls']; let i= index" class="form-array-container-inner">
                                        <div class="row p-1 row-body" [formGroupName]="i">

                                            <!-- <div class="col-md-2">
                        <app-search-selection-item #sItem [formGroup]="itemForm"
                          (click)="selectedItem(i)" height="23px" width="27px"></app-search-selection-item>
                        <input type="hidden" formControlName="itemCode"
                          class="px-control" placeholder="Item">
                        <input type="hidden" formControlName="itemName"
                          class="px-control" placeholder="Item">
                        <small [hidden]="itemForm['controls'].name.valid ||
                          !itemForm['controls'].name.value"
                          class="form-control-feedback text-danger
                          px-control-error">
                          * required
                        </small>
                      </div> -->








                                            <div class="col-md-1">

                                                <input type="text" formControlName="itemCode" class="px-control"
                                                    placeholder="Item" hidden>
                                                <input type="text" (keyup)="itemFilter($event,
                          i)" (focus)="itemFilterShow($event,
                          i)" (keydown)="moveFocus($event,i)" formControlName="itemName" class="px-control nepalify
                          nepalify1" [placeholder]="'ITEM'|translate">
                                                <span *ngIf="itemFocus[i]" class="px-select-container">
                                                    <select #item (change)="itemListSelected($event,
                            i)" (blur)="itemFocus[i]=
                            false;" size="5" name="itemCode" class="px-control
                            px-select-list" id="itemCode">
                                                        <option *ngFor='let item
                              of itemAdapter[i]' [value]="item.itemCode">{{
                              item.itemNameNepali
                              }}</option>
                                                    </select>
                                                </span>
                                                <small [hidden]="reqItem['controls'].itemCode.valid
                          ||
                          !reqItem['controls'].itemCode.touched" class="form-control-feedback
                          text-danger
                          px-control-error">
                                                    * required
                                                </small>
                                            </div>

                                            <div class="col-md-1">
                                                <select formControlName="itemSerialNo" class="px-control
                            px-select-list">
                                                    <option value="">छान्नुहोस् </option>
                                                    <option *ngFor='let item
                              of itemSerialNo' [value]="item.itemSerialNo">{{
                              item.itemSerialNo
                              }}</option>
                                                </select>
                                            </div>



                                            <div class="col-md-1">
                                                <input type="number" formControlName="qty" class="px-control">
                                                <small [hidden]="reqItem['controls'].qty.valid
                          || !reqItem['controls'].qty.touched" class="form-control-feedback text-danger
                          px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <select name="unit" formControlName="unit" class="px-control">
                                                    <option *ngFor='let unit of unitAdapter' [value]="unit.value">
                                                        {{unit.name}}</option>
                                                </select>
                                                <small [hidden]="reqItem['controls'].unit.valid ||
                          !reqItem['controls'].unit.touched" class="form-control-feedback text-danger
                          px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <!-- 1 -->
                                                <input type="number" formControlName="usedFiscalYear" class="px-control"
                                                    placeholder="">
                                                <small [hidden]="reqItem['controls'].usedFiscalYear.valid
                          || !reqItem['controls'].usedFiscalYear.touched" class="form-control-feedback text-danger
                          px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <!-- 2 -->
                                                <input type="number" formControlName="paralMulya" class="px-control">
                                            </div>
                                            <div class="col-md-1">
                                                <!-- 3 -->
                                                <input type="number" formControlName="salvageValue" class="px-control">
                                            </div>

                                            <div class="col-md-1">

                                                <nepali-input [height]="25" name="reason" formControlName="reason"
                                                    [placeHolder]="''" [inputClass]="'px-control'">
                                                </nepali-input>

                                            </div>
                                            <!-- <div class="col-md-1">

                                                <input type="text" formControlName="decisionDate" class="px-control">
                                            </div>

                                            <div class="col-md-1">

                                                <nepali-input [height]="25" name="narration"
                                                    formControlName="decisionGivenBy" [placeHolder]="''"
                                                    [inputClass]="'px-control'">
                                                </nepali-input>

                                            </div> -->
                                            <div class="col-md-2">
                                                <!-- <input type="text" formControlName="remarks" class="px-control nepalify"> -->
                                                <nepali-input name="remarks" formControlName="remarks"
                                                    [placeHolder]="''" [inputClass]="'px-control'">
                                                </nepali-input>
                                                <small [hidden]="reqItem['controls'].remarks.valid ||
                          !reqItem['controls'].remarks.touched" class="form-control-feedback text-danger
                          px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" (click)="removeItem(i)" class="btn
                          btn-sm btn-danger" [disabled]="minahForm.get('requisitionItems').length
                        <2">
                                                    <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                                                    {{ "REMOVE" | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>स्टोर प्रमुखको नाम </label>
                                        <nepali-input #nepali [height]="25" name="storeHeadName"
                                            formControlName="storeHeadName" [placeHolder]="''"
                                            [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>मिति </label>
                                        <nepali-input #nepali [height]="25" name="storeHeadDate"
                                            formControlName="storeHeadDate" [placeHolder]="''"
                                            [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>शाखा प्रमुखको नाम </label>
                                        <nepali-input #nepali [height]="25" name="divisionHeadName"
                                            formControlName="divisionHeadName" [placeHolder]="''"
                                            [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>मिति </label>
                                        <nepali-input #nepali [height]="25" name="divisionHeadDate"
                                            formControlName="divisionHeadDate" [placeHolder]="''"
                                            [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>आदेस दिनेको नाम </label>
                                        <nepali-input #nepali [height]="25" name="orderBy" formControlName="orderBy"
                                            [placeHolder]="''" [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>मिति </label>
                                        <nepali-input #nepali [height]="25" name="orderDate" formControlName="orderDate"
                                            [placeHolder]="''" [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <br>
                                        <jqxButton [theme]="'energyblue'" [disabled]="!minahForm.valid" [width]="100"
                                            (onClick)="save(minahForm.value)">
                                            {{ "SAVE" | translate}}
                                        </jqxButton>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
