<div class="container-fluid tfm-panel">
    <form name="rsForm" [formGroup]="rsForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
                        <h2> मर्मत सम्भार तथा संरक्षण खाता </h2>
                    </div>
                    <div class="bg-white p-1">
                        <fieldset>
                            <legend>मर्मत सम्भार तथा संरक्षण विवरण</legend>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>वित्तीय वर्ष</label>
                                        <select formControlName="fy" class="select-control selectpicker select-class
                      select-border">
                                            <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let fy of fiscalYearAdapter" [value]="fy['fySymbol']">
                                                {{fy['fiscalYear']}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>मिति</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="repairDate"
                                            [placeHolder]="'YYYY-MM-DD'" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>आवेदन कर्ताको नाम</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="repairRequestBy"
                                            [placeHolder]="'Manoj Kumar Singh'" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>मर्मत संभार गर्ने व्यक्ति वा फर्मको विवरण</label>
                                        <select formControlName="supplier" class="select-control selectpicker select-class
                          select-border">
                                            <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of supplierAdapter" [value]="data['id']">
                                                {{data['organizationNameNepali']}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label> मर्मत गर्दा फेरिएको नँया सामानको विवरण</label>
                                        <nepali-input #nepali [height]="25" name="repairDescription"
                                            formControlName="repairDescription" [placeHolder]="'विवरण'"
                                            [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>मर्मत गर्दा फेरिएको नँया सामानको मूल्य</label>
                                        <input type="number" class="px-control" formControlName="repairExpenses">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>मर्मत गर्दाको अन्य खर्चको विवरण</label>
                                        <nepali-input #nepali [height]="25" name="otherDescription"
                                            formControlName="otherDescription" [placeHolder]="'विवरण'"
                                            [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>मर्मत गर्दाको अन्य खर्चको मूल्य</label>
                                        <input type="number" class="px-control" formControlName="otherExpenses">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>मर्मत आवेदन फारम नं.</label>
                                        <input type="text" formControlName="itemCode" class="px-control"
                                            placeholder="Item" hidden>

                                        <input type="text" (keyup)="itemFilter($event
                                                )" (focus)="itemFilterShow($event
                                                )" (keydown)="moveFocus($event)" formControlName="assetPageNo" class="px-control nepalify
                                                nepalify1" [placeholder]="'ITEM'|translate">
                                        <span *ngIf="itemFocus" class="px-select-container">
                                            <select #item (change)="itemListSelected($event
                                                  )" (blur)="itemFocus=
                                                  false;" size="5" name="itemCode" class="px-control
                                                  px-select-list" id="itemCode">
                                                <option *ngFor='let item
                                                    of itemAdapter' [value]="item.itemCode">{{
                                                    item.itemNameNepali
                                                    }}</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>समान पहिचान नं</label>
                                        <select formControlName="itemSerialNo" class="px-control
                                            px-select-list">
                                            <option [value]="">Choose</option>
                                            <option *ngFor='let item
                                              of itemSerial' [value]="item.itemSerialNo">{{
                                              item.itemSerialNo
                                              }}</option>
                                        </select>
                                        <!-- <nepali-input #nepali [height]="25" name="itemIdentification" formControlName="itemIdentification"
                          [placeHolder]="'विवरण'" [inputClass]="'px-control'">
                        </nepali-input> -->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <table>
                                            <td>
                                                <label>
                                                    {{'CATEGORY'|translate}}
                                                </label>
                                                <select formControlName="reqFor" (change)="categoryChange($event)"
                                                    style="width: 320px;" class="px-control">
                                                    <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                                    <option *ngFor="let data of cAdapter;let i=index"
                                                        [value]="data.name">
                                                        {{ data.id }}
                                                    </option>
                                                </select>
                                            </td>

                                            <td *ngIf="showWard">
                                                <label>
                                                    {{'WARD'|translate}}
                                                </label>
                                                <select formControlName="ward" style="width: 200px;"
                                                    class="px-control ">
                                                    <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                                    <option *ngFor="let data of wardAdapter;let i=index"
                                                        [value]="data['id']">
                                                        {{ data['name'] }}</option>
                                                </select>
                                            </td>

                                            <td *ngIf="showDivision">
                                                <label>
                                                    {{'DIVISION'|translate}}
                                                </label>
                                                <select formControlName="division" style="width: 200px;"
                                                    class="px-control ">
                                                    <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                                    <option *ngFor="let data of divisionAdapter;let i=index"
                                                        [value]="data['id']">{{
                              data['nameNepali'] }}</option>
                                                </select>
                                            </td>
                                        </table>
                                    </div>
                                </div>




                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>मर्मत संभारको निरीक्षण/प्रमाणित गर्नेको नाम र सही</label>
                                        <nepali-input #nepali [height]="25" style="width: 200px;"
                                            name="repairApprovedBy" formControlName="repairApprovedBy"
                                            [placeHolder]="''" [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <jqxButton [theme]="'energyblue'" [disabled]="!rsForm.valid" [width]="100"
                                            (onClick)="save(rsForm.value)">
                                            {{ "SAVE" | translate}}
                                        </jqxButton>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>

<!-- <fieldset>
  <table>
    <thead>
      <tr>
        <th rowspan="2">मिति</th>
        <th rowspan="2">मर्मत आवेदन फारम नं.</th>
        <th rowspan="2">सामानको पहिचान नं.:</th>
        <th rowspan="2">वस्तु</th>
        <th rowspan="2">आवेदन कर्ताको नाम</th>
        <th colspan="2">मर्मत गर्दा फेरिएको नँया सामान</th>
        <th colspan="2">मर्मत गर्दाको अन्य खर्च</th>
        <th rowspan="2">जम्मा लागत</th>
        <th rowspan="2">मर्मत संभार गर्ने व्यक्ति वा फर्मको विवरण</th>
        <th rowspan="2">मर्मत संभारको निरीक्षण/प्रमाणित गर्नेको
          नाम र सही</th>
        <th rowspan="2">कैफियत</th>
        <th rowspan="2">कार्य</th>
      </tr>
      <tr>
        <th>विवरण</th>
        <th>मूल्य</th>
        <th>विवरण</th>
        <th>मूल्य</th>
      </tr>
    </thead>

    <tbody>

    </tbody>
  </table>
</fieldset> -->
