<div style="overflow: hidden;" id="attWindowContainer">
    <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
        <form name="smForm" [formGroup]="smForm" id="smForm">
            <fieldset class="jqx-widget-header-energyblue">
                <legend>{{ 'SUPPLIER_MASTER' | translate }}</legend>
                <table class="table-w-tooltip">
                    <tr>
                        <td>
                            <label>नाम </label>
                            <nepali-input #nepaliInput2 formControlName="name" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <label>जिल्ला</label>
                            <nepali-input #nepaliInput2 formControlName="district" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <label>ठेगाना </label>
                            <nepali-input #nepaliInput2 formControlName="address" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <label>कार्यालय कोड नं </label>
                            <!-- <input class="px-control nepalify" [placeholder]="'ENTER_NAME'|translate" formControlName="organizationNameNepali"> -->
                            <nepali-input #nepaliInput2 formControlName="orgCodeNo" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <label>शाखा प्रमुख </label>
                            <nepali-input #nepaliInput1 formControlName="divisionHeadName" [height]="23"
                                [placeHolder]="'CONTACT_PERSON'|translate" [inputClass]="'px-control'">
                            </nepali-input>

                        </td>
                        <td>
                            <label>कार्यालय प्रमुख </label>
                            <!-- <input class="px-control nepalify" [placeholder]="'CONTACT_PERSON'|translate" formControlName="contactPersonNepali"> -->
                            <nepali-input #nepaliInput1 formControlName="chiefName" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <jqxButton style="margin-right: 5px; margin-top:12px;" [theme]="'energyblue'"
                                [disabled]="!smForm.valid" (onClick)="saveBtn(smForm.value)">
                                {{'SAVE'|translate}}
                            </jqxButton>
                        </td>
                    </tr>


                </table>
            </fieldset>
        </form>
    </jqxValidator>
</div>
