<div style="overflow: hidden;" id="attWindowContainer">
    <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
        <form name="smForm" [formGroup]="smForm" id="smForm">
            <fieldset class="jqx-widget-header-energyblue">
                <legend>विवरण हल्नुहोस </legend>
                <table class="table-w-tooltip">
                    <tr>
                        <td>
                            <label>नाम </label>
                            <nepali-input #nepaliInput2 formControlName="name" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <label>जिल्ला</label>
                            <nepali-input #nepaliInput2 formControlName="district" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <label>ठेगाना </label>
                            <nepali-input #nepaliInput2 formControlName="address" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <label>कार्यालय कोड नं </label>
                            <!-- <input class="px-control nepalify" [placeholder]="'ENTER_NAME'|translate" formControlName="organizationNameNepali"> -->
                            <nepali-input #nepaliInput2 formControlName="orgCodeNo" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>
                        <td>
                            <label>शाखा प्रमुख </label>
                            <nepali-input #nepaliInput1 formControlName="divisionHeadName" [height]="23"
                                [placeHolder]="" [inputClass]="'px-control'">
                            </nepali-input>

                        </td>
                        <td>
                            <label>कार्यालय प्रमुख </label>
                            <!-- <input class="px-control nepalify" [placeholder]="'CONTACT_PERSON'|translate" formControlName="contactPersonNepali"> -->
                            <nepali-input #nepaliInput1 formControlName="chiefName" [height]="23" [placeHolder]=""
                                [inputClass]="'px-control'">
                            </nepali-input>
                        </td>


                        <td *ngIf="!update">
                            <jqxButton style="margin-right: 5px; margin-top:10px;" [theme]="'energyblue'"
                                [disabled]="!smForm.valid" (onClick)="saveBtn(this.formDetails['id],smForm.value)">
                                {{'SAVE'|translate}}
                            </jqxButton>
                        </td>

                        < </tr> </table> </fieldset> </form> </jqxValidator> </div> <jqxNotification #msgNotification
                            [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
                            [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
                            <div id='message'></div>
                            </jqxNotification>
                            <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9"
                                [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
                                [template]="'error'">
                                <div id='error'></div>
                            </jqxNotification>
