<div class="tfm-quick-access-info">
</div>
<div class="tfm-quick-access-header" *ngIf="CurrentPath">
  {{ CurrentPath }}
</div>
<div class="tfm-search-input">
  <input [(ngModel)]="searchText" placeholder="Enter to Start Search.." style="width:98%;">
</div>
<ul class="tfm-quick-access" *ngIf="links">
  <li *ngFor="let link of links | listFilter : searchText">
    <a [routerLink]="link['path']" routerLinkActive="quick-access-active">
      <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i> {{ link['name'] }}</a>
  </li>
</ul>