.tfm-quick-access-info{
    background: #e0eaf5;
    padding: 5px 10px;

    .tfm-garden-name, .tfm-acount-period{
        font-size: 0.7rem;
        margin-bottom: 8px;
        font-weight: bold;

        span{
            font-weight: 200;
        }
    }

    .tfm-logut{
        a{
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }
    }

}

.tfm-quick-access-header {
    padding: 5px 15px;
    background: #efefef;
    text-transform: capitalize;
    font-weight: bold;
}

ul.tfm-quick-access{
    list-style-type: none;
    padding-left: 0px;
    li{
        a{
            display: block;
            padding: 0.3rem 0.2rem;
            padding-left: 0.8rem;
            text-decoration: none;
            color: #333;

            &.quick-access-active{
                background: #e0eaf5;
            }

            .fa {
                font-size: 0.5rem;
            }
        }
    }
        
}