<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header
          jqx-widget-header-energyblue">
          <h2>{{'GOODS_ISSUE_REPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm" id="alForm">
            <fieldset class="jqx-widget-header-energyblue">
              <legend>{{'SEARCH_BOX'|translate}}</legend>
              <table class="table-w-tooltip">
                <tr>
                  <td>{{'REQUEST_FOR'|translate}}</td>
                  <td>
                    <select formControlName="reqFor"
                      (change)="categoryChange($event)" style="width: 100px;"
                      class="select-control selectpicker select-class
                      select-border">
                      <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of cAdapter;let i=index"
                        [value]="data.name">{{ data.id }}</option>
                    </select>
                  </td>
                  <td *ngIf="showWard">{{'WARD'|translate}}</td>
                  <td *ngIf="showWard">
                    <select formControlName="ward" style="width: 100px;"
                      class="select-control selectpicker select-class
                      select-border">
                      <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of wardAdapter;let i=index"
                        [value]="data['id']">{{ data['name'] }}</option>
                    </select>
                  </td>
                  <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                  <td *ngIf="showDivision">
                    <select formControlName="division" style="width: 100px;"
                      class="select-control selectpicker select-class
                      select-border">
                      <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of divisionAdapter;let i=index"
                        [value]="data['id']">{{
                        data['nameNepali'] }}</option>
                    </select>
                  </td>
                  <td>{{'DATE_FROM'|translate}} *
                  </td>
                  <td>
                    <jqxInput #dateFrom formControlName="dateFrom"
                      [placeHolder]="'2075-01-01'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>{{'DATE_TO'|translate}} *
                  </td>
                  <td>
                    <jqxInput formControlName="dateTo"
                      [placeHolder]="'2075-01-30'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>
                    <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                      [disabled]="!alForm.valid"
                      (onClick)="saveBtn(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
            <h2> {{'GOODSISSUE_REPORT'|translate}} {{'DATA'| translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'| translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="9" style="text-align:center;">
                          <span>सामान जारी रिपोर्ट</span>
                        </th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="4">
                          {{'DATE_FROM' | translate}}: {{
                          alForm.value['dateFrom'] | nepaliNumber }}
                        </th>
                        <th colspan="5">
                          {{'DATE_TO'|translate}}: {{ alForm.value['dateTo'] |
                          nepaliNumber }}
                        </th>
                      </tr>
                      <tr>
                        <th>{{'FISCAL_YEAR'|translate }}</th>
                        <th>{{'ISSUE_NO'|translate}}</th>
                        <th>{{'REQ_FOR'|translate}}</th>
                        <th>सामानको नाम</th>
                        <th>मोडल नंः</th>
                        <!-- <th>{{'STATUS'|translate}}</th> -->
                        <th class="last-td">{{'ACTIONS'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data.fiscalYear | nepaliNumber}}</td>
                        <td>{{ data.requestingNo | nepaliNumber }}</td>
                        <td>{{ data.enterBy }}</td>
                        <td>{{ data.itemName }}</td>
                        <td>{{ data.modalNo || 0 | nepaliNumber }}</td>
                        <!-- <td>{{ data.status }}</td> -->
                        <td class="last-td" (click)="viewItem(data)">
                          <jqxButton>
                            {{'DETAIL_VIEW'|translate}}
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myRWindow [width]="'90%'" [height]="'77%'" [resizable]="false"
  [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <div class="button-container">
      <span *ngIf="reportDatas && reportDatas[0]">
        <button (click)="printDReport()" class="btn btn-sm">
          <i class="fa fa-print fa-fw"></i> Print
        </button>
      </span>
    </div>
    <div id="page-wrap">
      <div class="invoice-header">
        <p class="meta-sub"> </p>
        <div class="meta-header" style="width:20%;padding-top: 30px;">

        </div>
        <div class="meta-info" style="width:60%; text-align:center;">
          <p>
            <span style="margin-bottom: 0px;font-size:15px;font-weight: 700">स्थानीय
              तह</span><br>
            <span style="margin-bottom: 0px;"><b>{{organizationAdapter?.name}}</b></span><br>
            <span style="margin-bottom: 0px;">कार्यलयको कोडः
              {{organizationAdapter?.orgCodeNo | nepaliNumber}}</span><br>
            <span style="margin-bottom: 0px;font-weight:500">खर्च/ निकासा फाराम
            </span>
          </p>
        </div>
        <div class="meta-info-right" style="width:18%">
          <span style="font-size:14px;" class="float-right">म.ले.प.फारम नंः ४०४
            <br> साबिकको फारम नंः ५१ </span>
        </div>

        <div class="invoice-container">
          <p class="invoice-title-number" style="float: right; width: 120px;
            text-align: left; font-size: 13px;">
            <!-- आ.व.: {{
            printOfficialDetails[0]?.requestingNo?.fiscalYear?.fiscalYear}}
            <br>
            निकासा नं: {{printOfficialDetails[0]?.requestingNo?.requestingNo |
            nepaliNumber }} &nbsp;&nbsp;&nbsp;&nbsp;<br>
            मितिः {{printOfficialDetails[0]?.requestingNo?.enterDate |
            nepaliNumber}} -->
          </p>
          <table class="invoice-table">
            <thead>
              <tr>
                <th style="text-align: center;" rowspan="2">क्र.सं</th>
                <th style="text-align: center;" rowspan="2">सामानको नाम</th>
                <th style="text-align: center;" rowspan="2">कोड नं.</th>
                <th style="text-align: center;" rowspan="2">स्पेसिफिकेसन</th>
                <th colspan="3" style="text-align: center;">निकासा गरिएको</th>
                <th style="text-align: center;" rowspan="2">जम्मा रकम</th>
                <th style="text-align: center;" rowspan="2">जिन्सी खाता पाना नंः</th>
                <th text-align: center rowspan="2">कैफियत</th>
              </tr>
              <tr>
                <th style="text-align: center;">इकाई</th>
                <th style="text-align: center;">परिमाण</th>
                <th style="text-align: center;">दर</th>
              </tr>
            </thead>
            <tbody *ngIf="printOfficialDetails">
              <tr>
                <td>१</td>
                <td>२</td>
                <td>३</td>
                <td>४</td>
                <td>५</td>
                <td>६</td>
                <td>७</td>
                <td>८</td>
                <td>९</td>
                <td>१०</td>
              </tr>
              <tr *ngFor="let printData of printOfficialDetails; let i=index;">
                <td>{{i+1 | nepaliNumber}}</td>
                <td>{{printData?.itemName }}</td>
                <td>{{printData['itemSerialNo']}}</td>
                <td>{{printData['specification']}}</td>
                <td>{{printData['unit'] }}</td>
                <td>{{printData['qty'] | nepaliNumber}}</td>
                <td>{{printData['rate'] | nepaliNumber }}</td>
                <td>{{printData['totalAmount'] | nepaliNumber}}</td>
                <td>{{printData['assetPageNo'] | nepaliNumber}}</td>
                <td>{{printData['remarks']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <table style="width:100%;table-layout:fixed">
          <tr>
            <td>स्टोर शाखाको दस्तखत:</td>
            <td>स्वीकृत गर्नेको दस्तखतः</td>

          </tr>
          <tr>
            <td>नाम : {{ organizationAdapter?.userName }}</td>
            <td>नाम : </td>
          </tr>
        </table>
        <br>
        <table style="width:100%;table-layout:fixed">
          <tr>
            <td>मिति: </td>
            <td></td>
            <td>मिति : </td>
          </tr>
        </table>
        <div style="width:100%;height:300px">
        </div>
      </div>
    </div>
  </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>