#page-wrap {
  width: 800px;
  margin: 0 auto;
}

.invoice-header {
  margin-top: 20px;
  /* text-align: center; */
}
.invoice-header .meta-sub {
  font-size: 12px;
  text-align: center;
}

.invoice-header .meta-header,
.invoice-header .meta-info,
.invoice-header .meta-info-right {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.invoice-header .meta-header div,
.invoice-header .meta-info div {
  display: block;
  width: 100%;
}

.invoice-header .meta-header div:first-child p,
.invoice-header .meta-info div:first-child p {
  font-size: 12px;
}

.invoice-header .meta-info {
  margin-top: 5px;
  font-size: 16px;
}

.invoice-header .meta-invoice-title {
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  // padding-left: 9%;
  text-align: center;
}

.invoice-title-number {
  font-weight: bold;
  text-align: right;
  padding-top: 15px;
}

table.invoice-table {
  border-collapse: collapse;
  width: 100%;
}

table.invoice-table,
.invoice-table th,
.invoice-table td {
  border: 1px solid black;
  padding: 2px 4px;
}

.invoice-table th {
  font-size: 12px;
}

.invoice-footer-info {
  font-size: 12px;
  margin-top: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  line-height: 24px;
}

.invoice-footer {
  display: block;
  padding-top: 30px;
  margin-bottom: 15px;
}

.invoice-footer .invoice-footer-col {
  display: inline-block;
  width: 32%;
  float: right;
}

.invoice-footer-field {
  text-align: center;
}

.invoice-footer-signature div:nth-child(2) {
  margin-top: 4px;
}

.check-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  vertical-align: bottom;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.w-35 {
  width: 35% !important;
}
