<div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                    <h2>जिन्सी / मिन्हा फारम रिपोर्ट</h2>
                </div>
                <div class="bg-white p-1">
                    <form name="alForm" [formGroup]="alForm">
                        <fieldset class="jqx-widget-header-energyblue">
                            <legend>{{'SEARCH_BOX'|translate}}</legend>
                            <table class="table-w-tooltip">
                                <tr>
                                    <td>{{'REQUEST_FOR'|translate}}</td>
                                    <td>
                                        <select formControlName="category" (change)="categoryChange($event)"
                                            style="width: 100px;"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">
                                                {{ data.id }}</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showWard">{{'WARD'|translate}}</td>
                                    <td *ngIf="showWard">
                                        <select formControlName="ward" style="width: 100px;"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">
                                                {{ data['name'] }}</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                                    <td *ngIf="showDivision">
                                        <select formControlName="division" style="width: 100px;"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of divisionAdapter;let i=index"
                                                [value]="data['id']">{{
                          data['nameNepali'] }}</option>
                                        </select>
                                    </td>
                                    <td>{{'DATE_FROM'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput #dateFrom formControlName="jinsiMinhaDateFrom"
                                            [placeHolder]="'2075-01-01'" [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>{{'DATE_TO'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput formControlName="jinsiMinhaDateTo" [placeHolder]="'2075-01-30'"
                                            [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>
                                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                            [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                            {{'SEARCH'|translate}}
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div>

                <div class="rs-grid-panel bg-white">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> जिन्सी / मिन्हा फारम रिपोर्ट
                            <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                                <button (click)="printReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-print fa-fw"></i> {{'PRINT' | translate}}
                                </button>
                            </span>
                            <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL' | translate}}
                                </button>
                                &nbsp; &nbsp;
                            </span>
                        </h2>
                    </div>
                    <div class="scroll-container" style="margin: 10px;">
                        <div class="row justify-content-md-center">
                            <div class="col-12">
                                <div id="reportContainer">
                                    <div class="info-container">
                                    </div>
                                    <div class="table-container">
                                        <!-- <div *ngIf="SearchDatas.length>0">
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px ">स्थानीय
                                            तह</div>
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">
                                            {{organizationDetails[0]?.name}} कार्यालय </div>
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">कार्यालय
                                            कोड नंः {{organizationDetails[0]?.orgCodeNo | nepaliNumber}}</div>
                                        <div class='childT'
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">
                                            जिन्सी  / मिन्हा फारम   </div>
                                        <div class='childT' style="text-align: center;font-weight: bold">
                                            {{'FISCAL_YEAR' | translate}}
                                            <span *ngIf="fYear">{{fYear}}</span>
                                            <span *ngIf="!fYear">................</span>
                                        </div>
                                    </div> -->

                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class='childT'>{{'SN' | translate}}</th>
                                                    <th rowspan="2" class='childT'> आ.व.
                                                    </th>
                                                    <th rowspan="2" class='childT'>वस्तु को नाम</th>


                                                    <th rowspan="2" class='childT'>मिन्हा गर्नेको नाम </th>
                                                    <th rowspan="2" class='childT'>मिन्हा गरेको मिति </th>
                                                    <th rowspan="2" class='childT'>कार्य </th>
                                                </tr>

                                            </thead>
                                            <tbody *ngIf="SearchDatas">
                                                <tr *ngFor="let data of SearchDatas; let i = index;">
                                                    <td>{{i+1}}</td>
                                                    <td>{{data['fiscalYear'] | nepaliNumber}}</td>
                                                    <td>{{data['itemName']}}</td>

                                                    <td>{{data['minhaBy']}}</td>
                                                    <td>{{data['minhaDate']}}</td>

                                                    <td class="last-td" (click)="viewItem(data)">
                                                        <jqxButton>
                                                            {{'DETAIL_VIEW'|translate}}
                                                        </jqxButton>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <br />
                                        <!-- <div>
                                            <table width="100%" class="pshow">

                                                <tr>
                                                    <td style="font-size:10px;">स्टोर प्रमुख </td>
                                                    <td style="text-align:center;font-size:10px;">शाखा प्रमुख
                                                    </td>
                                                    <td style="float:right;font-size:10px;">आदेस दिने
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>नाम </td>
                                                    <td style="text-align:center;">नाम </td>
                                                    <td style="float:right;">नाम </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:10px;">मिति</td>
                                                    <td style="padding-left:9%;font-size:10px;">मिति</td>
                                                    <td style="float:right;font-size:10px;">मिति</td>
                                                </tr>
                                            </table>
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <span *ngIf="reportDatas ">
            <button (click)="printDetailReport()" class="btn btn-sm btn-primary">
                <i class="fa fa-print fa-fw"></i> Print
            </button>
        </span>
        <div id="printTab" *ngIf="printItemDetails && printOfficialDetails">

            <div class="invoice-header">
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <p class="meta-sub">स्थानीय तह </p>
                        <p class="meta-sub">
                            {{organizationAdapter[0]?.name}}<br />{{organizationAdapter[0]['address']}},
                            {{organizationAdapter[0]['district']}}</p>
                        <p class="meta-sub"> कार्यालय कोड नं.:
                            {{organizationAdapter[0]?.orgCodeNo}} </p>
                        <p class="meta-invoice-title center" style="font-size:12px;text-decoration: underline;text-align:
                  center;">जिन्सी / मिन्हा फारम रिपोर्ट </p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align: right;">म.ले.प.फारम नं.: ४०७ </p>
                        <p style="text-align: right;">साबिकको फारम नं: ५२ </p>
                    </div>
                </div>

                <!-- </div> -->
                <div class="header-row">
                    <table width="100%">
                        <tr>
                            <td width="50%">
                                <p>मिन्हा / निसर्गको निर्णय मिति : {{printItemDetails?.itemName}}<br /><br>
                                    निर्णय गर्ने पधादिकारी को नाम र सहि : {{printItemDetails?.unit}} <br><br>

                                </p>
                            </td>
                            <td width="50%" style="text-align: right;">
                                <p>आर्थिक बर्ष:{{printItemDetails?.fiscalYear}}</p>
                                <p>मिति : {{printItemDetails?.minhaDate}}</p>

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header-row">

                </div>

            </div>

            <div class="invoice-container">
                <table width="100%" class="invoice-table" border="1">
                    <thead>
                        <tr>
                            <th rowspan="2" class='childT'>{{'SN' | translate}}</th>
                            <th rowspan="2" class='childT'>जिन्सी संकेत नं
                            </th>
                            <th rowspan="2" class='childT'>जिन्सी खाता पाना नं </th>
                            <th rowspan="2" class='childT'>मालसामान को नाम
                            </th>
                            <th rowspan="2" style="text-align: center;" class='childT'>
                                स्पेसिफिकेशन </th>
                            <th rowspan="2" style="text-align: center;" class='childT'>
                                सुरु प्राप्त मिति
                            </th>
                            <th rowspan="2" style="text-align: center;" class='childT'>
                                प्रयोग भएको वर्ष
                            </th>
                            <th rowspan="2" style="text-align: center;" class='childT'>
                                परिमाण
                            </th>
                            <th rowspan="2" style="text-align: center;" class='childT'>
                                परल मूल्य
                            </th>
                            <th rowspan="2" style="text-align: center;" class='childT'>
                                हाल को मुल्यांकित मूल्य
                            </th>
                            <th rowspan="2" class='childT'>मिन्हा गर्नु पर्ने कारण </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let data of jinsiDetails['data']; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{data['assetCode']}}</td>
                            <td>{{data['assetPageNo']}}</td>
                            <td>{{data['itemName']}}</td>
                            <td>{{data['specification']}}</td>
                            <td></td>
                            <td>{{data['usedFiscalYear']}}</td>
                            <td>{{data['qty']}}</td>
                            <td>{{data['paralMulya']}}</td>
                            <td>{{data['salvageValue']}}</td>
                            <td>{{data['reason']}}</td>
                            <!-- <td class="last-td" (click)="viewItem(data)">
                            <jqxButton>
                              {{'DETAIL_VIEW'|translate}}
                            </jqxButton>
                          </td> -->
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
            </div>

            <div style="border:1px solid black;">
                <br>
                <br>
                <br>
                <div class="invoice-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    स्टोर प्रमुखको दस्तखत:
                                </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    नाम: <span></span> </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    दर्जा: <span class="display-print"></span>

                                </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    मिति : <span></span>

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    शाखा प्रमुखको दस्तखत:
                                </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    नाम: <span></span>

                                </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    दर्जा: <span class="display-print"></span>

                                </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    मिति : <span></span>

                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    आदेस दिने
                                    दस्तखत:{{printOfficialDetails[0]?.checkBy}}
                                </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    नाम: <span></span>

                                </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    दर्जा: <span class="display-print"></span>

                                </p>
                                <p style="font-size:12px;" class="invoice-footer-field">
                                    मिति : <span></span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>
                    <hr>
                    <b>उदेश्य</b>
                    <hr>
                    <p>
                        कार्यालय संचालनका लागि दैनिक प्रयोगमा आई खर्च भएर जाने
                        समानहरुको उचित ढंगले अभिलेख राखी व्यस्थापन गर्न र तेसको प्रयोग
                        नियन्त्रणका लागि यो फारम तर्जुमा गरिएको छ l
                    </p>
                </div> -->

        </div>
    </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
