<div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                    <h2>जिन्सी / मिन्हा फारम रिपोर्ट</h2>
                </div>
                <div class="bg-white p-1">
                    <form name="alForm" [formGroup]="alForm">
                        <fieldset class="jqx-widget-header-energyblue">
                            <legend>{{'SEARCH_BOX'|translate}}</legend>
                            <table class="table-w-tooltip">
                                <tr>
                                    <td>{{'REQUEST_FOR'|translate}}</td>
                                    <td>
                                        <select formControlName="category" (change)="categoryChange($event)"
                                            style="width: 100px;"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">
                                                {{ data.id }}</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showWard">{{'WARD'|translate}}</td>
                                    <td *ngIf="showWard">
                                        <select formControlName="ward" style="width: 100px;"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">
                                                {{ data['name'] }}</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                                    <td *ngIf="showDivision">
                                        <select formControlName="division" style="width: 100px;"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of divisionAdapter;let i=index"
                                                [value]="data['id']">{{
                          data['nameNepali'] }}</option>
                                        </select>
                                    </td>
                                    <td>{{'DATE_FROM'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput #dateFrom formControlName="jinsiMinhaDateFrom"
                                            [placeHolder]="'2075-01-01'" [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>{{'DATE_TO'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput formControlName="jinsiMinhaDateTo" [placeHolder]="'2075-01-30'"
                                            [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>
                                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                            [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                            {{'SEARCH'|translate}}
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div>

                <div class="rs-grid-panel bg-white">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> जिन्सी / मिन्हा फारम रिपोर्ट
                            <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                                <button (click)="printReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-print fa-fw"></i> {{'PRINT' | translate}}
                                </button>
                            </span>
                            <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL' | translate}}
                                </button>
                                &nbsp; &nbsp;
                            </span>
                        </h2>
                    </div>
                    <div class="scroll-container" style="margin: 10px;">
                        <div class="row justify-content-md-center">
                            <div class="col-12">
                                <div id="reportContainer">
                                    <div class="info-container">
                                    </div>
                                    <div class="table-container">
                                        <!-- <div *ngIf="SearchDatas.length>0">
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px ">स्थानीय
                                            तह</div>
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">
                                            {{organizationDetails[0]?.name}} कार्यालय </div>
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">कार्यालय
                                            कोड नंः {{organizationDetails[0]?.orgCodeNo | nepaliNumber}}</div>
                                        <div class='childT'
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">
                                            जिन्सी  / मिन्हा फारम   </div>
                                        <div class='childT' style="text-align: center;font-weight: bold">
                                            {{'FISCAL_YEAR' | translate}}
                                            <span *ngIf="fYear">{{fYear}}</span>
                                            <span *ngIf="!fYear">................</span>
                                        </div>
                                    </div> -->

                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class='childT'>{{'SN' | translate}}</th>
                                                    <th rowspan="2" class='childT'> आ.व.
                                                    </th>
                                                    <th rowspan="2" class='childT'>वस्तु को नाम</th>


                                                    <th rowspan="2" class='childT'>मिन्हा गर्नेको नाम </th>
                                                    <th rowspan="2" class='childT'>मिन्हा गरेको मिति </th>
                                                    <th rowspan="2" class='childT'>कार्य </th>
                                                </tr>

                                            </thead>
                                            <tbody *ngIf="SearchDatas">
                                                <tr *ngFor="let data of SearchDatas; let i = index;">
                                                    <td>{{i+1}}</td>
                                                    <td>{{data['fiscalYear'] | nepaliNumber}}</td>
                                                    <td>{{data['itemName']}}</td>

                                                    <td>{{data['minhaBy']}}</td>
                                                    <td>{{data['minhaDate']}}</td>

                                                    <td class="last-td" (click)="viewItem(data)">
                                                        <jqxButton>
                                                            {{'DETAIL_VIEW'|translate}}
                                                        </jqxButton>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <br />
                                        <!-- <div>
                                            <table width="100%" class="pshow">

                                                <tr>
                                                    <td style="font-size:10px;">स्टोर प्रमुख </td>
                                                    <td style="text-align:center;font-size:10px;">शाखा प्रमुख
                                                    </td>
                                                    <td style="float:right;font-size:10px;">आदेस दिने
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>नाम </td>
                                                    <td style="text-align:center;">नाम </td>
                                                    <td style="float:right;">नाम </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:10px;">मिति</td>
                                                    <td style="padding-left:9%;font-size:10px;">मिति</td>
                                                    <td style="float:right;font-size:10px;">मिति</td>
                                                </tr>
                                            </table>
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<jqxWindow #myRWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <div class="button-container">
            <span *ngIf="reportDatas ">
                <button (click)="printDReport()" class="btn btn-sm">
                    <i class="fa fa-print fa-fw"></i> Print
                </button>
            </span>
        </div>
        <div id="page-wrap" *ngIf="printOfficialDetails ">
            <div class="invoice-header">
                <p class="meta-sub"> </p>
                <div class="meta-header" style="width:20%;padding-top: 30px;">

                </div>
                <div class="meta-info" style="width:60%; text-align:center;">
                    <p>
                        <span style="margin-bottom: 0px;font-size:18px;font-weight:600">स्थानीय तह</span><br>
                        <span style="margin-bottom: 0px;font-size:16px;font-weight:500"
                            *ngIf="printOfficialDetails"><b>{{printItemDetails.name}}</b></span><br>
                        <span style="margin-bottom: 0px;font-size:14px;font-weight:600">कार्यलयको कोडः
                            {{printItemDetails.orgCodeNo | nepaliNumber}}</span><br>
                        <span style="margin-bottom: 0px;font-size:14px;font-weight:600"> जिन्सी / मिन्हा फारम
                        </span>
                    </p>
                </div>
                <div class="meta-info-right" style="width:18%">
                    <span style="font-size:12px;" class="float-right">मिन्हा / निसर्गको निर्णय मिति :<br>निर्णय गर्ने
                        पधादिकारी को नाम र सहि : </span>
                </div>

                <div class="invoice-container" *ngIf="printOfficialDetails">
                    <p class="invoice-title-number"
                        style="float: right; width: 120px; text-align: left; font-size: 13px;">
                        आ.व.: {{ printOfficialDetails[0]?.requestingNo?.fiscalYear?.fiscalYear | nepaliNumber}}
                        <br>

                        मितिः {{printOfficialDetails[0]?.requestingNo?.approveDate | nepaliNumber}}
                    </p>
                    <table class="invoice-table" border="1">
                        <thead>
                            <tr>
                                <th rowspan="2" class='childT'>{{'SN' | translate}}</th>
                                <th rowspan="2" class='childT'>जिन्सी संकेत नं
                                </th>
                                <th rowspan="2" class='childT'>जिन्सी खाता पाना नं </th>
                                <th rowspan="2" class='childT'>मालसामान को नाम
                                </th>
                                <th rowspan="2" style="text-align: center;" class='childT'>
                                    स्पेसिफिकेशन </th>
                                <th rowspan="2" style="text-align: center;" class='childT'>
                                    सुरु प्राप्त मिति
                                </th>
                                <th rowspan="2" style="text-align: center;" class='childT'>
                                    प्रयोग भएको वर्ष
                                </th>
                                <th rowspan="2" style="text-align: center;" class='childT'>
                                    परिमाण
                                </th>
                                <th rowspan="2" style="text-align: center;" class='childT'>
                                    परल मूल्य
                                </th>
                                <th rowspan="2" style="text-align: center;" class='childT'>
                                    हाल को मुल्यांकित मूल्य
                                </th>
                                <th rowspan="2" class='childT'>मिन्हा गर्नु पर्ने कारण </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let data of SearchDatas; let i = index;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <!-- <td class="last-td" (click)="viewItem(data)">
                    <jqxButton>
                      {{'DETAIL_VIEW'|translate}}
                    </jqxButton>
                  </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <!-- <table style="width:100%;table-layout:fixed">
            <tr>
                <td>माग गर्नेको दस्तखत:</td>
                <td>सिफारिस गर्नेको दस्तखतः</td>
                <td>क)बजारबाट खरिद दिनुः</td>
            </tr>
            <tr>
                  <td>नाम: {{ printOfficialDetails[0]?.requestingNo?.enterBy }}</td>
                  <td>नामः {{ printOfficialDetails[0]?.requestingNo?.approveBy }}</td>
                  <td>ख) मौज्दातबाट दिनुः</td>
              </tr>
              <tr>
                  <td>मिति : {{printOfficialDetails[0]?.requestingNo?.enterDate | nepaliNumber }}</td>
                  <td>मिति:{{printOfficialDetails[0]?.requestingNo?.approveDate | nepaliNumber }}</td>
                  <td></td>
              </tr>
              <tr>
                      <td>प्रयोजन :{{printOfficialDetails[0]?.requestingNo?.narration }}</td>
                      <td></td>
                      <td>आदेश दिनेको दस्तखत:</td>
                  </tr>
                  <tr>
                          <td></td>
                          <td></td>
                          <td>मिति :</td>
                      </tr>

        </table> -->
                <table width="100%" class="pshow">

                    <tr>
                        <td style="font-size:10px;">स्टोर प्रमुख </td>
                        <td style="text-align:center;font-size:10px;">शाखा प्रमुख
                        </td>
                        <td style="float:right;font-size:10px;">आदेस दिने
                        </td>
                    </tr>
                    <tr>
                        <td>नाम </td>
                        <td style="text-align:center;">नाम </td>
                        <td style="float:right;">नाम </td>
                    </tr>
                    <tr>
                        <td style="font-size:10px;">मिति</td>
                        <td style="padding-left:9%;font-size:10px;">मिति</td>
                        <td style="float:right;font-size:10px;">मिति</td>
                    </tr>
                </table>
                <br>
                <!-- <table style="width:100%;table-layout:fixed">
              <tr>
                      <td>मालसामान बुझिलिनेको दस्तखत:</td>
                      <td></td>
                      <td>जिन्सी खातामा चढाउनेको दस्तखतः</td>
                  </tr>
                  <tr>
                          <td>मिति :</td>
                          <td></td>
                          <td>मिति : {{printOfficialDetails[0]?.requestingNo?.approveDate | nepaliNumber }}</td>
                      </tr>
        </table> -->
                <div style="width:100%;height:300px">
                </div>
            </div>
        </div>
    </div>
</jqxWindow>



<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <span *ngIf="reportDatas && reportDatas[0]">
            <button (click)="printDetailReport()" class="btn btn-sm btn-primary">
                <i class="fa fa-print fa-fw"></i> Print
            </button>
        </span>
        <div id="printTab" *ngIf="printItemDetails && printOfficialDetails">
            <form [formGroup]="purchasePrintForm">
                <div class="invoice-header">
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <p class="meta-sub">स्थानीय तह </p>
                            <p class="meta-sub">
                                {{organizationAdapter[0]?.name}}<br />{{organizationAdapter[0]['address']}},
                                {{organizationAdapter[0]['district']}}</p>
                            <p class="meta-sub"> कार्यालय कोड नं.:
                                {{organizationAdapter[0]?.orgCodeNo}} </p>
                            <p class="meta-invoice-title center" style="font-size:12px;text-decoration: underline;text-align:
                  center;">खर्च भएर
                                जाने जिन्सी खाता </p>
                        </div>
                        <div class="col-md-3">
                            <p style="text-align: right;">म.ले.प.फारम नं.: ४०७ </p>
                            <p style="text-align: right;">साबिकको फारम नं: ५२ </p>
                        </div>
                    </div>

                    <!-- </div> -->
                    <div class="header-row">
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    <p>जिन्सी समानको नाम : {{printItemDetails?.itemName}}<br /><br>
                                        एकाइ: {{printItemDetails?.unit}} <br><br>
                                        स्पेसिफिकेसन: {{printItemDetails?.specification}}<br /><br>
                                    </p>
                                </td>
                                <td width="50%" style="text-align: right;">
                                    <p>आर्थिक बर्ष:{{kharchaHune?.fiscalYear}}</p>
                                    <p> जिन्सी संकेत नं: {{printItemDetails?.assetCode}}</p>
                                    <p>
                                        जिन्सी खाता पाना.नं.:
                                        {{printItemDetails?.assetPageNo}} </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="header-row">

                    </div>

                </div>

                <div class="invoice-container">
                    <table class="invoice-table" border="1">
                        <thead>
                            <tr>
                                <th rowspan="2">मिति</th>
                                <th rowspan="2">दाखिला/ निकासा नं.</th>
                                <th colspan="3">स्टोर दाखिला (आम्दानी)</th>
                                <th colspan="3">निकासा (खर्च)</th>
                                <th>बाँकि</th>
                                <th rowspan="2">कैफियत</th>
                            </tr>
                            <tr>
                                <th style="text-align: center">परिमाण</th>
                                <th style="text-align: center">दर</th>
                                <th style="text-align: center">रकम</th>
                                <th style="text-align: center">परिमाण</th>
                                <th style="text-align: center">दर</th>
                                <th style="text-align: center">रकम</th>
                                <th style="text-align: center">परिमाण</th>
                                <!-- <th style="text-align: center">दर</th>
                      <th style="text-align: center">रकम</th> -->
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let data of kharchaHune['data']">
                                <th style="font-size:12px;">{{data['enterDate'] | nepaliNumber }}</th>
                                <th style="font-size:12px;">{{data?.transactionNo | nepaliNumber }}</th>
                                <th style="font-size:12px;">{{data?.inQty | nepaliNumber }}</th>
                                <th style="font-size:12px;">{{data?.inRate | nepaliNumber }}</th>
                                <th style="font-size:12px;">{{data?.inAmount | nepaliNumber }}</th>
                                <th style="font-size:12px;">{{data?.outQty | nepaliNumber }}</th>
                                <th style="font-size:12px;">{{data?.outRate | nepaliNumber }}</th>
                                <th style="font-size:12px;">{{data?.outAmount | nepaliNumber }}</th>
                                <th style="font-size:12px;">{{data?.restQty | nepaliNumber }}</th>
                                <!-- <th style="font-size:12px;">{{printItemDetails?.rate | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{printItemDetails?.storeRemainingTotalAmt | nepaliNumber }}</th> -->
                                <th style="font-size:12px;">{{data?.specification | nepaliNumber }}</th>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                </div>

                <div style="border:1px solid black;">
                    <br>
                    <br>
                    <br>
                    <div class="invoice-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        स्टोर प्रमुखको दस्तखत:
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        नाम: <span>{{kharchaHune?.enterBy}}</span>
                                        <input type="text" class="display-here" formControlName="storeHeadName"
                                            placeholder="">
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        दर्जा: <span
                                            class="display-print">{{purchasePrintForm.value['storeHeadPost']}}</span>
                                        <input type="text" class="display-here" formControlName="storeHeadPost"
                                            placeholder="">
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        मिति : <span>{{kharchaHune?.enterDate}}</span>
                                        <input type="text" class="display-here" formControlName="storeHeadDate"
                                            placeholder="">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        शाखा प्रमुखको दस्तखत:
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        नाम: <span>{{kharchaHune?.approveBy}}</span>
                                        <input type="text" class="display-here" formControlName="divisionHeadName"
                                            placeholder="">
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        दर्जा: <span
                                            class="display-print">{{purchasePrintForm.value['divisionHeadPost']}}</span>
                                        <input type="text" class="display-here" formControlName="divisionHeadPost"
                                            placeholder="">
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        मिति : <span>{{kharchaHune?.approveDate}}</span>
                                        <input type="text" class="display-here" formControlName="divisionHeadDate"
                                            placeholder="">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        कार्यालय प्रमुखको
                                        दस्तखत:{{printOfficialDetails[0]?.checkBy}}
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        नाम: <span>{{kharchaHune?.finalApproveBy}}</span>
                                        <input type="text" class="display-here" formControlName="orgHeadName"
                                            placeholder="">
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        दर्जा: <span
                                            class="display-print">{{purchasePrintForm.value['orgHeadPost']}}</span>
                                        <input type="text" class="display-here" formControlName="orgHeadPost"
                                            placeholder="">
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        मिति : <span>{{kharchaHune?.finalApproveDate}}</span>
                                        <input type="text" class="display-here" formControlName="orgHeadDate"
                                            placeholder="">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <hr>
                    <b>उदेश्य</b>
                    <hr>
                    <p>
                        कार्यालय संचालनका लागि दैनिक प्रयोगमा आई खर्च भएर जाने
                        समानहरुको उचित ढंगले अभिलेख राखी व्यस्थापन गर्न र तेसको प्रयोग
                        नियन्त्रणका लागि यो फारम तर्जुमा गरिएको छ l
                    </p>
                </div>
            </form>
        </div>
    </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
