<div class="container-fluid tfm-panel">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2>{{'REQUISITION_REPORT'|translate}}</h2>
          </div>
          <div class="bg-white p-1">
            <form name="alForm" [formGroup]="alForm" id="alForm">
              <fieldset class="jqx-widget-header-energyblue">
                <legend>{{'SEARCH_BOX'|translate}}</legend>
                <table class="table-w-tooltip">
                  <tr>
                    <td>{{'REQUEST_FOR'|translate}}</td>
                    <td>
                      <select formControlName="category" (change)="categoryChange($event)" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">{{ data.id }}</option>
                      </select>
                    </td>
                    <td *ngIf="showWard">{{'WARD'|translate}}</td>
                    <td *ngIf="showWard">
                      <select formControlName="ward" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">{{ data['name'] }}</option>
                      </select>
                    </td>
                    <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                    <td *ngIf="showDivision">
                      <select formControlName="division" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of divisionAdapter;let i=index" [value]="data['id']">{{
                          data['nameNepali'] }}</option>
                      </select>
                    </td>
                    <td>{{'DATE_FROM'|translate}} *
                    </td>
                    <td>
                      <jqxInput #dateFrom formControlName="jinsiMinhaDateFrom" [placeHolder]="'2075-01-01'" [width]="100" [height]="25"></jqxInput>
                    </td>
                    <td>{{'DATE_TO'|translate}} *
                    </td>
                    <td>
                      <jqxInput formControlName="jinsiMinhaDateTo" [placeHolder]="'2075-01-30'" [width]="100" [height]="25"></jqxInput>
                    </td>
                    <td>
                      <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                        {{'SEARCH'|translate}}
                      </jqxButton>
                    </td>
                  </tr>
                </table>
              </fieldset>
            </form>
          </div>

          <div class="rs-grid-panel bg-white">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                    <h2> रसिद नियन्त्रण खाता रिपोर्ट
                        <span *ngIf="SearchDatas.length>0" class="float-right">
                            <button (click)="printReport()" class="btn btn-sm btn-primary">
                                <i class="fa fa-print fa-fw"></i> {{'PRINT' | translate}}
                            </button>
                        </span>
                        <span *ngIf="SearchDatas.length>0" class="float-right">
                            <button (click)="exportReport()" class="btn btn-sm btn-primary">
                                <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL' | translate}}
                            </button>
                            &nbsp; &nbsp;
                        </span>
                    </h2>
                </div>
                <div class="scroll-container" style="margin: 10px;">
                    <div class="row justify-content-md-center">
                        <div class="col-12">
                            <div id="reportContainer">
                                <div class="info-container">
                                </div>
                                <div class="table-container">
                                    <div *ngIf="SearchDatas.length>0">
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px ">स्थानीय
                                            तह</div>
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">
                                            {{organizationDetails[0]?.name}} कार्यालय </div>
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">कार्यालय
                                            कोड नंः {{organizationDetails[0]?.orgCodeNo | nepaliNumber}}</div>
                                        <div class='childT'
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">
                                            जिन्सी  / मिन्हा फारम   </div>
                                        <div class='childT' style="text-align: center;font-weight: bold">
                                            {{'FISCAL_YEAR' | translate}}
                                            <span *ngIf="fYear">{{fYear}}</span>
                                            <span *ngIf="!fYear">................</span>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class='childT'>{{'SN' | translate}}</th>
                                                <th rowspan="2" class='childT'>जिन्सी संकेत नं 
                                                </th>
                                                <th rowspan="2" class='childT'>जिन्सी खाता पाना नं  </th>
                                                <th rowspan="2" class='childT'>मालसामान को नाम 
                                                </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                        स्पेसिफिकेशन </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                        सुरु प्राप्त मिति 
                                                </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                        प्रयोग भएको वर्ष 
                                                </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                        परिमाण 
                                                </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                        परल मूल्य 
                                                </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                        हाल को मुल्यांकित मूल्य 
                                                </th>
                                                <th rowspan="2" class='childT'>मिन्हा गर्नु पर्ने कारण  </th>
                                            </tr>
                                          
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of SearchDatas; let i = index;">
                                                <td> {{ i + 1 | nepaliNumber  }}</td>
                                                <td> {{ data['enterDate'] | nepaliNumber  }} </td>
                                                <td> {{ data['specification'] |nepaliNumber }} </td>
                                                <td>
                                                    {{ data['sanketNo']|nepaliNumber }}

                                                </td>
                                                <td> {{ data['printedBillFrom'] | nepaliNumber  }} </td>
                                                <td> {{ data['printedBillTo'] }} </td>
                                                <td> {{ data['printedQty']  | nepaliNumber  }} </td>
                                                <td> {{ data['outBillFrom'] | nepaliNumber }} </td>
                                                <td> {{ data['outBillTo'] | nepaliNumber }} </td>
                                                <td> {{ data['outQty']| nepaliNumber}} </td>
                                                <td>{{ data['receivedBy'] | nepaliNumber  }} </td>
                                                <td>{{ data['givenBy'] | nepaliNumber  }} </td>
                                                <td> {{ data['remainingBillFrom'] | nepaliNumber }} </td>
                                                <td> {{ data['remainingBillTo'] | nepaliNumber }} </td>
                                                <td> {{ data['remainingQty']| nepaliNumber}} </td>
                                                <td> {{ data['approvedBy'] }} </td>
                                                <td> {{ data['remarks'] }} </td>
                                                <!-- <td class="last-td" (click)="viewItem(data)">
                                            <jqxButton>
                                              {{'DETAIL_VIEW'|translate}}
                                            </jqxButton>
                                          </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <br />
                                    <div>
                                        <table width="100%" class="pshow">

                                            <tr>
                                                <td style="font-size:10px;">पेस गर्ने को नाम </td>
                                                <td style="text-align:center;font-size:10px;">
                                                </td>
                                                <td style="float:right;font-size:10px;">कार्यालय प्रमुख को नाम
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td style="text-align:center;"></td>
                                                <td style="float:right;"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:10px;">मिति</td>
                                                <td style="padding-left:9%;font-size:10px;"></td>
                                                <td style="float:right;font-size:10px;">मिति</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  <jqxWindow #myRWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
      <div class="button-container">
        <span *ngIf="reportDatas && reportDatas[0]">
          <button (click)="printDReport()" class="btn btn-sm">
            <i class="fa fa-print fa-fw"></i> Print
          </button>
        </span>
      </div>
      <div id="page-wrap" *ngIf="printOfficialDetails && printOfficialDetails[0]">
        <div class="invoice-header">
          <p class="meta-sub"> </p>
          <div class="meta-header" style="width:20%;padding-top: 30px;">
       
          </div>
          <div class="meta-info" style="width:60%; text-align:center;">
              <p>
              <span style="margin-bottom: 0px;font-size:18px;font-weight:600">स्थानीय तह</span><br>
              <span style="margin-bottom: 0px;font-size:16px;font-weight:500" *ngIf="printOfficialDetails && printOfficialDetails[0]"><b>{{printItemDetails.name}}</b></span><br>
              <span style="margin-bottom: 0px;font-size:14px;font-weight:600">कार्यलयको कोडः {{printItemDetails.orgCodeNo | nepaliNumber}}</span><br>
              <span style="margin-bottom: 0px;font-size:14px;font-weight:600">माग फाराम
                </span>
              </p>
        </div>
        <div class="meta-info-right" style="width:18%">
            <span style="font-size:12px;" class="float-right">म.ले.प.फारम नंः ४०१<br>साबिकको फारम नंः ५१ </span>
        </div>
  
        <div class="invoice-container" *ngIf="printOfficialDetails">
          <p class="invoice-title-number" style="float: right; width: 120px; text-align: left; font-size: 13px;">
            आ.व.: {{ printOfficialDetails[0]?.requestingNo?.fiscalYear?.fiscalYear | nepaliNumber}}
             <br>
             माग नं: {{printOfficialDetails[0]?.requestingNo?.requestingNo | nepaliNumber }} &nbsp;&nbsp;&nbsp;&nbsp;<br>
             मितिः {{printOfficialDetails[0]?.requestingNo?.approveDate | nepaliNumber}}
          </p>
          <table class="invoice-table">
            <thead>
              <tr>
                <th style="text-align: center;" rowspan="2">क्र.सं</th>
                <th style="text-align: center;" rowspan="2">सामानको नाम</th>
                <th style="text-align: center;" rowspan="2">स्पेसिफिकेसन</th>
                <th colspan="2" style="text-align: center;">माग गरिएको</th>
                <th text-align: center rowspan="2">कैफियत</th>
              </tr>
              <tr>
                  <th style="text-align: center;">परिमाण</th>
                  <th style="text-align: center;">इकाई</th>
              </tr>
            </thead>
            <tbody *ngIf="printOfficialDetails">
              <tr *ngFor="let printData of printOfficialDetails; let i=index;">
                <td style="text-align: center;">{{i+1 | nepaliNumber}}</td>
                <td style="text-align: center;">{{printData?.itemCode?.itemNameNepali }}</td>
                <td style="text-align: center;">{{printData['specification']}}</td>
                <td style="text-align: center;">{{printData['requestingQty'] | nepaliNumber }}</td>
                <td style="text-align: center;">{{printData['unit']}}</td>
                <!-- <td>{{printData['receivedQty'] | nepaliNumber}}</td> -->
                <!-- <td>{{printData['referenceNo'] | nepaliNumber}}</td> -->
                <td style="text-align: center;">{{printData['remarks']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <table style="width:100%;table-layout:fixed">
            <tr>
                <td>माग गर्नेको दस्तखत:</td>
                <td>सिफारिस गर्नेको दस्तखतः</td>
                <td>क)बजारबाट खरिद दिनुः</td>
            </tr>
            <tr>
                  <td>नाम: {{ printOfficialDetails[0]?.requestingNo?.enterBy }}</td>
                  <td>नामः {{ printOfficialDetails[0]?.requestingNo?.approveBy }}</td>
                  <td>ख) मौज्दातबाट दिनुः</td>
              </tr>
              <tr>
                  <td>मिति : {{printOfficialDetails[0]?.requestingNo?.enterDate | nepaliNumber }}</td>
                  <td>मिति:{{printOfficialDetails[0]?.requestingNo?.approveDate | nepaliNumber }}</td>
                  <td></td>
              </tr>
              <tr>
                      <td>प्रयोजन :{{printOfficialDetails[0]?.requestingNo?.narration }}</td>
                      <td></td>
                      <td>आदेश दिनेको दस्तखत:</td>
                  </tr>
                  <tr>
                          <td></td>
                          <td></td>
                          <td>मिति :</td>
                      </tr>
  
        </table>
        <br>
        <table style="width:100%;table-layout:fixed">
              <tr>
                      <td>मालसामान बुझिलिनेको दस्तखत:</td>
                      <td></td>
                      <td>जिन्सी खातामा चढाउनेको दस्तखतः</td>
                  </tr>
                  <tr>
                          <td>मिति :</td>
                          <td></td>
                          <td>मिति : {{printOfficialDetails[0]?.requestingNo?.approveDate | nepaliNumber }}</td>
                      </tr>
        </table>
        <div style="width:100%;height:300px">
        </div>
        </div>
    </div>
    </div>
  </jqxWindow>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>
  