
.scroll-container{
    height: calc(100vh - 217px);
    overflow-y: auto;
    overflow-x: hidden;
}
.grid-container{
    height: calc(100vh - 220px);
    width: 100%;
}
.header{
    padding: 4px;
    background: #efefef;
    margin: 5px;
}
.data-form{
    background: #efefef;
    padding: 12px;
    .form-style{
        background: #efefef;
        padding: 0px 5px 5px 5px;
    }
}

.table-content{
    background: #efefef;
    padding: 12px;
    .table-style{
        background: #efefef;
        padding: 0px 5px 5px 5px;
        fieldset{
            padding-bottom: 10px;
        }
    }
}

.button-container {
    background: #ffffff;
    padding: 6px;
}


#page-wrap-container { 
    width: 800px; 
    margin: 0 auto;
}

.invoice-header {
    margin-top: 20px;
    text-align: center;
}
.invoice-header .meta-sub{
    font-size: 12px;
}

.invoice-header .meta-header{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.invoice-header .meta-info{
    margin-top: 8px;
    font-size: 18px;
}

.invoice-header .meta-info{
    margin-top: 5px;
    font-size: 16px;
}

.invoice-header .meta-invoice-title{
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.invoice-title-number {
    font-weight: bold;
}

table.invoice-table {
    border-collapse: collapse;
    width: 100%;
}

table.invoice-table, .invoice-table th, .invoice-table td {
    border: 1px solid black;
    padding: 2px 4px;
}

.invoice-table th {
    font-size: 12px;
}

.invoice-footer-info {
    font-size: 12px;
    margin-top: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    line-height: 24px;
}

.invoice-footer{
    display: block;
    padding-top: 30px;
    margin-bottom: 15px;
}

.invoice-footer .invoice-footer-col{
    display: inline-block;
    width: 32%;
    float: right;
}

.invoice-footer-field{

}
.display-print {
    font-size: 22px/1.4 Georgia, serif !important;
    display: none;
  }