.grid-container{
    height: calc(100vh - 238px);

}

table{
    width: 100%;
}

.table-w-tooltip{
    label {
        display: block;
    }
    .selectpicker{
        width: 100%;
    }
}

