<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
    <form name="smForm" [formGroup]="smForm" id="smForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{ 'SUPPLIER_MASTER' | translate }}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>
              <label>{{ 'REG_NO' | translate }}</label>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_REG_NO'|translate" [height]="23" [width]="'100%'"
                formControlName="regNo"></jqxInput>
            </td>
            <td>
              <label>{{ 'PAN_NO' | translate }}</label>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_PAN_NO'|translate" [height]="23" [width]="'100%'"
                formControlName="panNo"></jqxInput>
            </td>
            <td>
              <label>{{ 'SUPPLIER_NAME' | translate }} ({{'ENGLISH'|translate}})</label>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_NAME'|translate" [height]="23" [width]="'100%'"
                formControlName="organizationName"></jqxInput>
            </td>
            <td>
              <label>{{ 'SUPPLIER_NAME' | translate }} ({{'NEPALI'|translate}})</label>
              <!-- <input class="px-control nepalify" [placeholder]="'ENTER_NAME'|translate" formControlName="organizationNameNepali"> -->
              <nepali-input #nepaliInput2 formControlName="organizationNameNepali"  [height]="23" [placeHolder]="'ENTER_NAME'|translate"  [inputClass]="'px-control'">
              </nepali-input>
            </td>
            <td>
              <label>{{ 'CONTACT_PERSON' | translate }} ({{'ENGLISH'|translate}})</label>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'CONTACT_PERSON'|translate" [height]="23" [width]="'100%'"
                formControlName="contactPerson"></jqxInput>
            </td>
            <td>
              <label>{{ 'CONTACT_PERSON_NEPALI' | translate }}</label>
              <!-- <input class="px-control nepalify" [placeholder]="'CONTACT_PERSON'|translate" formControlName="contactPersonNepali"> -->
              <nepali-input #nepaliInput1 formControlName="contactPersonNepali"  [height]="23" [placeHolder]="'CONTACT_PERSON'|translate"  [inputClass]="'px-control'">
              </nepali-input>
            </td>
          </tr>
          <tr>
            <td>
              <label>{{ 'CONTACT_NO' | translate }}</label>
              <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'CONTACT_NO'|translate" [height]="23" [width]="'100%'"
                formControlName="contactNo"></jqxInput> -->
                <input type="number" placeholder="{{'CONTACT_NO'|translate}}" class="px-control" formControlName="contactNo">
            </td>
            <td>
              <label>{{ 'ADDRESS' | translate }}</label>
              <nepali-input  #nepaliInput4 formControlName="address"  [height]="23" [placeHolder]="''"  [inputClass]="'px-control'"></nepali-input>              
            </td>
            <td>
              <label>{{ 'EMAIL' | translate }}</label>
              <jqxInput [theme]="'energyblue'" [placeHolder]="''" [height]="23" [width]="'100%'" formControlName="email"></jqxInput>
            </td>
            <td>
              <label>{{ 'SUPPLIES_ITEM' | translate }} ({{'NEPALI'|translate}})</label>
              <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="''" [height]="23" [width]="'100%'"
                formControlName="suppliesItem"></jqxInput> -->
              <nepali-input  #nepaliInput3 formControlName="suppliesItem"  [height]="23" [placeHolder]="''"  [inputClass]="'px-control'"></nepali-input>
                
            </td>
            <td>
              <label>{{ 'FORM_REG_STATUS' | translate }}</label>
              <select formControlName="formRegStatus" class="selectpicker select-class select-border px-control">
                <option value="">{{'CHOOSE'|translate}}</option>
                <option *ngFor="let data of comboBoxSource; let i = index;" [value]="data['status']">{{data['name']}}</option>
              </select>
            </td>
            <td>
              <label>{{ 'TAX_PAY_STATUS' | translate }}</label>
              <select formControlName="taxPayStatus" class="selectpicker select-class select-border px-control">
                <option value="">{{'CHOOSE'|translate}}</option>
                <option *ngFor="let data of comboBoxSource; let i = index;" [value]="data['status']">{{data['name']}}</option>
              </select>
            </td>
          </tr>
          <tr>
           
            <td colspan="1" *ngIf="!update">
              <jqxButton style="margin-right: 5px; margin-top:10px;" [theme]="'energyblue'" [disabled]="!smForm.valid"  (onClick)="saveBtn(smForm.value)">
                {{'SAVE'|translate}}
              </jqxButton>
            </td>
            <td colspan="1" *ngIf="update">
              <jqxButton style="margin-right: 5px; margin-top:10px;" [theme]="'energyblue'" [disabled]="!smForm.valid" (onClick)="updateBtn(smForm.value)">
                {{'UPDATE'|translate}}
              </jqxButton>
              <jqxButton *ngIf="update" style="margin-right: 5px; margin-top:10px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                <i class="fa fa-times"></i>{{'CANCEL'|translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>

  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true"
      [autorowheight]="true" [sortable]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'"
      [selectionmode]="'checkbox'" [showtoolbar]="true" [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
    </jqxGrid>
  </div>

  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>