 <div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header
                    jqx-widget-header-energyblue">
                    <h2> {{'GOODSISSUERETURN'|translate}} </h2>
                </div>
                <div class="bg-white p-1">
                    <form name="searchForm" [formGroup]="searchForm">
                        <fieldset>
                            <legend>{{'GOODSISSUERETURN'|translate}}</legend>
                            <div class="row">
                                <div class="col-1">
                                    <div class="form-group">
                                        <label>{{'CATEGORY'|translate}}</label>
                                        <select formControlName="reqType"
                                            (change)="categoryChange($event)"
                                            style="width: 100px;"
                                            class="select-control selectpicker
                                            select-class select-border">
                                            <option [selected]="'true'"
                                                [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of
                                                cAdapter;let i=index"
                                                [value]="data.name">{{ data.id
                                                }}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- (change)="wardChange($event.target.value)" -->
                                <div class="col-1" *ngIf="showWard">
                                    <div class="form-group">
                                        <label>{{'WARD'|translate}}</label>
                                        <select formControlName="ward"
                                            style="width: 100px;"
                                         
                                            class="select-control selectpicker
                                            select-class select-border">
                                            <option [selected]="'true'"
                                                [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of
                                                wardAdapter;let i=index"
                                                [value]="data['id']">{{
                                                data['name'] }}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- (change)="divisionChange($event.target.value)" -->
                                <div class="col-1" *ngIf="showDivision">
                                    <div class="form-group">
                                        <label>{{'DIVISION'|translate}}</label>
                                        <select formControlName="division"
                                            style="width: 100px;"
                                           
                                            class="select-control selectpicker
                                            select-class select-border">
                                            <option [selected]="'true'"
                                                value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of
                                                divisionAdapter;let i=index"
                                                [value]="data['id']">{{
                                                data['nameNepali'] }}</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col">
                                    <!-- <app-search-selection-item #sItem [formGroup]="itemForm" (click)="selectedItem(i)" height="23px" width="27px"></app-search-selection-item>
                                                            <input type="hidden" formControlName="itemCode" class="px-control" placeholder="Item" >
                                                            <input type="hidden" formControlName="itemName" class="px-control" placeholder="Item" >

                                                        -->
                                <div class="form-group">

                                     <label >{{ "ITEM" | translate }} </label>
                                    <input type="text"
                                      formControlName="itemCode"
                                      class="px-control"
                                      placeholder="Item" hidden>
                                    <input type="text"
                                      (keyup)="itemFilter($event
                                      )"
                                      (focus)="itemFilterShow($event
                                      )"
                                      (keydown)="moveFocus($event)"
                                      formControlName="itemName"
                                      class="px-control nepalify
                                      nepalify1"
                                      [placeholder]="'ITEM'|translate">
                                    <span *ngIf="itemFocus"
                                      class="px-select-container">
                                      <select #item
                                        (change)="itemListSelected($event
                                        )"
                                        (blur)="itemFocus=
                                        false;" size="5"
                                        name="itemCode"
                                        class="px-control
                                        px-select-list"
                                        id="itemCode">
                                        <option *ngFor='let item
                                          of itemAdapter'
                                          [value]="item.itemCode">{{
                                          item.itemNameNepali
                                          }}</option>
                                      </select>
                                    </span>
                                    <small
                                      [hidden]="searchForm['controls'].itemCode.valid
                                      ||
                                      !searchForm['controls'].itemCode.touched"
                                      class="form-control-feedback
                                      text-danger
                                      px-control-error">
                                      * required
                                    </small>
                                    </div>
                                  </div>


                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ 'ISSUE_DATE_FROM' |
                                            translate}}</label>
                                        <jqxInput [width]="'100%'" [height]="25"
                                            formControlName="issueDateFrom"
                                            [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ 'ISSUE_DATE_TO' | translate}}</label>
                                        <jqxInput [width]="'100%'" [height]="25"
                                            formControlName="issueDateTo"
                                            [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>



                                <div class="col mt-4">
                                    <jqxButton [theme]="'energyblue'"
                                        [disabled]="!searchForm.valid"
                                        [width]="100"
                                        (onClick)="search(searchForm.value)">
                                        {{ 'SEARCH' | translate}}
                                    </jqxButton>
                                </div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="rs-grid-panel bg-white">
                    <form name="goodsForm" [formGroup]="goodsForm">
                        <fieldset>
                            <legend>{{'GRNITEMS'|translate}}</legend>

                            <table formArrayName="requisitionItems" border="1">
                                <thead>
                                    <tr>
                                        <td rowspan="2">वस्तु पहिचान नं.</td>
                                        <!-- 1 -->
                                        <td rowspan="2">{{'ITEM'|translate}}</td>
                                        <!-- 2 -->
                                        <td rowspan="2">{{'QUANTITY'|translate}}</td>
                                        <!-- 3 -->
                                        <td rowspan="2">{{'UNIT'|translate}}</td>
                                        <!-- 4 -->
                                        <td rowspan="2">{{'RATE'|translate}}</td>
                                        <!-- 5 -->
                                        <td colspan="3">आम्दानी</td>
                                        <td colspan="3">खर्च</td>
                                        <td colspan="3">बाँकि</td>
                                        <td rowspan="2">{{'CHARGE'|translate}}</td>
                                        <!-- 6 -->
                                        <td rowspan="2">{{'SPECIFICATIONS'|translate}}</td>
                                        <!-- 7 -->
                                        <td rowspan="2">{{'REMARKS'|translate}}</td>
                                        <!-- 8 -->
                                        <td rowspan="2">{{'ACTIONS'|translate}}</td>
                                        <!-- 9 -->
                                    </tr>
                                    <tr>
                                        <td>साबुद</td>
                                        <td>बेसाबुद</td>
                                        <td>बेकम्मा</td>
                                        <td>साबुद</td>
                                        <td>बेसाबुद</td>
                                        <td>बेकम्मा</td>
                                        <td>साबुद</td>
                                        <td>बेसाबुद</td>
                                        <td>बेकम्मा</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reqItem of
                                        goodsForm.get('requisitionItems')['controls'];let
                                        i= index" >
                                        <td> {{goodsData[i].itemSerialNo || ''}}</td>
                                        <!-- 1 -->
                                        <td>
                                            <input type="text"
                                                formControlName="itemCode"
                                                class="px-control"
                                                placeholder="Item" hidden>
                                            <input type="text"
                                                (keyup)="itemFilter($event,
                                                i)"
                                                formControlName="itemNameNepali"
                                                class="px-control"
                                                placeholder="Item" readonly>
                                            <span *ngIf="itemFocus[i]"
                                                class="px-select-container">
                                                <select
                                                    (change)="itemListSelected($event,
                                                    i)"
                                                    (blur)="itemFocus[i]=
                                                    false;" size="5"
                                                    name="itemCode"
                                                    class="px-control
                                                    px-select-list"
                                                    id="itemCode">
                                                    <option *ngFor='let item
                                                        of itemAdapter[i]'
                                                        [value]="item.itemCode">{{
                                                        item.itemNameNepali
                                                        }}</option>
                                                </select>
                                            </span>
                                            <small
                                                [hidden]="reqItem['controls'].itemCode.valid
                                                ||
                                                !reqItem['controls'].itemCode.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td> <!-- 2 -->
                                        <td>
                                            <input type="text"
                                                formControlName="outQty"
                                                class="px-control"
                                                (change)="changeQty(i,$event.target.value)"
                                                placeholder="quantity">
                                            <small
                                                [hidden]="reqItem['controls'].outQty.valid
                                                ||
                                                !reqItem['controls'].outQty.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td><!-- 3 -->
                                        <td>
                                            <input type="text"
                                                formControlName="unit"
                                                class="px-control"
                                                placeholder="unit" readonly>
                                            <small
                                                [hidden]="reqItem['controls'].unit.valid
                                                ||
                                                !reqItem['controls'].unit.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td><!-- 4 -->
                                        <td>
                                            <input type="text"
                                                formControlName="rate"
                                                class="px-control"
                                                placeholder="rate" readonly>
                                            <small
                                                [hidden]="reqItem['controls'].rate.valid
                                                ||
                                                !reqItem['controls'].rate.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td><!-- 5 -->
                                        <!-- For colspan -->
                                        <td>
                                            <input type="number"
                                                formControlName="incomeSabud"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].incomeSabud.valid
                                                ||
                                                !reqItem['controls'].incomeSabud.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>
                                        <td>
                                            <input type="number"
                                                formControlName="incomeBesabud"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].incomeBesabud.valid
                                                ||
                                                !reqItem['controls'].incomeBesabud.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>
                                        <td>
                                            <input type="number"
                                                formControlName="incomeBekamma"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].incomeBekamma.valid
                                                ||
                                                !reqItem['controls'].incomeBekamma.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>

                                        <td>
                                            <input type="number"
                                                formControlName="expenditureSabud"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].expenditureSabud.valid
                                                ||
                                                !reqItem['controls'].expenditureSabud.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>
                                        <td>
                                            <input type="number"
                                                formControlName="expenditureBesabud"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].expenditureBesabud.valid
                                                ||
                                                !reqItem['controls'].expenditureBesabud.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>
                                        <td>
                                            <input type="number"
                                                formControlName="expenditureBekamma"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].expenditureBekamma.valid
                                                ||
                                                !reqItem['controls'].expenditureBekamma.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>

                                        <td>
                                            <input type="number"
                                                formControlName="remainingSabud"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].remainingSabud.valid
                                                ||
                                                !reqItem['controls'].remainingSabud.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>
                                        <td>
                                            <input type="number"
                                                formControlName="remainingBesabud"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].remainingBesabud.valid
                                                ||
                                                !reqItem['controls'].remainingBesabud.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>
                                        <td>
                                            <input type="number"
                                                formControlName="remainingBekamma"
                                                class="px-control"
                                                placeholder="">
                                            <small
                                                [hidden]="reqItem['controls'].remainingBekamma.valid
                                                ||
                                                !reqItem['controls'].remainingBekamma.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td>

                                        <!-- colspan-closed -->

                                        <td>
                                            <input type="text"
                                                formControlName="charge"
                                                class="px-control"
                                                placeholder="charge"
                                                readonly>
                                            <small
                                                [hidden]="reqItem['controls'].charge.valid
                                                ||
                                                !reqItem['controls'].charge.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td><!-- 6 -->

                                        <td>
                                            <input type="text"
                                                formControlName="specification"
                                                class="px-control"
                                                placeholder="Specification"
                                                readonly>
                                            <small
                                                [hidden]="reqItem['controls'].specification.valid
                                                ||
                                                !reqItem['controls'].specification.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td><!-- 7 -->

                                        <td>
                                            <nepali-input name="remarks"
                                                formControlName="remarks"
                                                [placeHolder]="''"
                                                [inputClass]="'px-control'">
                                            </nepali-input>
                                            <small
                                                [hidden]="reqItem['controls'].remarks.valid
                                                ||
                                                !reqItem['controls'].remarks.touched"
                                                class="form-control-feedback
                                                text-danger
                                                px-control-error">
                                                * required
                                            </small>
                                        </td><!-- 8 -->

                                        <td>
                                                <input type="text"
                                                formControlName="id"
                                                hidden>
                                            <input type="text"
                                                formControlName="transactionNo"
                                                hidden>
                                            <input type="text"
                                                formControlName="fiscalYear"
                                                hidden>
                                            <input type="text"
                                                formControlName="totalAmount"
                                                hidden>
                                            <input type="text"
                                                formControlName="expiryDate"
                                                hidden>
                                            <input type="text"
                                                formControlName="receiveFor"
                                                hidden>
                                            <input type="text"
                                                formControlName="receiveId"
                                                hidden>
                                            <input type="text"
                                                formControlName="location"
                                                hidden>
                                            <input type="text"
                                                formControlName="enterBy"
                                                hidden>

                                            <button type="button"
                                                (click)="removeItem(i)"
                                                class="btn btn-sm
                                                btn-danger"
                                                [disabled]="goodsForm.get('requisitionItems').length
                                            <2">
                                                <i class="fa fa-times fa-fw"
                                                    aria-hidden="true"></i>
                                                {{'DEL'|translate}}
                                            </button>
                                        </td><!-- 9 -->
                                    </tr>
                                </tbody>
                            </table>

                        </fieldset>
                        <div class="row">

                        <div class="col-md-6">
                            <div class="form-group offset-md-5 m-2">
                                {{'ISSUERETURNDATE'| translate}}:-
                                    <jqxInput [width]="'30%'" [height]="25"
                                    formControlName="issueReturnDate"
                                    [theme]="'energyblue'"></jqxInput>
                                <!-- <input type="text" formControlName="issueReturnDate"> -->
                                </div>
                         </div>
                            <div class="col-6">
                                <div class="form-group text-right m-2">
                                    <jqxButton [theme]="'energyblue'"
                                        [disabled]="!searchForm.valid"
                                        [width]="100"
                                        (onClick)="save()">
                                        {{'SAVE'|translate}}
                                    </jqxButton>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
    [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
    [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
    [width]="100" [height]="60">
</jqxLoader>
