<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2>{{'INVENTORY_USE_DETAIL'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <jqxValidator #myValidator>
            <form name="alForm" [formGroup]="alForm" id="alForm">
              <fieldset class="jqx-widget-header-energyblue">
                <legend>{{'SEARCH_BOX'|translate}}</legend>
                <table class="table-w-tooltip">
                  <tr>
                    <td>{{'ITEM'|translate}}</td>
                    <td>
                      <app-search-selection-item [formGroup]="itemForm" width="27px"></app-search-selection-item>

                    </td>
                    <!-- <td>{{'CATEGORY'|translate}}</td>
                    <td>
                      <select formControlName="reqType" (change)="categoryChange($event)" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">{{ data.id }}</option>
                      </select>
                    </td> -->
                    <!-- <td *ngIf="showWard">{{'WARD'|translate}}</td>
                    <td *ngIf="showWard">
                      <select formControlName="ward" style="width: 100px;"  class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">{{ data['name'] }}</option>
                      </select>
                    </td>
                    <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                    <td *ngIf="showDivision">
                      <select formControlName="division" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of divisionAdapter;let i=index" [value]="data['id']">{{
                          data['nameNepali'] }}</option>
                      </select>
                    </td> -->
                    <td>{{'LOCATION'|translate}}</td>
                    <td >
                      <select formControlName="location" style="width: 180px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of locationAdapter;let i=index" [value]="data['id']">{{
                          data['name'] }}</option>
                      </select>
                    </td>
                    <td>
                      <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!alForm.valid && !itemForm.valid" (onClick)="saveBtn(alForm.value,itemForm.value)">
                        {{'SEARCH'|translate}}
                      </jqxButton>
                    </td>
                  </tr>
                </table>
              </fieldset>
            </form>
          </jqxValidator>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2>{{'INVENTORY_USE_DETAIL'|translate}} </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <div class="use-details">
                    <jqxValidator #myValidator>
                      <form name="useDetailsForm" [formGroup]="useDetailsForm" id="useDetailsForm">
                        <fieldset class="jqx-widget-header-energyblue">
                          <legend>{{'USE_DETAIL_FORM'|translate}}</legend>
                          <table class="table-w-tooltip">
                            <tr>
                              <td>{{'ITEM'|translate}}
                                <td>
                                  <td>
                                    <input type="hidden" formControlName="itemCode" class="px-control">
                                    <input type="text" (keyup)="itemFilterUse($event)" [placeholder]="'SEARCH_ITEM'|translate" formControlName="name" class="px-control nepalify nepalify1"
                                      readonly>
                                    <span *ngIf="itemFocusUse" class="px-select-container">
                                      <select (change)="itemListSelectedUse($event)" (blur)="itemFocusUse = false;" size="5" name="itemCode" class="px-control px-select-list"
                                        id="itemCode">
                                        <option disabled="true" value="">{{'CHOOSE_ITEM'|translate}}</option>
                                        <option *ngFor='let item of itemAdapter' [value]="item.itemCode">{{ item.itemNameNepali }}
                                        </option>
                                      </select>
                                    </span>
                                  </td>
                                  <td>{{'LOCATION'|translate}}
                                    <td>
                                      <td>
                                        <input type="text" formControlName="location" class="px-control" placeholder="Item" hidden>
                                        <input type="text" formControlName="locationName" class="px-control nepalify nepalify1" [placeholder]="'SEARCH_LOCATION'|translate"
                                          readonly>
                                        <!-- <span *ngIf="locationFocusUse" class="px-select-container">
                                          <select (change)="locationListSelectedUse($event)" (blur)="locationFocusUse = false;" size="5" name="locationCode" class="px-control px-select-list"
                                            id="locationCode">
                                            <option *ngFor='let location of locationAdapter' [value]="location.id">{{ location.name }}</option>
                                          </select>
                                        </span> -->
                                      </td>
                                      <td>{{'USE_DATE'|translate}}</td>
                                      <td>
                                        <jqxInput [theme]="'energyblue'" [placeHolder]="'DATE_PATTERN'|translate" [height]="23" [width]="140" formControlName="useDateFrom"></jqxInput>
                                      </td>
                                      <td>{{'USE_TIME'|translate}}</td>
                                      <td>
                                        <jqxInput [theme]="'energyblue'" [placeHolder]="'HH:MM:SS PM'" [height]="23" [width]="140" formControlName="useTimeFrom"></jqxInput>
                                      </td>
                                      <td>{{'QUANTITY'|translate}}</td>
                                      <td>
                                        <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_QUANTITY'|translate" [height]="23" [width]="140"
                                  formControlName="qty"></jqxInput> -->
                                        <input type="number" formControlName="qty" class="px-control" min="0" width="140" (keyup)="qtyChange($event.target.value)" [placeholder]="'ENTER_QUANTITY'|translate">
                                      </td>
                                      <td>
                                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!useDetailsForm.valid" (onClick)="saveBtnPost(useDetailsForm.value)">
                                          {{'USE'|translate}}
                                        </jqxButton>
                                      </td>
                            </tr>
                          </table>
                        </fieldset>
                      </form>
                    </jqxValidator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>