<div [@routerTransition] style="padding: 5px;">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="dash-block bg-grey p-2 mt-2 mb-4" style="padding: 16px!important;background-color: white">
                <!-- <div class="today-data float-left" style="width: 400px;"> -->
                <!-- <span style="font-size:20px;">
                    <b>{{ todayDate && todayDate['day'] }},&nbsp;{{ todayDate && todayDate['nmonth'] }},&nbsp;{{ todayDate &&
                        todayDate['year'] }}, &nbsp;{{ todayDate && todayDate['weekday'] }}</b>
                </span> &nbsp;&nbsp; -->
                <span style="font-size:20px;" [ngSwitch]="todayDate && todayDate['day']">
                    <b *ngSwitchCase="01">
                        ०१
                    </b>
                    <b *ngSwitchCase="02">
                        ०२
                    </b>
                    <b *ngSwitchCase="03">
                        ०३
                    </b>
                    <b *ngSwitchCase="04">
                        ०४
                    </b>
                    <b *ngSwitchCase="05">
                        ०५
                    </b>
                    <b *ngSwitchCase="06">
                        ०६
                    </b>
                    <b *ngSwitchCase="07">
                        ०७
                    </b>
                    <b *ngSwitchCase="08">
                        ०८
                    </b>
                    <b *ngSwitchCase="09">
                        ०९
                    </b>
                    <b *ngSwitchCase="10">
                        १०
                    </b>
                    <b *ngSwitchCase="11">
                        ११
                    </b>
                    <b *ngSwitchCase="12">
                        १२
                    </b>
                    <b *ngSwitchCase="13">
                        १३
                    </b>
                    <b *ngSwitchCase="14">
                        १४
                    </b>
                    <b *ngSwitchCase="15">
                        १५
                    </b>
                    <b *ngSwitchCase="16">
                        १६
                    </b>
                    <b *ngSwitchCase="17">
                        १७
                    </b>
                    <b *ngSwitchCase="18">
                        १८
                    </b>
                    <b *ngSwitchCase="19">
                        १९
                    </b>
                    <b *ngSwitchCase="20">
                        २०
                    </b>
                    <b *ngSwitchCase="21">
                        २१
                    </b>
                    <b *ngSwitchCase="22">
                        २२
                    </b>
                    <b *ngSwitchCase="23">
                        २३
                    </b>
                    <b *ngSwitchCase="24">
                        २४
                    </b>
                    <b *ngSwitchCase="25">
                        २५
                    </b>
                    <b *ngSwitchCase="26">
                        २६
                    </b>
                    <b *ngSwitchCase="27">
                        २७
                    </b>
                    <b *ngSwitchCase="28">
                        २८
                    </b>
                    <b *ngSwitchCase="29">
                        २९
                    </b>
                    <b *ngSwitchCase="30">
                        ३०
                    </b>
                    <b *ngSwitchCase="31">
                        ३१
                    </b>

                </span>,
                <span style="font-size:20px;" [ngSwitch]="todayDate && todayDate['nmonth']">
                    <b *ngSwitchCase="'Baishak'">
                        बैशाख
                    </b>
                    <b *ngSwitchCase="'Jestha'">
                        जेठ
                    </b>
                    <b *ngSwitchCase="'Ashad'">
                        असार
                    </b>
                    <b *ngSwitchCase="'Shrawn'">
                        श्रावण
                    </b>
                    <b *ngSwitchCase="'Bhadra'">
                        भदौ
                    </b>
                    <b *ngSwitchCase="'Ashwin'">
                        आश्विन
                    </b>
                    <b *ngSwitchCase="'kartik'">
                        कार्तिक
                    </b>
                    <b *ngSwitchCase="'Mangshir'">
                        मंसिर
                    </b>
                    <b *ngSwitchCase="'Poush'">
                        पुष
                    </b>
                    <b *ngSwitchCase="'Magh'">
                        माघ
                    </b>
                    <b *ngSwitchCase="'Falgun'">
                        फाल्गुन
                    </b>
                    <b *ngSwitchCase="'Chaitra'">
                        चैत्र
                    </b>

                </span>,
                <span style="font-size:20px;" [ngSwitch]="todayDate && todayDate['year']">
                    <b *ngSwitchCase=2075>
                        २०७५
                    </b>
                    <b *ngSwitchCase=2076>
                        २०७६
                    </b>
                    <b *ngSwitchCase=2077>
                        २०७७
                    </b>
                    <b *ngSwitchCase=2078>
                        २०७८
                    </b>
                    <b *ngSwitchCase=2079>
                        २०७९
                    </b>
                    <b *ngSwitchCase=2080>
                        २०८०
                    </b>
                    <b *ngSwitchCase=2081>
                        २०८१
                    </b>
                    <b *ngSwitchCase=2082>
                        २०८२
                    </b>
                    <b *ngSwitchCase=2083>
                        २०८३
                    </b>
                    <b *ngSwitchCase=2084>
                        २०८४
                    </b>
                    <b *ngSwitchCase=2085>
                        २०८५
                    </b>
                    <b *ngSwitchCase=2086>
                        २०८६
                    </b>
                    <b *ngSwitchCase=2087>
                        २०८७
                    </b>
                    <b *ngSwitchCase=2088>
                        २०८८
                    </b>
                    <b *ngSwitchCase=2089>
                        २०८९
                    </b>
                    <b *ngSwitchCase=2090>
                        २०९०
                    </b>
                    <var></var>
                </span>,
                <span style="font-size:20px;" [ngSwitch]="todayDate && todayDate['weekday']">
                    <b *ngSwitchCase="'Sunday'">
                        आइतवार
                    </b>
                    <b *ngSwitchCase="'Monday'">
                        सोमवार
                    </b>
                    <b *ngSwitchCase="'Tuesday'">
                        मङ्गलवार
                    </b>
                    <b *ngSwitchCase="'Wednesday'">
                        बुधवार
                    </b>
                    <b *ngSwitchCase="'Thursday'">
                        बिहिवार
                    </b>
                    <b *ngSwitchCase="'Friday'">
                        शुक्रवार
                    </b>
                    <b *ngSwitchCase="'Saturday'">
                        शनिवार
                    </b>
                </span>
                <!-- <span style="font-size:16px;">
                    <b> {{todayDateAd && todayDateAd['monthName']}}&nbsp;{{todayDateAd && todayDateAd['day']}}, &nbsp;{{todayDateAd
                        && todayDateAd['year']}}</b>
                </span> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="chart-container">
                <div class="chart-header jqx-widget-header-energyblue">
                    <span class="head">
                        कुल संख्या
                        <!-- <button class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick1()">
                            <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                        </button> -->
                    </span>
                </div>
                <div class="row">
                    <!-- <div class="col-md-7">
                        <div class="chart-box">
                            <jqxChart #myChart [width]="'100%'" [height]="428" [title]="'प्रशासनिक अनुमोदनको आधारको परियोजना'" [description]="''" [enableAnimations]="true"
                                [showLegend]="true" [padding]="padding" [titlePadding]="titlePadding" [source]="sampleData" [xAxis]="xAxis"
                                [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
                            </jqxChart>
                            <div class="chart-loader" [ngClass]="graphLoading">
                                <div class="lds-roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="info-box">
                            <div class="chart-loader" [ngClass]="graphLoading">
                                <div class="lds-roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <!-- <div class="project-box ">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <small> {{ 'TOTAL_REQUISITION_PENDING' | translate }} </small>
                                    </div>
                                    <div class="col-md-6 nepali-digits">
                                        <h3 class="nepali-digits font-large">{{ projectDetail?.requisitionPending }}
                                        </h3>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="project-box ">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <small> {{ 'TOTAL_PO_PENDING' | translate }} </small>
                                    </div>
                                    <div class="col-md-6 nepali-digits">
                                        <h3 class="nepali-digits font-large">{{ projectDetail?.purchaseOrderPending }}
                                        </h3>
                                    </div>
                                </div>
                            </div> -->
                            <div class="project-box">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <small> {{ 'TOTAL_GROUPS' | translate }} </small>
                                    </div>
                                    <div class="col-md-6 nepali-digits">
                                        <h3 class="nepali-digits font-large">{{ projectDetail?.groups }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="project-box">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <small> {{ 'TOTAL_ITEMS' | translate }} </small>
                                    </div>
                                    <div class="col-md-6 nepali-digits">
                                        <h3 class="nepali-digits font-large">{{ projectDetail?.items }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="project-box">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <small> {{ 'ISSUE_THIS_MONTH' | translate }} </small>
                                    </div>
                                    <div class="col-md-6 nepali-digits">
                                        <h3 class="nepali-digits font-large">{{ projectDetail?.issueThisMonth }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="project-box">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <small> {{ 'PURCHASE_THIS_MONTH' | translate }} </small>
                                    </div>
                                    <div class="col-md-6 nepali-digits">
                                        <h3 class="nepali-digits font-large">{{ projectDetail?.purchaseThisMonth }}</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="project-box">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <small> {{ 'PURCHASE_AMOUNT_THIS_MONTH' | translate }} </small>
                                    </div>
                                    <div class="col-md-6 nepali-digits">
                                        <!-- projectDetail?.purchaseAmountThisMonth -->
                                        <h3 class="nepali-digits font-large">
                                            {{ projectDetail?.purchaseAmountThisMonth | number: '.0' }}</h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="chart-container">
                <form name="rsForm" [formGroup]="rsForm">
                    <div class="chart-header jqx-widget-header-energyblue">
                        <span class="header-top">
                            <table width="100%">
                                <tr>
                                    <td width="40%">
                                        <span class="head"> वस्तु माग/निकासी संख्या </span>
                                    </td>
                                    <td width="12%">
                                        <input type="text" class="px-control" (change)="dateChange($event.target.value)"
                                            placeholder="YYYY-MM-DD" formControlName="today">
                                    </td>
                                    <td width="10%">
                                        <select formControlName="reqType" (change)="categoryChange($event.target.value)"
                                            style="width: 100px;"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>वर्ग छान्नुहाेस्
                                            </option>
                                            <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">
                                                {{ data.id }}</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showWard">
                                        <select formControlName="ward" style="width: 100px"
                                            (change)="wardChange($event.target.value)"
                                            class="select-control selectpicker select-class select-border ">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>वडा छान्नुहाेस्
                                            </option>
                                            <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">
                                                {{ data['name'] }}</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showDivision">
                                        <select formControlName="division" style="width: 100px"
                                            (change)="divisionChange($event.target.value)"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" value=''>शाखा छान्नुहाेस्</option>
                                            <option *ngFor="let data of divisionAdapter;let i=index"
                                                [value]="data['id']">{{ data['nameNepali'] }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button *ngIf="!showWard && !showDivision"
                                            class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick3()">
                                            <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                                        </button>
                                        <button *ngIf="showWard" class="btn btn-default btn-sm btn-chart pull-right"
                                            (click)="printClick2()">
                                            <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                                        </button>
                                        <button *ngIf="showDivision" class="btn btn-default btn-sm btn-chart pull-right"
                                            (click)="printClick1()">
                                            <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </span>
                    </div>
                </form>
                <div *ngIf="!showWard && !showDivision" class="chart-content" style="padding-bottom: 1px;">
                    <jqxChart #myChart3 [width]="'100%'" [height]="428" [title]="'बस्तु माग/निकासी संख्या'"
                        [description]="' '" [valueAxis]="valueAxis3" [showLegend]="true" [enableAnimations]="true"
                        [source]="municipalData" [xAxis]="xAxis3" [columnSeriesOverlap]="true"
                        [seriesGroups]="seriesGroups3" [colorScheme]="'scheme04'">
                    </jqxChart>
                    <div class="chart-loader" [ngClass]="graphLoading">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="showWard" class="chart-content" style="padding-bottom: 1px;">
                    <jqxChart #myChart2 (onClick)="barClicked2($event)" [width]="'100%'" [height]="428"
                        [title]="'बस्तु माग/निकासी संख्या'" [description]="' '" [valueAxis]="valueAxis2"
                        [showLegend]="true" [enableAnimations]="true" [source]="wardData" [xAxis]="xAxis2"
                        [columnSeriesOverlap]="true" [seriesGroups]="seriesGroups2" [colorScheme]="'scheme04'">
                    </jqxChart>
                    <div class="chart-loader" [ngClass]="graphLoading">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="showDivision" class="chart-content" style="padding-bottom: 1px;">
                    <jqxChart #myChart1 (onClick)="barClicked1($event)" [width]="'100%'" [height]="428"
                        [title]="'बस्तु माग/निकासी संख्या'" [description]="' '" [valueAxis]="valueAxis1"
                        [showLegend]="true" [enableAnimations]="true" [source]="divisionData" [xAxis]="xAxis1"
                        [columnSeriesOverlap]="true" [seriesGroups]="seriesGroups2" [colorScheme]="'scheme04'">
                    </jqxChart>
                    <div class="chart-loader" [ngClass]="graphLoading">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="chart-container">
                <div class="chart-header jqx-widget-header-energyblue">
                    <h2>
                        बजेट एवं खर्च
                        <button class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick3()">
                            <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                        </button>
                    </h2>
                </div>
                <div class="chart-content" style="height:302px;">
                    <jqxChart #myChart3 style="float: left" [width]="'100%'" [height]="300" [title]="'बजेट एवं खर्च '" [description]="''" [showLegend]="true"
                        [enableAnimations]="false" [padding]="padding" [titlePadding]="titlePadding" [source]="dataCosts" [showBorderLine]="true"
                        [seriesGroups]="seriesGroups3" [colorScheme]="'scheme03'">
                    </jqxChart>
                    <div class="chart-loader" [ngClass]="graphLoading">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-container">
                <div class="chart-header jqx-widget-header-energyblue">
                    <h2>
                        समावेशी समूहको आधारमा योजना बर्गिकरण
                        <button class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick4()">
                            <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                        </button>
                    </h2>
                </div>
                <div class="chart-content nepaliText" style="height:502px;">
                    <jqxChart #myChart4 [width]="'100%'" [height]="500" [title]="'समावेशी  समूहको आधारमा योजना बर्गिकरण'" [description]="''"
                        [showLegend]="true" [enableAnimations]="true" [padding]="padding" [titlePadding]="titlePadding" [source]="dataInclusions"
                        [showBorderLine]="true" [seriesGroups]="seriesGroups4" [colorScheme]="'scheme03'">
                    </jqxChart>
                    <div class="chart-loader" [ngClass]="graphLoading">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

</div>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
