<div class="container-fluid tfm-panel">
        <form name="rsForm" [formGroup]="rsForm">
          <div class="row">
            <div class="col-md-12 tfm-panel-right">
              <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header
                  jqx-widget-header-energyblue">
                  <h2> मर्मत सम्भार तथा संरक्षण खाता </h2>
                </div>
                <div class="bg-white p-1">
                  <fieldset>
                    <legend>मर्मत सम्भार तथा आवेदन फारम </legend>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>वित्तीय वर्ष</label>
                          <select formControlName="fy"
                            class="select-control selectpicker select-class
                            select-border">
                            <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                            <option *ngFor="let fy of fiscalYearAdapter"
                              [value]="fy['fySymbol']">{{fy['fiscalYear']}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>मिति</label>
                          <jqxInput [width]="'100%'" [height]="25"
                            formControlName="repairDate" [placeHolder]="'YYYY-MM-DD'"
                            [theme]="'energyblue'"></jqxInput>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>आवेदन कर्ताको नाम</label>
                          <jqxInput [width]="'100%'" [height]="25"
                            formControlName="repairRequestBy"
                            [placeHolder]="'Manoj Kumar Singh'"
                            [theme]="'energyblue'"></jqxInput>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>सामानको बिवरण</label>
                          <app-search-selection-item #sItem [formGroup]="itemForm"
                            (click)="selectedItem()" height="23px" width="27px"></app-search-selection-item>
                          <input type="hidden" formControlName="assetPageNo"
                            class="px-control" placeholder="मर्मत आवेदन फारम नं.">
                          <small [hidden]="itemForm['controls'].name.valid ||
                            !itemForm['controls'].name.value"
                            class="form-control-feedback text-danger
                            px-control-error">
                            * required
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>समान पहिचान नं</label>
                          <nepali-input #nepali [height]="25" name="itemIdentification"
                            formControlName="itemIdentification"
                            [placeHolder]="'विवरण'"
                            [inputClass]="'px-control'">
                          </nepali-input>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>अनुमति मर्मत लागत </label>
                          <input type="number" class="px-control"
                            formControlName="repairExpenses">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>मर्मत गर्नुपर्ने कारण </label>
                          <nepali-input #nepali [height]="25" name="repairReason"
                            formControlName="repairReason"
                            [placeHolder]="'विवरण'"
                            [inputClass]="'px-control'">
                          </nepali-input>
                        </div>
                      </div>
                      <div class="col">
                            <div class="form-group">

                              <!-- <select formControlName="supplier"
                                class="select-control selectpicker select-class
                                select-border">
                                <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of supplierAdapter"
                                  [value]="data['id']">{{data['organizationNameNepali']}}</option>
                              </select> -->
                              <label>कैफियत </label>
                              <nepali-input #nepali [height]="25"
                            formControlName="remarks"

                            [inputClass]="'px-control'">
                          </nepali-input>
                            </div>
                          </div>
                      <!-- <div class="col">
                        <div class="form-group">
                          <label>मर्मत आवेदनकर्ताको नाम र सही</label>
                          <input type="number" class="px-control"
                            formControlName="otherExpenses">
                        </div>
                      </div> -->
                    </div>
                    <div class="row">

                      <div class="col pull-left">
                            <div class="form-group">
                              <label>&nbsp;</label>
                              <jqxButton [theme]="'energyblue'" [disabled]="!rsForm.valid"
                                [width]="100" (onClick)="open()">
                                {{ "SAVE" | translate}}
                              </jqxButton>
                            </div>
                          </div>


                      <!-- <div class="col">
                        <div class="form-group">
                          <label>मर्मत संभारको निरीक्षण/प्रमाणित गर्नेको
                            नाम र सही</label>
                          <nepali-input #nepali [height]="25" name="repairApprovedBy"
                            formControlName="repairApprovedBy"
                            [placeHolder]="''"
                            [inputClass]="'px-control'">
                          </nepali-input>
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-group">
                          <label>&nbsp;</label>
                          <input type="hidden">
                        </div>
                      </div> -->

                    </div>

                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false"
      [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
      <div class="header">Header Div</div>
        <div id="windowContent">
         <form name="rsForm" [formGroup]="rsForm">
          <div class="container" style="padding-top: 20px;">

              <div class="row">

                 <div class="col">
                            <div class="form-group">
                              <label>{{'SUPPLIER'|translate}}</label>
                              <select formControlName="supplier"
                                class="select-control selectpicker
                                select-class select-border">
                                <option [selected]="'true'"
                                  value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let supplier of
                                  supplierAdapter"
                                  [value]="supplier.id">{{
                                  supplier.organizationNameNepali
                                  }}</option>
                              </select>
                            </div>
                          </div>

                <div class="col">
                  <div class="form-group">
                    <label>जिन्सि सन्केत नं:</label>
                    <input type="number" class="px-control"
                    formControlName="sn">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>वारेनटि अवधि भए / नभएको:</label>

                    <nepali-input #nepali [height]="25"
                    formControlName="ifWarranty"

                    [inputClass]="'px-control'">
                  </nepali-input>
                    <!-- <jqxInput [width]="'100%'" [height]="25"
                      formControlName="ifWarranty"
                      [theme]="'energyblue'"></jqxInput>
                  </div> -->
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>अगाडी मर्मत गरिएको पटकः</label>

                    <input type="number" class="px-control"
                    formControlName="noOfRepairs">
                    <!-- <jqxInput [width]="'100%'" [height]="25"
                      formControlName="noOfRepairs"
                      [theme]="'energyblue'"></jqxInput>
                  </div> -->
                </div>
                <div class="col">
                    <div class="form-group">
                      <label>यस अघि मर्मत गरिएको मिति:</label>
                      <jqxInput [width]="'100%'" [height]="25"
                        formControlName="previousRepairDate" [placeHolder]="'YYYY-MM-DD'"
                        [theme]="'energyblue'"></jqxInput>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                      <label>अगाडी मर्मत गरिएको रकम:</label>
                      <input type="number" class="px-control"
                      formControlName="previousRepairCost">
                      <!-- <jqxInput [width]="'100%'" [height]="25"
                        formControlName="previousRepairCost"
                        [theme]="'energyblue'"></jqxInput> -->
                    </div>
                </div>
              </div>

            </div>

            <br>

            <div class="container" style="margin-left: 50px;">
                <!-- श्री:<jqxInput [width]="'100%'" [height]="25"
                formControlName="orgHead"
                [theme]="'energyblue'"></jqxInput><br>

                मर्मत आदेश दिइएको व्यक्ति/निकायको नाम: <jqxInput [width]="'100%'" [height]="25"
                formControlName="repairApprovedBy"
                [theme]="'energyblue'"></jqxInput><br>

                ठेगाना : <jqxInput [width]="'100%'" [height]="25"
                formControlName="address"
                [theme]="'energyblue'"></jqxInput><br>

                फोन नं: <jqxInput [width]="'100%'" [height]="25"
                formControlName="phoneNo"
                [theme]="'energyblue'"></jqxInput><br>

                संस्थाको दर्ता नं: <jqxInput [width]="'100%'" [height]="25"
                formControlName="orgRegisterNo"
                [theme]="'energyblue'"></jqxInput><br>

                प्यान नं : <jqxInput [width]="'100%'" [height]="25"
                formControlName="panNo"
                [theme]="'energyblue'"></jqxInput><br><br>


                माथि उल्लेखित सामानको मर्मत गरी मिति <jqxInput [width]="'100%'" [height]="25"
                formControlName="repairDate"
                [theme]="'energyblue'"></jqxInput>
                 भित्र <jqxInput [width]="'100%'" [height]="25"
                 formControlName="orgName"
                 [theme]="'energyblue'"></jqxInput>
                 कार्यालय<jqxInput [width]="'100%'" [height]="25"
                 formControlName="orgAddress"
                 [theme]="'energyblue'"></jqxInput>स्थानमा बिल / इन्भाइससहित बुझाउनुहोला । -->

                <div class="row">
                  <div class="col-md-2">
                    <br> <br> <br>


                    सिफारिस गर्ने शाखा प्रमुखको सही <br>
                    नाम :

                    <nepali-input #nepali [height]="25" n
                    formControlName="requestHeadBy"

                    [inputClass]="'px-control'">
                  </nepali-input>
                    <!-- <jqxInput [width]="'100%'" [height]="25"
                    formControlName="requestHeadBy"
                    [theme]="'energyblue'"></jqxInput>  -->
                    <br>



                  </div>
                  <div class="col-md-2">
                    <br> <br> <br>

                    सिफारिस गर्ने प्राविधिकको सही <br>
                    नाम :
                    <nepali-input #nepali [height]="25" n
                    formControlName="requestBy"

                    [inputClass]="'px-control'">
                    <!-- <jqxInput [width]="'100%'" [height]="25"
                    formControlName="requestBy"
                    [theme]="'energyblue'"></jqxInput>  -->
                    <br>


                  </div>
                  <div class="col-md-2">
                    <br> <br> <br>

                    स्वीकृत गर्ने कार्यालय प्रमुखको सही <br>
                    नाम :
                    <nepali-input #nepali [height]="25" n
                    formControlName="approvedByName"

                    [inputClass]="'px-control'">
                    <!-- <jqxInput [width]="'100%'" [height]="25"
                    formControlName="approvedByName"
                    [theme]="'energyblue'"></jqxInput>  -->
                    <br>


                  </div>

            <div class="col-md-2">
                    <br> <br> <br> <br> <br>
                <!-- <span style="float: right; margin-right: 100px"> -->
                <jqxButton [theme]="'energyblue'" [width]="100" (click)="save(rsForm.value)">
                  {{ "SAVE" | translate}}
                </jqxButton>
                <!-- </span> -->
            </div>
        </div>
    </div>
            </form>
        </div>
      </jqxWindow>

      <jqxNotification #msgNotification [width]="250" [position]="'top-right'"
        [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
        [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
        <div id='message'></div>
      </jqxNotification>
      <jqxNotification #errNotification [width]="250" [position]="'top-right'"
        [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
        [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
        <div id='error'></div>
      </jqxNotification>
      <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
        [width]="100" [height]="60">
      </jqxLoader>

      <!-- <fieldset>
        <table>
          <thead>
            <tr>
              <th rowspan="2">मिति</th>
              <th rowspan="2">मर्मत आवेदन फारम नं.</th>
              <th rowspan="2">सामानको पहिचान नं.:</th>
              <th rowspan="2">वस्तु</th>
              <th rowspan="2">आवेदन कर्ताको नाम</th>
              <th colspan="2">मर्मत गर्दा फेरिएको नँया सामान</th>
              <th colspan="2">मर्मत गर्दाको अन्य खर्च</th>
              <th rowspan="2">जम्मा लागत</th>
              <th rowspan="2">मर्मत संभार गर्ने व्यक्ति वा फर्मको विवरण</th>
              <th rowspan="2">मर्मत संभारको निरीक्षण/प्रमाणित गर्नेको
                नाम र सही</th>
              <th rowspan="2">कैफियत</th>
              <th rowspan="2">कार्य</th>
            </tr>
            <tr>
              <th>विवरण</th>
              <th>मूल्य</th>
              <th>विवरण</th>
              <th>मूल्य</th>
            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </fieldset> -->
