<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{ "MANAGEPERMISSION" | translate }}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="permissionForm" [formGroup]="permissionForm" id="permissionForm">
            <input type="text" name="id" formControlName="id" hidden>
            <fieldset>
              <legend>{{ "USER_PERMISSION_DETAILS" | translate }}</legend>
              <div class="row">
                <div class="col-2">
                  <div class="form-group">
                    <label>{{ "SELECT_USER" | translate }} *</label>
                    <select formControlName="userCode" (change)="loadPermission()" class="selectpicker select-class select-border" style="height:25px;font-size: 13px;">
                      <option [selected]="true" value=''>{{'CHOOSE_USER' | translate}}</option>
                      <option *ngFor="let data of userAdapter" [value]="data['id']">{{data['fullName']}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <jqxGrid #myGrid [height]="'100%'"  [selectionmode]="'checkbox'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [autorowheight]="true"
            [editable]="true" [theme]="'energyblue'" [rendertoolbar]="rendertoolbar" [showtoolbar]="true" [keyboardnavigation]="true">
          </jqxGrid>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>