.rs-grid-panel {
    height: 68vh;
    // padding: 0 5px;
    padding-right: 2px;
}
.data-table {
    overflow-x: auto;
    tr:first-child > th {
        position: sticky;
        top: 0;
    }
}
