<div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
                    <h2>मर्मत सम्भार तथा संरक्षण अभिलेख खाता </h2>
                </div>
                <div class="bg-white p-1">
                    <form name="alForm" [formGroup]="alForm" id="alForm">
                        <fieldset class="jqx-widget-header-energyblue">
                            <legend>{{'SEARCH_BOX'|translate}}</legend>
                            <table class="table-w-tooltip">
                                <tr>
                                    <td>{{'DATE_FROM'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'"
                                            [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>{{'DATE_TO'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="100"
                                            [height]="25"></jqxInput>
                                    </td>
                                    <td>
                                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                            [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                            {{'SEARCH'|translate}}
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div>
                <div class="rs-grid-panel bg-white">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header
              jqx-widget-header-energyblue">
                        <h2> मर्मत सम्भार तथा संरक्षण अभिलेख खाता
                            <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                                <button (click)="pReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                                </button>
                            </span>
                            <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                                </button>
                                &nbsp; &nbsp;
                            </span>
                        </h2>
                    </div>
                    <div class="scroll-container" style="margin: 10px;">
                        <div class="row justify-content-md-center">
                            <div class="col-12">
                                <div id="reportContainer">
                                    <div class="info-container">
                                    </div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr *ngIf="reportDatas.length>0">
                                                <th colspan="8" style="text-align:center;">
                                                    <span> मर्मत सम्भार तथा संरक्षण रिपोर्ट</span>
                                                </th>
                                            </tr>
                                            <tr *ngIf="reportDatas.length>0">
                                                <th colspan="4">
                                                    {{'DATE_FROM'|translate}}: {{ alForm.value['dateFrom']
                            | nepaliNumber }}
                                                </th>
                                                <th colspan="4">
                                                    {{'DATE_TO'|translate}}: {{ alForm.value['dateTo'] |
                            nepaliNumber }}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>मिति</th>
                                                <th>मर्मत आवेदन फारम नं.</th>
                                                <th>वस्तु</th>
                                                <th>आवेदन कर्ताको नाम</th>
                                                <th>मर्मत संभार गर्ने व्यक्ति वा फर्मको विवरण</th>
                                                <th>मर्मत संभारको निरीक्षण/प्रमाणित गर्नेको
                                                    नाम र सही</th>
                                                <th>कैफियत</th>
                                                <th class="last-td">कार्य</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="reportDatas">
                                            <tr *ngFor="let data of reportDatas">
                                                <td>{{ data['repairDate'] | nepaliNumber }}</td>
                                                <td>{{ data['assetPageNo'] }}</td>
                                                <td>{{ data['itemCode']['itemNameNepali'] }}</td>
                                                <td>{{ data['repairRequestBy'] }}</td>
                                                <td>{{ data['supplier']['organizationNameNepali']}}</td>
                                                <td>{{ data['repairApprovedBy']}}</td>
                                                <td>{{ data['remarks'] }}</td>
                                                <td class="last-td" (click)="viewItem(data)">
                                                    <jqxButton>
                                                        पुरा विवरण
                                                    </jqxButton>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <span *ngIf="reportDatas && reportDatas[0]">
            <button (click)="printDetailReport()" class="btn btn-sm btn-primary">
                <i class="fa fa-print fa-fw"></i> Print
            </button>
        </span>
        <div id="print1" *ngIf="printItemDetails && printOfficialDetails">
            <form [formGroup]="purchasePrintForm">
                <div class="invoice-header">
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <p class="meta-sub">स्थानीय तह </p>
                            <p class="meta-sub">
                                {{organizationAdapter[0]?.name}}<br />{{organizationAdapter[0]['address']}},
                                {{organizationAdapter[0]['district']}}</p>
                            <p class="meta-sub"> कार्यालय कोड नं.:
                                {{organizationAdapter[0]?.orgCodeNo}} </p>
                            <p class="meta-sub" style="font-size:12px;text-decoration: underline;text-align:
                    center;">मर्मत
                                सम्भार तथा संरक्षण अभिलेख खाता </p>
                            <p class="meta-sub" style="font-size:12px;text-decoration: underline;text-align:
                    center;">आ.व.{{reportDatas[0]?.fy | nepaliNumber}}</p>
                        </div>
                        <div class="col-md-3">
                            <p style="text-align: right;">म.ले.प.फारम नं.: ४१५ </p>
                        </div>
                    </div>

                    <!-- </div> -->
                    <!-- <div class="header-row">
                <table width="100%">
                  <tr>
                    <td width="50%">
                      <p>जिन्सी समानको नाम : {{printItemDetails?.itemName}}<br/>
                          स्पेसिफिकेसन: {{printItemDetails?.specification}}<br/>
                            सामानको पहिचान नं. : <span
                              class="display-print">
                              {{purchasePrintForm.value['itemNumber']}}</span>
                            <input type="text" class="display-here"
                              formControlName="itemNumber"><br/>
                              मोडल नं.:{{purchasePrintForm.value['modalNo']}}
                            </p>
                          </td>
                          <td width="50%" style="text-align: right;">
                            <p>पाना नं. :</p>
                            <p> जिन्सी संकेत नं: {{printItemDetails?.assetCode}}</p>
                            <p>
                              जिन्सी खाता पाना.नं.:
                              {{printItemDetails?.assetPageNo}} </p>
                            <p>
                              समानको परल मूल्य:
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div> -->


                    <div class="header-row" style="margin-right: 50px;">
                        <table width="100%">
                            <tr>
                                <td width="50%" style="text-align: right;">
                                    <p>मर्मत अभिलेख फारम नं :{{reportDatas[0]?.id | nepaliNumber}} </p>
                                    <p>मिति : {{todayDate | nepaliNumber }}</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="header-row">

                    </div>

                </div>

                <div class="invoice-container">
                    <p>मर्मत अभिलेखकर्ताले भर्ने</p>
                    <table class="invoice-table" border="1">
                        <thead>
                            <tr>
                                <!-- <th>क्र.सं</th> -->
                                <th rowspan="2">मिति</th>
                                <th rowspan="2">मर्मत आवेदन फारम नं </th>
                                <th rowspan="2">आवेदन कर्ताको नाम </th>
                                <th colspan="2">मर्मत गर्दा फेरिएको नया समान </th>
                                <th colspan="2">मर्मत गर्दा अन्य खर्च </th>
                                <th rowspan="2">जम्मा लागत </th>
                                <th rowspan="2">मर्मत संभार गर्ने बेक्ती वा फर्मको नाम </th>
                                <th rowspan="2">मर्मत संभारको निरिक्षण/प्रमाणित गर्नेको नाम र सहि </th>

                                <th rowspan="2">कैफियत</th>
                            </tr>
                            <tr>
                                <th style="text-align: center">बिवरण </th>
                                <th style="text-align: center">मूल्य </th>
                                <th style="text-align: center">बिवरण </th>
                                <th style="text-align: center">मूल्य </th>
                            </tr>
                        </thead>

                        <tbody *ngIf="reportDatas">
                            <!-- <tr>
                                <td style="font-size:12px;">१</td>
                                <td style="font-size:12px;">२</td>
                                <td style="font-size:12px;">३</td>
                                <td style="font-size:12px;">४</td>
                                <td style="font-size:12px;">५</td>
                                <td style="font-size:12px;">६</td>
                                <td style="font-size:12px;">७</td>
                                <td style="font-size:12px;">७</td>
                                <td style="font-size:12px;">७</td>
                                <td style="font-size:12px;">७</td>
                            </tr> -->
                            <tr *ngFor="let itemDetails of marmatDetails">
                                <td style="font-size:12px;">{{itemDetails['repairDate'] | nepaliNumber}}</td>
                                <td style="font-size:12px;">{{itemDetails['id']}}</td>
                                <td style="font-size:12px;">{{itemDetails?.repairRequestBy}}</td>
                                <td style="font-size:12px;">{{itemDetails?.repairDescription}}</td>
                                <td style="font-size:12px;">{{itemDetails?.repairExpenses}}</td>
                                <td style="font-size:12px;">{{itemDetails?.otherDescription}}</td>
                                <td style="font-size:12px;">{{itemDetails?.otherExpenses}}</td>
                                <td style="font-size:12px;">
                                    {{itemDetails['repairExpenses'] + itemDetails['otherExpenses']}}</td>
                                <td style="font-size:12px;">{{itemDetails['supplier']['organizationNameNepali']}}</td>
                                <td style="font-size:12px;">{{itemDetails?.repairApprovedBy}}</td>
                                <td tyle="font-size:12px;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <hr>
                </div>

                <!-- <div class="invoice-container">
                    <p>स्टिरकिपर/फाँटँवालाले भर्ने</p>
                    <table class="invoice-table" border="1">
                        <thead>
                            <tr>
                                <th>जिन्सी संकेत नं</th>
                                <th>वारेन्टि अवधि भए्/नभएको</th>
                                <th>अगाडी मर्मत गरिएको पटकः</th>
                                <th>यस अघि मर्मत गरिएको मिति</th>
                                <th>अगाडी मर्मत गरिएको रकम</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td style="font-size:12px;">{{printItemDetails?.sn}}</td>
                                <td style="font-size:12px;">{{printItemDetails?.ifWarranty}}</td>
                                <td style="font-size:12px;">{{printItemDetails?.noOfRepairs}}</td>
                                <td style="font-size:12px;">{{printItemDetails?.previousRepairDate}}</td>
                                <td style="font-size:12px;">{{printItemDetails?.previousRepairCost}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <hr>
                </div> -->



                <div class="row" style="padding-left: 50px; text-align: center;">
                    <div class="col-md-3">
                        <br> <br> <br> <br> <br>


                        भण्डार शाखा प्रमुख को सहि <br>
                        नाम : {{organizationAdapter[0]?.divisionHeadName}} <br>
                        दर्जा : <br>
                        मिति : {{todayDate | nepaliNumber}} <br>
                    </div>
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-3">
                        <br> <br> <br> <br> <br>

                        स्कार्यालय प्रमुख को सहि <br>
                        नाम : {{organizationAdapter[0]?.chiefName}} <br>
                        दर्जा : <br>
                        मिति : {{todayDate | nepaliNumber}} <br>
                    </div>
                </div>

            </form>
        </div>
    </div>
</jqxWindow>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
