<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
                <div class="form-header jqx-widget-header jqx-window-header" style="background:#e0eaf5 !important; border:1px solid #a8bace !important;">
                        <img src="assets/images/government.jpg" width="200px" class="user-avatar" />
    
                        <h2> {{'MIMS'|translate}}</h2>
                </div>
            
            <div class="form-container" style="background:#e0eaf5 !important;border:1px solid #a8bace !important;">
                <!-- <img src="assets/images/download.jpg" width="200px" class="user-avatar" /> -->
                <form role="form" name="loginForm" [formGroup]="loginForm">
                    <div class="form-content">
                        <div class="row" *ngIf="msgText">
                            <div class="alert alert-danger" role="alert" style="padding:0.2rem !important; text-align: center; width: 100%;">
                                <p style="margin-bottom: 0rem;font-size: 0.8rem;"> {{ msgText }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="userName" class="col-sm-3 col-form-label">{{'USER'|translate}}</label>
                            <div class="col-sm-9" style="text-align: left;">
                                <jqxInput #username class="userId" [height]="23" [width]="200" formControlName="userId">
                                </jqxInput>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="userPassword" class="col-sm-3 col-form-label">{{'PASSWORD'|translate}}</label>
                            <div class="col-sm-9" style="text-align: left;">
                                <jqxPasswordInput #password class="password" [height]="23" [width]="200" formControlName="password"></jqxPasswordInput>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="category" class="col-sm-3 col-form-label">{{'TYPE'|translate}}</label>
                            <div class="col-sm-9" style="text-align: left;">
                                <jqxComboBox #combo class="category" [height]="23" [width]="200" [autoDropDownHeight]="true" (onChange)="Change($event)" [displayMember]="'id'" [valueMember]="'name'" [source]="cAdapter"></jqxComboBox>
                                <div id="error" style="font-size:12px;color:red;"></div>
                            </div>
                        </div>
                    </div>
                    <jqxButton style="margin-right: 5px;" [disabled]="!loginForm.valid && !estateSelected" (onClick)="getLogin(loginForm.value)"
                        [width]="100" [theme]="'energyblue'">
                        {{'LOGIN'|translate}}
                    </jqxButton>
                </form>
            </div>
        </div>
    </div>
</div>

<jqxLoader #loginLoader [imagePosition]="'top'" [width]="100" [text]="'Logging in..'" [textPosition]="'bottom'" [height]="60"
    [isModal]="true" [theme]="'energyblue'">
</jqxLoader>