/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@font-face {
    font-family: 'nepaliNumber';
    src: url('../assets/css/Shangrila-Numeric.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nepaliNormal';
    src: url('../assets/css/Kantipur.TTF');
    font-weight: normal;
    font-style: normal;
} 
.nepaliNum{
    font-family:'nepaliNumber';
    font-size:14px!important;
}
.nepaliText{
    font-family:'nepaliNormal';
    font-size:18px!important;
}

.jqx-chart-legend-text{
    font-size:13px!important;
}

.preeti-font .jqx-chart-legend-text{
    font-family:'nepaliNormal';
    font-size:16px!important;
}
.nepaliText{
    textarea{
        font-family:'nepaliNormal';
        font-size:18px!important;
    }
}

body {
    overflow: hidden;
    background: #efefef;
}

.navbar{
    padding: 0.2rem 1rem; // default 0.5rem 1rem;
}

.bg-default-gradient{
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c4911+0,668944+52,618a3d+99 */
    background: #2c4911; /* Old browsers */
    background: -moz-linear-gradient(top, #2c4911 0%, #668944 52%, #618a3d 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2c4911 0%,#668944 52%,#618a3d 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2c4911 0%,#668944 52%,#618a3d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4911', endColorstr='#618a3d',GradientType=0 ); /* IE6-9 */
}

.bg-default-white{
    color: #000;
    border: 1px solid #b1caea;
    background: #e0e9f5;
    // background: linear-gradient(to bottom, #b7b6b6 1%, #c9c9c9 51%, #c1c1c1 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
}

.form-group{
    label{
        margin-bottom: .3rem;
        font-size: .75rem;
    }
    .form-control{
        padding: 0.2rem 0.45rem !important;
        // margin-left: 7.5px !important;
        border-color: #4f7030 !important;
        background-color: #fbfbfb !important;
    }
}


#windowContent .jqx-notification-energyblue{
    position: absolute;
    top:5%;
    right: 10px;
}
.form-group{
    label{
        display: block;
    }
}

.grid-class{
    .text_nepali{
        font-family:'nepaliNormal'!important;
        font-size:18px!important;
    }
}
.nepaliCombo{
    input{
        font-family:'nepaliNormal'!important;
        font-size:18px!important;
    }  
}
.green {
    color: black !important;
    background-color: #ddf3a6 !important;
  }
  
  .yellow {
    color: black !important;
    background-color: #f5f5ab !important;
  }

// -------------Style For Select Input Field------------
.select-class{
    width: 200px;
    height: 25px;
    border-color: #c7c7c7!important;
    color: #000!important;
    border-radius: 3px!important;
    font-size: 13px;
}

.nepali-digits{
    font-family:'nepaliNumber';
}
.font-large{
    font-size: 2.4rem !important;
    line-height: 2.4rem;
}