.dash-block{
  color: #4f719e;
  border:1px solid #a4bed4;

  .fa{
      color: #d87b7b;
  }
  .vertical-align-middle{
      vertical-align: text-bottom;
  }
  .d-i-block{
      display: inline-block;
  }
  p{
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0px;
      color: #d04e4e;
      font-size: 0.9rem;
  }
  strong {
      font-size: 2.4rem;
      margin-top: -10px;
      display: block;
  }
}

.chart-container{
  background: #fff;
  background: #0a57b3;
  border: 1px solid #a4bed4;
  margin-bottom: 10px;

  .chart-header{
      border-bottom: 1px solid #a4bed4;
      background: #fff;
      .header-top{
        padding-top: 10px;
        .head{  
        font-size: 1rem;
          padding: 0.7rem;
          margin-bottom: 0;
        }
        select{
          background: #ffffff;
          color: #040404;
          box-shadow: 0 0px 6px #a3cdff;
          margin-right: 10px;
        }
          .btn-chart{
              background: #ffffff;
              color: #040404;
              box-shadow: 0 0px 6px #a3cdff;
          }
      
      }
  }

  .info-box {
      color: #fff;
      margin-top: 15px;
      .project-box{
          margin-bottom: 11px;
          border-bottom: 1px solid #06499a;
          small {
              font-size: 1rem;
              color: #e0e9f4;
          }
          h3{
            font-size: 2.2rem;
            padding-right: 15px;
            text-align: right;
          }
      }
  }
}

.chart-box {
  position: relative;
}

.chart-loader{
  position: absolute;
  width: 100%;
  height: 199%;
  top: calc(50% - 32px);
  left: 0;
  text-align: center;
}

.chart-loader.open{
  display: block;
}

.chart-loader.close{
  display: none;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ff9760;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

