
@font-face {
    font-family: 'nepaliNumber';
    src: url('Shangrila-Numeric.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nepaliNormal';
    src: url('Shangrila-Hybrid.ttf');
    font-weight: normal;
    font-style: normal;
}

