<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header
          jqx-widget-header-energyblue">
          <h2>खर्च भएर नजाने वस्तुको सुची </h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm" id="alForm">
            <fieldset class="jqx-widget-header-energyblue">
              <legend>{{'SEARCH_BOX'|translate}}</legend>
              <table class="table-w-tooltip">
                <tr>
                  <td>{{'CATEGORY'|translate}}</td>
                  <td>
                    <select formControlName="reqType"
                      (change)="categoryChange($event)" style="width:
                      100px;" class="select-control selectpicker
                      select-class select-border">
                      <option [selected]="'true'" [disabled]="'true'"
                        value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of cAdapter;let i=index"
                        [value]="data['name']">{{data['id']}}</option>
                    </select>
                  </td>
                  <td>{{'DATE_FROM'|translate}} *
                  </td>
                  <td>
                    <jqxInput #dateFrom formControlName="dateFrom"
                      [placeHolder]="'2075-01-01'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>{{'DATE_TO'|translate}} *
                  </td>
                  <td>
                    <jqxInput formControlName="dateTo"
                      [placeHolder]="'2075-01-30'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>
                    <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                      [disabled]="!alForm.valid"
                      (onClick)="saveBtn(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
            <h2> खर्च भएर नजाने वस्तुको सुची
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="pReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="7" style="text-align:center;">
                          <span>खर्च भएर नजाने वस्तुको सुची</span>
                        </th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="4">
                          {{'DATE_FROM'|translate}}: {{ alForm.value['dateFrom']
                          | nepaliNumber }}
                        </th>
                        <th colspan="3">
                          {{'DATE_TO'|translate}}: {{ alForm.value['dateTo'] |
                          nepaliNumber }}
                        </th>
                      </tr>
                      <tr>
                        <th>सि.नं.</th>
                        <th>वस्तु</th>
                        <th>वस्तु कोड</th>
                        <th>स्पेसिफिकेसन</th>
                        <th>स्टोरमा भएको परिमाण</th>
                        <th>कैफियत</th>
                        <th class="last-td">कार्य</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['itemCode'] }}</td>
                        <td>{{ data['specification'] }}</td>
                        <td>{{ data['storeInQty'] }}</td>
                        <td>{{ data['remarks'] }}</td>
                        <td class="last-td" (click)="viewItem(data)">
                          <jqxButton>
                            पुरा विवरण
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false"
  [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> Print
      </button>
    </span>
    <div id="print9" *ngIf="printItemDetails && printOfficialDetails">
      <form [formGroup]="purchasePrintForm">
        <div class="invoice-header">
          <div class="row">
            <div class="col-md-4">
              &nbsp;
            </div>
            <div class="col-md-4">
              <p class="meta-sub">स्थानीय तह </p>
              <p class="meta-sub">{{organizationAdapter[0]?.name}}<br/>{{organizationAdapter[0]['address']}},
                  {{organizationAdapter[0]['district']}}</p>
                <p class="meta-sub"> कार्यालय कोड नं.:
                  {{organizationAdapter[0]?.orgCodeNo}} </p>
                <p class="meta-invoice-title center"
                  style="font-size:12px;text-decoration: underline;text-align:
                  center;">खर्च भएर नजाने (खप्रे मालसामानको) जिन्सी खाता </p>
              </div>
              <div class="col-md-3">
                <p style="text-align: right;">म.ले.प.फारम नं.: ४१० </p>
                <p style="text-align: right;">साबिकको फारम नं: ५० </p>
              </div>
            </div>

            <!-- </div> -->
            <div class="header-row">
              <table width="100%">
                <tr>
                  <td width="50%">
                    <p> जिनसी सामानको नाम : {{printItemDetails?.itemName}}<br>
                    </p> एकाइ : {{printItemDetails?.unit}}<br>
                  </td>
                  <td width="50%" style="text-align: right;">
                    <p>आर्थिक बर्ष: {{printItemDetails?.fiscalYear}}</p>
                    <p>जिन्सी सङ्केत नं: {{printItemDetails?.assetPageNo}}</p>
                    <p>जिन्सी खाता पाना नं : </p>
                  </td>
                </tr>
              </table>
            </div>
            <div class="header-row">

            </div>

          </div>

          <div class="invoice-container" >
            <table class="invoice-table" border="1">
              <thead>
                <tr>
                  <th rowspan="2">मिति</th>
                  <th rowspan="2">दाखिला नं / हस्तान्तरण नं</th>
                  <th rowspan="2">स्पेसिफिकेसन</th>
                  <th rowspan="2">सामानको पहिचान नं</th>
                  <th rowspan="2">मोडल नं</th>
                  <th colspan="4">विवरण</th>
                  <th colspan="3">आम्दानी</th>
                  <th colspan="2">हस्तान्तरण/मिन्हा/निःसर्ग</th>
                  <th colspan="2">बाँकी</th>
                  <th rowspan="2">कैफियत</th>
                </tr>
                <tr>
                  <th>उत्पादन गर्ने देश वा कम्पनीको नाम</th>
                  <th>साइज</th>
                  <th>अनुमानित आयु</th>
                  <th>सामान प्राप्तिको स्रोत</th>
                  <th>परिमाण</th>
                  <th>प्रति एकाईको दर (अन्य खर्चको समेतका आधारमा)</th>
                  <th>जम्मा परल मुल्य</th>
                  <th>परिमाण</th>
                  <th>जम्मा परल मुल्य</th>
                  <th>परिमाण</th>
                  <th>जम्मा परल मुल्य</th>
                </tr>
                <tr>
                  <th>१</th>
                  <th>२</th>
                  <th>३</th>
                  <th>४</th>
                  <th>५</th>
                  <th>६</th>
                  <th>७</th>
                  <th>८</th>
                  <th>९</th>
                  <th>१०</th>
                  <th>११</th>
                  <th>१२</th>
                  <th>१३</th>
                  <th>१४</th>
                  <th>१५</th>
                  <th>१६</th>
                  <th>१७</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemDetail of itemDetails['data'] ">
                  <th style="font-size:12px;">{{itemDetail.enterDate}}</th>
                  <th style="font-size:12px;">{{itemDetail.transactionNo}}</th>
                  <th style="font-size:12px;">{{itemDetail.specification}}</th>
                  <th style="font-size:12px;">{{itemDetail.itemSerialNo}}</th>
                  <th style="font-size:12px;">{{itemDetail.modalNo}}</th>
                  <th style="font-size:12px;">{{itemDetail.productionCountry}}</th>
                  <th style="font-size:12px;">{{itemDetail.size}}</th>
                  <th style="font-size:12px;">{{itemDetail.lifeExpetency}}</th>
                  <th style="font-size:12px;">{{itemDetail.sourceOfItem}}</th>
                  <th style="font-size:12px;">{{itemDetail.inQty}}</th>
                  <th style="font-size:12px;">{{itemDetail.total}}</th>
                  <th style="font-size:12px;">{{itemDetail.inAmount}}</th>
                  <th style="font-size:12px;">{{itemDetail.outQty}}</th>
                  <th style="font-size:12px;">{{itemDetail.outAmount}}</th>
                  <th style="font-size:12px;">{{itemDetail.restQty}}</th>
                  <th style="font-size:12px;">{{itemDetail.paralPrice}}</th>
                  <!-- <th style="font-size:12px;">{{itemDetail.storeRemainingTotalAmt}}</th> -->
                  <th style="font-size:12px;">{{itemDetail.remarks}}</th>
                </tr>
              </tbody>
            </table>
            <br>
            <br>
          </div>

          <div>
            <br>
            <br>
            <br>
            <div class="invoice-footer">
              <div class="row" style="padding-left: 10px">
                <div class="col-md-4">
                  <div>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      फाँटावालाको दस्तखत:
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      नाम: <span
                    >{{itemDetails['enterBy']}}</span>
                      <!-- <input type="text" class="display-here"
                        formControlName="storeHeadName" placeholder=""> -->
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      पद: <span
                        class="display-print">{{purchasePrintForm.value['storeHeadPost']}}</span>
                      <input type="text" class="display-here"
                        formControlName="storeHeadPost" placeholder="">
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      मिति : <span
                        class="display-print">{{purchasePrintForm.value['storeHeadDate']}}</span>
                      <input type="text" class="display-here"
                        formControlName="storeHeadDate" placeholder="">
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      शाखा प्रमुखको दस्तखत:
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      नाम: <span
                       *ngIf="itemDetails['approveBy']!= 'null'" >{{itemDetails['approveBy']}}</span>
                       <span
                       *ngIf="itemDetails['approveBy']=='null'" ></span>
                      <!-- <input type="text" class="display-here"
                        formControlName="storeHeadName" placeholder=""> -->
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      पद: <span
                        class="display-print">{{purchasePrintForm.value['storeHeadPost']}}</span>
                      <input type="text" class="display-here"
                        formControlName="storeHeadPost" placeholder="">
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      मिति : <span
                        class="display-print">{{purchasePrintForm.value['storeHeadDate']}}</span>
                      <input type="text" class="display-here"
                        formControlName="storeHeadDate" placeholder="">
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div>
                    <p  style="font-size:12px;"
                      class="invoice-footer-field">
                      कार्यालय प्रमुखको
                      दस्तखत:{{printOfficialDetails[0]?.checkBy}}
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      नाम: <span
                       *ngIf="itemDetails.finalApproveBy!='null'" >{{itemDetails.finalApproveBy}}</span>
                       <span
                       *ngIf="itemDetails.finalApproveBy=='null'" ></span>
                      <!-- <input type="text" class="display-here"
                        formControlName="orgHeadName" placeholder=""> -->
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      पद: <span
                        class="display-print">{{purchasePrintForm.value['orgHeadPost']}}</span>
                      <input type="text" class="display-here"
                        formControlName="orgHeadPost" placeholder="">
                    </p>
                    <p style="font-size:12px;"
                      class="invoice-footer-field">
                      मिति : <span
                        class="display-print">{{purchasePrintForm.value['orgHeadDate']}}</span>
                      <input type="text" class="display-here"
                        formControlName="orgHeadDate"
                        placeholder="">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </jqxWindow>

  <jqxNotification #msgNotification [width]="250"
    [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000"
    [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250"
    [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000"
    [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'"
    [theme]="'energyblue'"
    [width]="100" [height]="60">
  </jqxLoader>