<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>
    <form name="OrganizationDivisionForm" [formGroup]="OrganizationDivisionForm" id="OrganizationDivisionForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>शाखाहरु</legend>
        <input type="text" name="id" formControlName="id" hidden>
        <table class="table-w-tooltip">
          <tr>
            <td>शाखाकाे नाम *
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_NAME'|translate" [height]="23" [width]="140" formControlName="name"></jqxInput>
            </td>
            <td> शाखाकाे नाम ({{'NEPALI'|translate}}) *
            </td>
            <td>
              <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="'ENTER_NAME'|translate" [height]="23"
                [width]="140" formControlName="nameNepali"></jqxInput> -->
                <div style="width:80%">
                  <nepali-input #nepali1 [height]="23" [width]="140" name="nameNepali" formControlName="nameNepali" [placeHolder]="'ENTER_NAME'|translate"  [inputClass]="'px-control'">
                  </nepali-input>
                </div>
            </td>
            <td>{{'ADDRESS' | translate}}
            </td>
            <td>
              <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="'ENTER_ADDRESS'|translate" [height]="23" [width]="140" formControlName="address"></jqxInput> -->
              <div style="width:80%">
                <nepali-input #nepali2 [height]="23" [width]="140" name="address" formControlName="address" [placeHolder]="'ENTER_ADDRESS'|translate"  [inputClass]="'px-control'">
                </nepali-input>
              </div>
            </td>
            <td> {{'INCHARGE_NAME'|translate}} *
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_NAME'|translate" [height]="23" [width]="140" formControlName="inchargeName"></jqxInput>
            </td>
            <td> {{'INCHARGE_NAME_NEPALI'|translate}} *
            </td>
            <td>
              <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="'ENTER_NAME'|translate" [height]="23"
                [width]="140" formControlName="inchargeNameNepali"></jqxInput> -->
                <div style="width:80%">
                  <nepali-input #nepali3 [height]="23" [width]="140" name="inchargeNameNepali" formControlName="inchargeNameNepali" [placeHolder]="'ENTER_NAME'|translate"  [inputClass]="'px-control'">
                  </nepali-input>
                </div>
            </td>

          </tr>
          <tr>
            <td> {{'EMAIL' | translate}}
            </td>
            <td>
              <jqxInput [theme]="'energyblue'" [height]="23" [width]="240" formControlName="email"></jqxInput>
            </td>
            <td> {{'CONTACT_NO' | translate}}
            <td>
              <jqxInput [theme]="'energyblue'" [height]="23" [placeHolder]="'CONTACT_NO'|translate" [width]="140" formControlName="contactNo"></jqxInput>
            </td>
            <td>{{'POST'|translate}}
            </td>
            <td>
              <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="'ENTER_POST'|translate" [height]="23" [width]="140"
                formControlName="post"></jqxInput> -->
                <div style="width:80%">
                  <nepali-input #nepali4 [height]="23" [width]="140" name="post" formControlName="post" [placeHolder]="'ENTER_POST'|translate"  [inputClass]="'px-control'">
                  </nepali-input>
                </div>
            </td>
            <td>{{'ORG_NAME'|translate}}&nbsp;
              <span>*</span>
            </td>
            <td>
              <select formControlName="orgId" class="selectpicker select-class select-border" style="width:140px;height:23px;">
                <!-- <option value="">{{'CHOOSE'|translate}}</option> -->
                <option *ngFor="let data of organizationAdapter; let i = index;" [value]="data['id']">{{data['name']}}</option>
              </select>
            <td>
              <jqxButton *ngIf="!update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!OrganizationDivisionForm.valid"
                (onClick)="saveBtn(OrganizationDivisionForm.value)">
                {{'SAVE'|translate}}
              </jqxButton>
              <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!OrganizationDivisionForm.valid"
                (onClick)="updateBtn(OrganizationDivisionForm.value)">
                {{'UPDATE'|translate}}
              </jqxButton>
              <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                <i class="fa fa-times"></i>{{'CANCEL'|translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>

  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns"
      [pageable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [columngroups]="columngroups"
      [theme]="'energyblue'" [selectionmode]="'checkbox'" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
      [keyboardnavigation]="true">
    </jqxGrid>
  </div>

  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>
