<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2>{{'CURRENT_STOCK'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <jqxValidator #myValidator>
            <form name="alForm" [formGroup]="alForm" id="alForm">
              <fieldset class="jqx-widget-header-energyblue">
                <legend>{{'SEARCH_BOX'|translate}}</legend>
                <table class="table-w-tooltip">
                  <tr>
                    <!-- <td>{{'CATEGORY'|translate}}</td>
                    <td>
                      <select formControlName="category" (change)="categoryChange($event)" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">{{ data.id }}</option>
                      </select>
                    </td>
                    <td *ngIf="showWard">{{'WARD'|translate}}</td>
                    <td *ngIf="showWard">
                      <select formControlName="ward" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">{{ data['name'] }}</option>
                      </select>
                    </td>
                    <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                    <td *ngIf="showDivision">
                      <select formControlName="division" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of divisionAdapter;let i=index" [value]="data['id']">{{
                          data['nameNepali'] }}</option>
                      </select>
                    </td> -->
                    <td>{{'DATE_FROM'|translate}} *
                    </td>
                    <td>
                      <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="100"
                        [height]="25"></jqxInput>
                    </td>
                    <td>{{'DATE_TO'|translate}} *
                    </td>
                    <td>
                      <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="100" [height]="25"></jqxInput>
                    </td>
                    <td>
                      <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                        {{'SEARCH'|translate}}
                      </jqxButton>
                    </td>
                  </tr>
                </table>
              </fieldset>
            </form>
          </jqxValidator>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'CURRENT_STOCK_DETAIL'|translate}}
              <span *ngIf="reportDatas.length>0" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas.length>0" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="8" style="text-align:center;">{{'CURRENT_STOCK_DETAIL'|translate}}</th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="4">
                          {{'DATE_FROM'|translate}}: {{ alForm.value['dateFrom'] }}
                        </th>
                        <th colspan="4">
                          {{'DATE_TO'|translate}}: {{ alForm.value['dateTo'] }}
                        </th>
                      </tr>
                      <tr>
                        <th> {{'SN'|translate}}</th>
                        <th>{{'ITEM_CODE'|translate}}</th>
                        <th>{{'ITEM_NAME'|translate}}</th>
                        <th>{{'ASSET_CODE'|translate}}</th>
                        <th>{{'OPENING'|translate}}</th>
                        <th>{{'CURRENT'|translate}}</th>
                        <th>{{'ISSUE_GOODS'|translate}}</th>
                        <th>{{'TOTAL'|translate}} </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas.length>0">
                      <tr *ngFor="let data of reportDatas; let i=index">
                        <td>{{i+1 | nepaliNumber}}</td>
                        <td>{{ data['itemCode'] | nepaliNumber }}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['assetCode'] | nepaliNumber }}</td>
                        <td>{{ data['opening'] | nepaliNumber }}</td>
                        <td>{{data['current'] | nepaliNumber}}</td>
                        <td>{{data['issue'] | nepaliNumber}}</td>
                        <td>{{ data['total'] | nepaliNumber }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>