<!-- <div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
                    <h2>रसिद नियन्त्रण खाता रिपोर्ट </h2>
                </div>
                <div class="bg-white p-1">
                    <form name="alForm" [formGroup]="alForm" id="alForm">
                        <fieldset class="jqx-widget-header-energyblue">
                            <legend>{{'SEARCH_BOX'|translate}}</legend>
                            <table class="table-w-tooltip">
                                <tr>

                                    <td>{{'DATE_FROM'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'"
                                            [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>{{'DATE_TO'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="100"
                                            [height]="25"></jqxInput>
                                    </td>
                                    <td>
                                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                            [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                            {{'SEARCH'|translate}}
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div> -->

<div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                    <h2>रसिद नियन्त्रण खाता रिपोर्ट </h2>
                </div>
                <div class="bg-white p-1">

                    <form name="alForm" class="form-style" [formGroup]="alForm">
                        <fieldset>
                            <legend>रसिद नियन्त्रण खाता रिपोर्ट </legend>
                            <table class="table-w-tooltip">
                                <tr>

                                    <td>{{'DATE_FROM'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'"
                                            [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>{{'DATE_TO'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="100"
                                            [height]="25"></jqxInput>
                                    </td>
                                    <td>
                                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                            [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                            {{'SEARCH'|translate}}
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>

                </div>
                <div class="rs-grid-panel bg-white">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> रसिद नियन्त्रण खाता रिपोर्ट

                        </h2>
                    </div>
                    <div class="scroll-container" style="margin: 10px;">
                        <div class="row justify-content-md-center">
                            <div class="col-12">
                                <div id="reportContainer">
                                    <div class="info-container">
                                    </div>
                                    <div class="table-container">

                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class='childT'>{{'SN' | translate}}</th>
                                                    <th rowspan="2" class='childT'>मिति
                                                    </th>
                                                    <th rowspan="2" class='childT'>विवरण </th>
                                                    <th rowspan="2" class='childT'>संकेत नं
                                                    </th>
                                                    <!-- <th colspan='3' style="text-align: center;" class='childT'>
                                                        छापिएको वा प्राप्त रसिद नं</th>
                                                    <th colspan='3' style="text-align: center;" class='childT'>
                                                        निकसित रसिद नं
                                                    </th> -->
                                                    <th rowspan="2" style="text-align: center;" class='childT'>
                                                        बुझिलिने को नाम
                                                    </th>
                                                    <th rowspan="2" style="text-align: center;" class='childT'>
                                                        बुझाउनेको को नाम
                                                    </th>
                                                    <!-- <th colspan='3' style="text-align: center;" class='childT'>
                                                        बाकी रसिद नं
                                                    </th> -->
                                                    <th rowspan="2" style="text-align: center;" class='childT'>
                                                        प्रमाणित गर्ने को नाम
                                                    </th>
                                                    <th rowspan="2" class='childT'>{{'REMARKS' | translate}} </th>
                                                    <th rowspan="2" class='childT'>कार्य </th>
                                                </tr>
                                                <!-- <tr>
                                                    <th class='childT'>देखि</th>
                                                    <th class='childT'>सम्म</th>
                                                    <th class='childT'> थान </th>
                                                    <th class='childT'>देखि</th>
                                                    <th class='childT'>सम्म</th>
                                                    <th class='childT'> थान </th>
                                                    <th class='childT'>देखि</th>
                                                    <th class='childT'>सम्म</th>
                                                    <th class='childT'> थान </th>


                                                </tr> -->
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of SearchDatas; let i = index;">
                                                    <td> {{ i + 1 | nepaliNumber  }}</td>
                                                    <td> {{ data['enterDate'] | nepaliNumber  }} </td>
                                                    <td> {{ data['specification'] |nepaliNumber }} </td>
                                                    <td>
                                                        {{ data['sanketNo']|nepaliNumber }}

                                                    </td>
                                                    <!-- <td> {{ data['printedBillFrom'] | nepaliNumber  }} </td>
                                                    <td> {{ data['printedBillTo'] }} </td>
                                                    <td> {{ data['printedQty']  | nepaliNumber  }} </td>
                                                    <td> {{ data['outBillFrom'] | nepaliNumber }} </td>
                                                    <td> {{ data['outBillTo'] | nepaliNumber }} </td>
                                                    <td> {{ data['outQty']| nepaliNumber}} </td> -->
                                                    <td>{{ data['receivedBy'] | nepaliNumber  }} </td>
                                                    <td>{{ data['givenBy'] | nepaliNumber  }} </td>
                                                    <!-- <td> {{ data['remainingBillFrom'] | nepaliNumber }} </td>
                                                    <td> {{ data['remainingBillTo'] | nepaliNumber }} </td>
                                                    <td> {{ data['remainingQty']| nepaliNumber}} </td> -->
                                                    <td> {{ data['approvedBy'] }} </td>
                                                    <td> {{ data['remarks'] }} </td>
                                                    <td class="last-td" (click)="viewItem(data)">
                                                        <jqxButton>
                                                            पुरा विवरण
                                                        </jqxButton>
                                                    </td>
                                                    <!-- <td class="last-td" (click)="viewItem(data)">
                                                <jqxButton>
                                                  {{'DETAIL_VIEW'|translate}}
                                                </jqxButton>
                                              </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <br />
                                        <div>
                                            <!-- <table width="100%" class="pshow">

                                                <tr>
                                                    <td style="font-size:10px;">पेस गर्ने को नाम </td>
                                                    <td style="text-align:center;font-size:10px;">
                                                    </td>
                                                    <td style="float:right;font-size:10px;">कार्यालय प्रमुख को नाम
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td style="text-align:center;"></td>
                                                    <td style="float:right;"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:10px;">मिति</td>
                                                    <td style="padding-left:9%;font-size:10px;"></td>
                                                    <td style="float:right;font-size:10px;">मिति</td>
                                                </tr>
                                            </table> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<jqxWindow #myWindow [width]="'60%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <span *ngIf="printItemDetails && printItemDetails[0]">
            <button (click)="printItemDetailReport()" class="btn btn-sm btn-primary">
                <i class="fa fa-print fa-fw"></i> Print
            </button>
        </span>
        <div id="page-wrap" *ngIf="printItemDetails ">
            <div class="rs-grid-panel bg-white">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                    <h2> रसिद नियन्त्रण खाता रिपोर्ट
                        <span *ngIf="SearchDatas.length>0" class="float-right">
                            <button (click)="printReport()" class="btn btn-sm btn-primary">
                                <i class="fa fa-print fa-fw"></i> {{'PRINT' | translate}}
                            </button>
                        </span>
                        <span *ngIf="SearchDatas.length>0" class="float-right">
                            <button (click)="exportReport()" class="btn btn-sm btn-primary">
                                <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL' | translate}}
                            </button>
                            &nbsp; &nbsp;
                        </span>
                    </h2>
                </div>
                <div class="scroll-container" style="margin: 10px;">
                    <div class="row justify-content-md-center">
                        <div class="col-12">
                            <div id="reportContainer">
                                <div class="info-container">
                                </div>
                                <div class="table-container">
                                    <div *ngIf="SearchDatas.length>0">
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px ">स्थानीय
                                            तह</div>
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">
                                            {{organizationDetails[0]?.name}} कार्यालय </div>
                                        <div class="masterT"
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">कार्यालय
                                            कोड नंः {{organizationDetails[0]?.orgCodeNo | nepaliNumber}}</div>
                                        <div class='childT'
                                            style="text-align: center;font-weight: bold;margin-bottom:1px">
                                            रसिद नियन्त्रण खाता रिपोर्ट </div>
                                        <div class='childT' style="text-align: center;font-weight: bold">
                                            {{'FISCAL_YEAR' | translate}}
                                            <span *ngIf="fYear">{{fYear}}</span>
                                            <span *ngIf="!fYear">................</span>
                                        </div>
                                    </div>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th rowspan="2" class='childT'>मिति
                                                </th>
                                                <th rowspan="2" class='childT'>विवरण </th>
                                                <th rowspan="2" class='childT'>संकेत नं
                                                </th>
                                                <th colspan='3' style="text-align: center;" class='childT'>
                                                    छापिएको वा प्राप्त रसिद नं</th>
                                                <th colspan='3' style="text-align: center;" class='childT'>
                                                    निकसित रसिद नं
                                                </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                    बुझिलिने को नाम
                                                </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                    बुझाउनेको को नाम
                                                </th>
                                                <th colspan='3' style="text-align: center;" class='childT'>
                                                    बाकी रसिद नं
                                                </th>
                                                <th rowspan="2" style="text-align: center;" class='childT'>
                                                    प्रमाणित गर्ने को नाम
                                                </th>
                                                <th rowspan="2" class='childT'>{{'REMARKS' | translate}} </th>
                                            </tr>
                                            <tr>
                                                <th class='childT'>देखि</th>
                                                <th class='childT'>सम्म</th>
                                                <th class='childT'> थान </th>
                                                <th class='childT'>देखि</th>
                                                <th class='childT'>सम्म</th>
                                                <th class='childT'> थान </th>
                                                <th class='childT'>देखि</th>
                                                <th class='childT'>सम्म</th>
                                                <th class='childT'> थान </th>


                                            </tr>
                                        </thead>
                                        <tbody *ngIf="searchDetails">
                                            <tr>

                                                <td> {{ searchDetails.enterDate | nepaliNumber  }} </td>
                                                <td> {{ searchDetails.specification |nepaliNumber }} </td>
                                                <td>
                                                    {{ searchDetails['sanketNo']|nepaliNumber }}

                                                </td>
                                                <td> {{ searchDetails['printedBillFrom'] | nepaliNumber  }} </td>
                                                <td> {{ searchDetails['printedBillTo'] }} </td>
                                                <td> {{ searchDetails['printedQty']  | nepaliNumber  }} </td>
                                                <td> {{ searchDetails['outBillFrom'] | nepaliNumber }} </td>
                                                <td> {{ searchDetails['outBillTo'] | nepaliNumber }} </td>
                                                <td> {{ searchDetails['outQty']| nepaliNumber}} </td>
                                                <td>{{ searchDetails['receivedBy'] | nepaliNumber  }} </td>
                                                <td>{{ searchDetails['givenBy'] | nepaliNumber  }} </td>
                                                <td> {{ searchDetails['remainingBillFrom'] | nepaliNumber }} </td>
                                                <td> {{ searchDetails['remainingBillTo'] | nepaliNumber }} </td>
                                                <td> {{ searchDetails['remainingQty']| nepaliNumber}} </td>
                                                <td> {{ searchDetails['approvedBy'] }} </td>
                                                <td> {{ searchDetails['remarks'] }} </td>
                                                <!-- <td class="last-td" (click)="viewItem(data)">
                                            <jqxButton>
                                              {{'DETAIL_VIEW'|translate}}
                                            </jqxButton>
                                          </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <br />
                                    <div>
                                        <table width="100%" class="pshow">

                                            <tr>
                                                <td style="font-size:10px;">पेस गर्ने को नाम: {{searchDetails.enterBy}}
                                                </td>
                                                <td style="text-align:center;font-size:10px;">
                                                </td>
                                                <td style="float:right;font-size:10px;">कार्यालय प्रमुख को
                                                    नाम:{{searchDetails.approvedBy}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td style="text-align:center;"></td>
                                                <td style="float:right;"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:10px;">मिति:{{enterDate}}</td>
                                                <td style="padding-left:9%;font-size:10px;"></td>
                                                <td style="float:right;font-size:10px;">मिति</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
