<!-- <div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
                    <h2>रसिद नियन्त्रण खाता रिपोर्ट </h2>
                </div>
                <div class="bg-white p-1">
                    <form name="alForm" [formGroup]="alForm" id="alForm">
                        <fieldset class="jqx-widget-header-energyblue">
                            <legend>{{'SEARCH_BOX'|translate}}</legend>
                            <table class="table-w-tooltip">
                                <tr>

                                    <td>{{'DATE_FROM'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'"
                                            [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>{{'DATE_TO'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="100"
                                            [height]="25"></jqxInput>
                                    </td>
                                    <td>
                                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                            [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                            {{'SEARCH'|translate}}
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div> -->

<div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                    <h2>रसिद नियन्त्रण खाता रिपोर्ट </h2>
                </div>
                <div class="bg-white p-1">
                    <jqxValidator #myValidator>
                        <form name="alForm" class="form-style" [formGroup]="alForm">
                            <fieldset>
                                <legend>रसिद नियन्त्रण खाता रिपोर्ट </legend>
                                <table class="table-w-tooltip">
                                    <tr>

                                        <td>{{'DATE_FROM'|translate}} *
                                        </td>
                                        <td>
                                            <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'"
                                                [width]="100" [height]="25"></jqxInput>
                                        </td>
                                        <td>{{'DATE_TO'|translate}} *
                                        </td>
                                        <td>
                                            <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'"
                                                [width]="100" [height]="25"></jqxInput>
                                        </td>
                                        <td>
                                            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                                [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                                {{'SEARCH'|translate}}
                                            </jqxButton>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                    </jqxValidator>
                </div>
                <div class="rs-grid-panel bg-white">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> रसिद नियन्त्रण खाता रिपोर्ट
                            <span *ngIf="SearchDatas.length>0" class="float-right">
                                <button (click)="printReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-print fa-fw"></i> {{'PRINT' | translate}}
                                </button>
                            </span>
                            <span *ngIf="SearchDatas.length>0" class="float-right">
                                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL' | translate}}
                                </button>
                                &nbsp; &nbsp;
                            </span>
                        </h2>
                    </div>
                    <div class="scroll-container" style="margin: 10px;">
                        <div class="row justify-content-md-center">
                            <div class="col-12">
                                <div id="reportContainer">
                                    <div class="info-container">
                                    </div>
                                    <div class="table-container">
                                        <div *ngIf="SearchDatas.length>0">
                                            <div class="masterT"
                                                style="text-align: center;font-weight: bold;margin-bottom:1px ">स्थानीय
                                                तह</div>
                                            <div class="masterT"
                                                style="text-align: center;font-weight: bold;margin-bottom:1px">
                                                {{organizationDetails[0]?.name}} कार्यालय </div>
                                            <div class="masterT"
                                                style="text-align: center;font-weight: bold;margin-bottom:1px">कार्यालय
                                                कोड नंः {{organizationDetails[0]?.orgCodeNo | nepaliNumber}}</div>
                                            <div class='childT'
                                                style="text-align: center;font-weight: bold;margin-bottom:1px">
                                                रसिद नियन्त्रण खाता रिपोर्ट </div>
                                            <div class='childT' style="text-align: center;font-weight: bold">
                                                {{'FISCAL_YEAR' | translate}}
                                                <span *ngIf="fYear">{{fYear}}</span>
                                                <span *ngIf="!fYear">................</span>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class='childT'>{{'SN' | translate}}</th>
                                                    <th rowspan="2" class='childT'>{{'I_CODE' | translate}}/खाता पाना नं
                                                    </th>
                                                    <th rowspan="2" class='childT'>{{'ASSET_CODE' | translate}}</th>
                                                    <th rowspan="2" class='childT'>{{'I_NAME' | translate}}/स्पेसिफिकेशन
                                                    </th>
                                                    <th colspan='4' style="text-align: center;" class='childT'>
                                                        {{'LEFT' | translate}}</th>
                                                    <th colspan='4' style="text-align: center;" class='childT'>
                                                        {{'JINSI_SITUATION' | translate}}
                                                    </th>
                                                    <th rowspan="2" class='childT'>{{'REMARKS' | translate}} </th>
                                                </tr>
                                                <tr>
                                                    <th class='childT'>{{'QUATITY' | translate}}</th>
                                                    <th class='childT'>{{'UNIT' | translate}}</th>
                                                    <th class='childT'>{{'RATE' | translate}}</th>
                                                    <th class='childT'>{{'TOTAL_RS' | translate}}</th>
                                                    <th class='childT'>{{'USED' | translate}}</th>
                                                    <th class='childT'>{{'UNUSED' | translate}}</th>
                                                    <th class='childT'>{{'REPAIR' | translate}}</th>
                                                    <th class='childT'>{{'NOREPAIR' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of SearchDatas; let i = index;">
                                                    <td> {{ i + 1 | nepaliNumber  }}</td>
                                                    <td> {{ data['assetPageNo'] | nepaliNumber  }} </td>
                                                    <td> {{ data['assetCode'] |nepaliNumber }} </td>
                                                    <td>
                                                        <a (click)="viewItem(data)"
                                                            style="cursor: pointer;color: #1792fb;">{{ data['itemNameNepali'] }}
                                                        </a>
                                                    </td>
                                                    <td> {{ data['qty'] | nepaliNumber  }} </td>
                                                    <td> {{ data['unit'] }} </td>
                                                    <td> {{ data['rate'] | number : '1.2-2' | nepaliNumber  }} </td>
                                                    <td> {{ data['totalAmount'] | nepaliNumber }} </td>
                                                    <td> {{ data['inUse'] | nepaliNumber }} </td>
                                                    <td> {{ data['notUse']| nepaliNumber}} </td>
                                                    <td>{{ data['repair'] | nepaliNumber  }} </td>
                                                    <td>{{ data['notRepair'] | nepaliNumber  }} </td>
                                                    <td> {{ data['remarks'] }} </td>
                                                    <!-- <td class="last-td" (click)="viewItem(data)">
                                                <jqxButton>
                                                  {{'DETAIL_VIEW'|translate}}
                                                </jqxButton>
                                              </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <br />
                                        <div>
                                            <table width="100%" class="pshow">
                                                <tr>
                                                    <td>...................................</td>
                                                    <td style="text-align:center;">...........................</td>
                                                    <td style="float:right;">.............................</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:10px;">फाँटवालाकाे दस्तखत</td>
                                                    <td style="text-align:center;font-size:10px;">शाखा प्रमुखकाे दस्तखत
                                                    </td>
                                                    <td style="float:right;font-size:10px;">कार्यालय प्रमुखकाे दस्तखत
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:10px;">मिति</td>
                                                    <td style="padding-left:9%;font-size:10px;">मिति</td>
                                                    <td style="float:right;margin-right:35%;font-size:10px;">मिति</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<jqxWindow #myWindow [width]="'60%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <span *ngIf="printItemDetails && printItemDetails[0]">
            <button (click)="printItemDetailReport()" class="btn btn-sm btn-primary">
                <i class="fa fa-print fa-fw"></i> Print
            </button>
        </span>
        <div id="page-wrap" *ngIf="printItemDetails && selectedGrnNo">
            <div>
                <span class="float-right">म. ले. प. फा. नं. : ५७</span>
            </div>
            <br />
            <div class="invoice-header">
                <p class="meta-header">
                    <!-- <small>{{printItemDetails[0]?.orgName}}</small> कार्यालय</p> -->
                    <!-- <p class="meta-info">............................</p> -->
                    <p class="meta-invoice-title" style="font-size: 12px;">सामानको ठाउँकाे विवरण </p>
            </div>

            <div class="invoice-container">
                <p *ngIf="printItemDetails.length>0" class="invoice-title-number">सामानको नाम
                    :{{printItemDetails[0]['itemNameNepali']}}
                </p>
                <table class="invoice-table">
                    <thead>
                        <tr>
                            <th>क्र.सं</th>
                            <th>ठाउँकाे नाम</th>
                            <th>ठेगाना</th>
                            <th>संख्या</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="printItemDetails.length>0">
                        <tr *ngFor="let data of printItemDetails; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{data['locationName']}}</td>
                            <td>{{data['locationAddress']}}</td>
                            <td>{{data['outQuantity']}}</td>
                            <!-- <td>{{data['']}}</td> -->
                        </tr>
                        <!-- <tr>
                                <td>{{printItemDetails.length+1}}</td>
                                <td>स्टाेर</td>
                                <td>-----</td>
                                <td>{{printItemDetails[0]['inStoreQuantity']}}</td>
                              </tr> -->
                    </tbody>
                </table>
                <!-- <p class="invoice-footer-info">
                            माथि उलेखित मालसमानहरु खरिद आदेश नम्बर / हस्तान्तरण फाराम नम्बर &nbsp;&nbsp;&nbsp;<b>{{
                              printItemDetails[0]?.transactionNumber }}</b>&nbsp;&nbsp;&nbsp; बाट मिति &nbsp;&nbsp;&nbsp;<b>{{
                              printItemDetails[0]?.enterDate }}</b>&nbsp;&nbsp;&nbsp; अनुसार
                            <br> श्री &nbsp;&nbsp;&nbsp;<b>{{ printItemDetails[0]?.contactPerson }}</b>&nbsp;&nbsp;&nbsp; बाट प्राप्त हुन
                            आएको हुँदा जाँची गन्ती
                            गरी हेर्दा ठीक दुरुस्त भएकोले खातामा आम्दानी बाँधेको प्रमाणित गर्दछु
                          </p> -->
            </div>
            <!-- <div class="invoice-footer">
                          <div class="invoice-footer-col">
                            <div>
                              <p>........................................</p>
                              <p class="invoice-footer-field">
                                फाँटवालाको दस्तखत
                              </p>
                              <p class="invoice-footer-field">
                                नाम : {{ printItemDetails[0]?.enterBy }}
                              </p>
                              <p class="invoice-footer-field">
                                पद :
                              </p>
                              <p class="invoice-footer-field">
                                मिति : {{ printItemDetails[0]?.enterDate }}
                              </p>
                            </div>
                          </div>
                           <div class="invoice-footer-col">
                            <div>
                              <p>...............................................</p>
                              <p class="invoice-footer-signature">
                                प्रमाणित गर्ने शाखा प्रमुखको दस्तखत
                              </p>
                              <p class="invoice-footer-field">
                                नाम : {{ printItemDetails[0]?.approveBy }}
                              </p>
                              <p class="invoice-footer-field">
                                पद :
                              </p>
                              <p class="invoice-footer-field">
                                मिति : {{ printItemDetails[0]?.approveDate }}
                              </p>
                            </div>
                          </div>
                          <div class="invoice-footer-col">
                            <div>
                              <p>...................................</p>
                              <p class="invoice-footer-signature">
                                कार्यालय प्रमुखको दस्तखत
                              </p>
                              <p class="invoice-footer-field">
                                नाम :
                              </p>
                              <p class="invoice-footer-field">
                                पद :
                              </p>
                              <p class="invoice-footer-field">
                                मिति :
                              </p>
                            </div>
                          </div>
                        </div> -->
        </div>
    </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
