<div class="container-fluid tfm-panel">
  <form name="grnForm" [formGroup]="grnForm">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'GOODS_RECEIVING_NOTES'|translate}} </h2>
          </div>
          <div class="bg-white p-1">
            <fieldset>
              <legend>{{ "GOODS_RECEIVING_NOTES" | translate }}</legend>
              <!-- <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label>{{ "SUPPLIER" | translate }}</label>
                    <select formControlName="supplier" (change)="getGRN()" class="select-control selectpicker select-class select-border">
                      <option [selected]="'true'" value=''>{{ "SELECT" | translate }}</option>
                      <option *ngFor="let supplier of supplierAdapter" [value]="supplier.id">{{ supplier.organizationName }}</option>
                    </select>
                  </div>
                </div>
              </div> -->
              <div class="row" style="margin-bottom: 10px;height: 68vh">
                <div class="col-12" style="overflow-x:auto">
                  <div class="rs-grid-panel bg-white" style="overflow:auto;width:1500px ">
                    <!-- <jqxGrid #grnGrid [width]="'100%'" [height]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns" [pageable]="true"
                      [editable]="true" [autorowheight]="true" [theme]="'energyblue'" [selectionmode]="'checkbox'" [showtoolbar]="false"
                      [keyboardnavigation]="true">
                    </jqxGrid> -->
                    <div *ngIf="resultData.length===0">
                    <table class="table" style="width:100%" >
                            <thead>
                                <tr>
                                    <th style="background-color: #E0E9F5">
                                    <input type="checkbox">
                                    </th>
                                    <th style="background-color: #E0E9F5">{{ "SN" | translate }}</th>
                                    <th style="background-color: #E0E9F5">{{ "ITEM" | translate }}</th>
                                    <th style="background-color: #E0E9F5">{{ "UNIT" | translate }}</th>
                                    <th style="background-color: #E0E9F5">{{ "RATE" | translate }}</th>
                                    <th style="background-color: #E0E9F5">{{ "QUANTITY" | translate }}</th>
                                    <th style="background-color: #E0E9F5">जम्मा रकम मु.अ.कर बाहेक</th>
                                    <th style="background-color: #E0E9F5">मु.अ.कर</th>
                                    <th style="background-color: #E0E9F5">अन्य खर्च</th>
                                    <th style="background-color: #E0E9F5">मोडल नं.</th>
                                    <th style="background-color: #E0E9F5">{{ "SPECIFICATIONS" | translate }}</th>
                                    <th style="background-color: #E0E9F5">साईज</th>
                                    <th style="background-color: #E0E9F5">उत्पादन देश</th>
                                    <th style="background-color: #E0E9F5">सामान प्राप्तिको स्रोत</th>
                                    <th style="background-color: #E0E9F5">अनुमानित आयु (वर्षमा)</th>
                                    <th style="background-color: #E0E9F5">कैफियत</th>
                                </tr>
                            </thead>
                    </table>
                    <p style="text-align: center;padding-top: 100px">
                        डाटा छैन!!
                    </p>
                  </div>
                    <table class="table data-table " formArrayName="dataList" *ngIf="resultData.length>0">
                        <thead>
                            <tr>
                                    <th style="background-color: #E0E9F5">
                                            <input type="checkbox" (change)="checkBoxChange($event)">
                                            </th>
                                <th style="background-color: #E0E9F5">{{ "SN" | translate }}</th>
                                <th style="background-color: #E0E9F5">{{ "ITEM" | translate }}</th>
                                <th style="background-color: #E0E9F5">{{ "UNIT" | translate }}</th>
                                <th style="background-color: #E0E9F5">{{ "RATE" | translate }}</th>
                                <th style="background-color: #E0E9F5">{{ "QUANTITY" | translate }}</th>
                                <th style="background-color: #E0E9F5">जम्मा रकम मु.अ.कर बाहेक</th>
                                <th style="background-color: #E0E9F5">मु.अ.कर</th>
                                <th style="background-color: #E0E9F5">समान पहिचान नं</th>
                                <th style="background-color: #E0E9F5">अन्य खर्च</th>
                                <th style="background-color: #E0E9F5">मोडल नं.</th>
                                <th style="background-color: #E0E9F5">{{ "SPECIFICATIONS" | translate }}</th>
                                <th style="background-color: #E0E9F5">साईज</th>
                                <th style="background-color: #E0E9F5">उत्पादन देश</th>
                                <th style="background-color: #E0E9F5">सामान प्राप्तिको स्रोत</th>
                                <th style="background-color: #E0E9F5">अनुमानित आयु (वर्षमा)</th>
                                <th style="background-color: #E0E9F5">कैफियत</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let reqItem of grnForm.get('dataList')['controls']; let i = index">
                            <tr [formGroupName]="i" >
                                <td>
                                    <input type="checkbox" formControlName="check">
                                </td>
                                <td>{{(i+1) | nepaliNumber }}</td>
                                <td>{{resultData[i].itemName}}</td>
                                <td>{{resultData[i].unit}}</td>
                                <td>{{resultData[i].rate | nepaliNumber }}</td>
                                <td>{{resultData[i].qty | nepaliNumber }}</td>
                                <td>{{resultData[i].total | nepaliNumber }}</td>
                                <td>{{resultData[i].vatableAmt | number:'.2-2' | nepaliNumber }}</td>
                                <td>
                                    <nepali-input name="itemSerialNo" formControlName="itemSerialNo" [placeHolder]="''"  [inputClass]="'px-control-grn'">
                                    </nepali-input>
                                </td>
                                <td>
                                        <input type="number" formControlName="charge" class="px-control-grn">
                                </td>
                                <td>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="modalNo"  [theme]="'energyblue'"></jqxInput>
                                </td>
                                <td>
                                        {{resultData[i].specification}}
                                </td>
                                <td>
                                        <input type="number" formControlName="size" class="px-control-grn">
                                </td>
                                <td>
                                        <nepali-input name="productionCountry" formControlName="productionCountry" [placeHolder]="''"  [inputClass]="'px-control-grn'">
                                            </nepali-input>
                                </td>
                                <td>
                                        <nepali-input name="sourceOfItem" formControlName="sourceOfItem" [placeHolder]="''"  [inputClass]="'px-control-grn'">
                                            </nepali-input>
                                </td>
                                <td>
                                        <input type="number" formControlName="estimatedLifeOfItem" class="px-control-grn">
                                </td>
                                <td>
                                        <nepali-input name="remarks" formControlName="remarks" [placeHolder]="''"  [inputClass]="'px-control-grn'">
                                            </nepali-input>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="bg-white" style="padding: 3px;">
            <fieldset>
              <legend>{{'GOODS_RECEIPT_DETAIL'|translate}}</legend>
              <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>{{ "FISCAL_YEAR" | translate }}</label>
                        <select formControlName="fiscalYear" class="select-control selectpicker select-class select-border px-control">
                            <option [selected]="true" value=''>{{'CHOOSE_FISCAL'|translate}}</option>
                            <option *ngFor="let fy of fiscalYearAdapter" [value]="fy['fySymbol']">{{ fy['fiscalYear'] }}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'GRN_ENTER_BY'|translate}}</label>
                    <!-- <jqxInput [width]="'100%'" [height]="25" formControlName="enterBy" [theme]="'energyblue'"></jqxInput> -->
                    <nepali-input #nepali [height]="25" name="enterBy" formControlName="enterBy" [placeHolder]="'फाँटवालाको नाम'" [inputClass]="'px-control'">
                      </nepali-input>

                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'GRN_ENTER_DATE'|translate}}</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="enterDate" [placeholder]="'yyyy-mm-dd'" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-left m-2 pt-3">
                    <jqxButton [theme]="'energyblue'" [disabled]="!grnForm.valid" [width]="100" (onClick)="save(grnForm.value)">
                      {{ 'SAVE' | translate }}
                    </jqxButton>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <jqxWindow #billSundryWindow [width]="'50%'" [height]="300" [showCollapseButton]="false" [isModal]="true" [showCloseButton]="false"
  [autoOpen]="false">
  <div #windowHeader>
    Bill Sundry
  </div>
  <div style="overflow-y: auto;" #windowContent>
    <form name="grnBillForm" [formGroup]="grnBillForm">
      <div class="row">
        <div class="col-6">
          <label>Grn</label>
          <jqxInput [width]="'100%'" [height]="25" formControlName="grn" [theme]="'energyblue'"></jqxInput>
        </div>
        <br>
      </div>
      <div formArrayName="billSundry">
        <div *ngFor="let billSundryItem of grnBillForm.get('billSundry')['controls']; let i = index" class="form-array-container-inner">
          <div class="row p-1 row-body" [formGroupName]="i">
            <div class="col-md-3">
              <input type="hidden" name="sundryCode" formControlName="sundryCode">
              <input type="text" name="sundryName" formControlName="sundryName" class="px-control" placeholder="Name" [disabled]="true">
            </div>
            <div class="col-md-4">
              <input type="text" name="amount" formControlName="amount" class="px-control" placeholder="Amount" [disabled]="true">
              <small [hidden]="billSundryItem['controls'].amount.valid || !billSundryItem['controls'].amount.touched" class="form-control-feedback text-danger px-control-error">
                * required
              </small>
            </div>
            <div class="col-md-4">
              <input type="text" name="remarks" formControlName="remarks" class="px-control" placeholder="Remarks">
              <small [hidden]="billSundryItem['controls'].remarks.valid || !billSundryItem['controls'].remarks.touched" class="form-control-feedback text-danger px-control-error">
                * required
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <jqxButton [theme]="'energyblue'" [disabled]="!grnBillForm.valid" [width]="100" (onClick)="saveBillSundry(grnBillForm.value)">
            Save
          </jqxButton>
        </div>
      </div>
    </form>
  </div>
</jqxWindow> -->


<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
