<div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                    <h2>{{'GINSI_INSPECTION_REPORT'|translate}}</h2>
                </div>
                <div class="bg-white p-1">
                    <jqxValidator #myValidator>
                        <form name="alForm" [formGroup]="alForm" id="alForm">
                            <fieldset class="jqx-widget-header-energyblue">
                                <legend>{{'SEARCH_BOX'|translate}}</legend>
                                <table class="table-w-tooltip">
                                    <tr>
                                        <td>{{'FISCAL_YEAR'|translate}}
                                        <td>
                                        <td>
                                            <select formControlName="fiscalYear" style="width: 100px;"
                                                class="select-control selectpicker select-class select-border">
                                                <option [selected]="'true'" [disabled]="'true'" value=''>
                                                    {{'CHOOSE'|translate}}</option>
                                                <option *ngFor="let data of fiscalYearAdapter;let i=index"
                                                    [value]="data.fySymbol">{{
                          data.fiscalYear }}</option>
                                            </select>
                                        </td>
                                        <td>{{'CATEGORY'|translate}}</td>
                                        <td>
                                            <select formControlName="category" (change)="categoryChange($event)"
                                                style="width: 100px;"
                                                class="select-control selectpicker select-class select-border">
                                                <option [selected]="'true'" [disabled]="'true'" value=''>
                                                    {{'CHOOSE'|translate}}</option>
                                                <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">
                                                    {{ data.id }}</option>
                                            </select>
                                        </td>
                                        <td *ngIf="showWard">{{'WARD'|translate}}</td>
                                        <td *ngIf="showWard">
                                            <select formControlName="ward" style="width: 100px;"
                                                class="select-control selectpicker select-class select-border">
                                                <option [selected]="'true'" [disabled]="'true'" value=''>
                                                    {{'CHOOSE'|translate}}</option>
                                                <option *ngFor="let data of wardAdapter;let i=index"
                                                    [value]="data['id']">{{ data['name'] }}</option>
                                            </select>
                                        </td>
                                        <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                                        <td *ngIf="showDivision">
                                            <select formControlName="division" style="width: 100px;"
                                                class="select-control selectpicker select-class select-border">
                                                <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                                <option *ngFor="let data of divisionAdapter;let i=index"
                                                    [value]="data['id']">{{
                          data['nameNepali'] }}</option>
                                            </select>
                                        </td>
                                        <td>{{'DATE_FROM'|translate}} *
                                        </td>
                                        <td>
                                            <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'"
                                                [width]="100" [height]="25"></jqxInput>
                                        </td>
                                        <td>{{'DATE_TO'|translate}} *
                                        </td>
                                        <td>
                                            <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'"
                                                [width]="100" [height]="25"></jqxInput>
                                        </td>
                                        <td>
                                            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                                [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                                {{'SEARCH'|translate}}
                                            </jqxButton>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                    </jqxValidator>
                </div>
                <div class="rs-grid-panel bg-white">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2>{{'GINSI_INSPECTION_REPORT'|translate}} {{'DATA'|translate}}
                            <span *ngIf="reportDatas.length>0" class="float-right">
                                <button (click)="printReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                                </button>
                            </span>
                            <span *ngIf="reportDatas.length>0" class="float-right">
                                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                                </button>
                                &nbsp; &nbsp;
                            </span>
                        </h2>
                    </div>
                    <div class="scroll-container" style="margin: 10px;">
                        <div class="row justify-content-md-center">
                            <div class="col-12">
                                <div id="reportContainer">
                                    <div class="info-container">
                                        <div *ngIf="reportDatas.length>0">
                                            <div class="masterT"
                                                style="text-align: center;font-weight: bold;margin-bottom:1px ">
                                                {{'NEPAL_GOV' | translate}}</div>
                                            <div class="masterT"
                                                style="text-align: center;font-weight: bold;margin-bottom:1px">
                                                {{'MIN_DEPT_OFF_PRO' | translate}} </div>
                                            <div class='childT'
                                                style="text-align: center;font-weight: bold;margin-bottom:1px">जिन्सी
                                                निरीक्षण फाराम </div>
                                            <div class='childT' style="text-align: center;font-weight: bold">
                                                {{'FISCAL_YEAR' | translate}}: {{reportDatas[0].fiscalYear.fiscalYear}}
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <!-- <tr *ngIf="reportDatas.length>0">
                        <th colspan="15" style="text-align:center;">नेपाल सरकार</th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="15" style="text-align:center;">......मन्त्रालय / बिभाग / कार्यालय / आयोजना</th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="15" style="text-align:center;">जिन्सी निरीक्षण फाराम</th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="15" style="text-align:center;">आर्थिक वर्ष.......</th>
                      </tr> -->
                                            <!-- <tr *ngIf="reportDatas.length>0">
                        <th colspan="5">
                          Date From: {{ alForm.value['dateFrom'] }}
                        </th>
                        <th colspan="5">
                          Date To: {{ alForm.value['dateTo'] }}
                        </th>
                      </tr> -->
                                            <tr>
                                                <th rowspan="2">क्र. सं.</th>
                                                <!-- <th rowspan="2">जिन्सी संकेत नं.</th>
                        <th rowspan="2">खाता पाना नं.</th> -->
                                                <th rowspan="2">वस्तु</th>
                                                <th rowspan="2">बिवरण</th>
                                                <th rowspan="2">एकाई</th>
                                                <th colspan="2">जिन्सी खाता बमोजिमको मौज्दात</th>
                                                <th colspan="2">स्पेसिफिकेशन</th>
                                                <th colspan="3">भौतिक परिक्षण गर्दा </th>
                                                <th colspan="2">चालू हालतमा</th>
                                                <th colspan="4">सामानको अवस्था</th>
                                                <th rowspan="2">कुल परिमाण</th>
                                                <th rowspan="2">कैफियत</th>
                                            </tr>
                                            <tr>
                                                <th>परिमाण</th>
                                                <th>दर</th>
                                                <th>भिडेको</th>
                                                <th>नभिडेको</th>
                                                <th>घट(संख्या)</th>
                                                <th>बढ (संख्या)</th>
                                                <th>घट / बढको मूल्य </th>
                                                <th>रहेको</th>
                                                <th>नरहेको </th>
                                                <th>मर्मत गर्नु पर्ने </th>
                                                <th>लिलाम / बिक्रि गर्नु पर्ने </th>
                                                <th>मिन्हा गर्नु पर्ने </th>
                                                <th>संरक्षण गर्नु पर्ने </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="reportDatas.length>0">
                                            <tr *ngFor="let data of reportDatas; let i=index">
                                                <td>{{i+1}}</td>
                                                <!-- <td>{{ data[iSCode] }}</td>
                        <td>{{ data[refNo] }}</td> -->
                                                <td>{{ data['itemCode']['itemNameNepali'] }}</td>
                                                <td>{{ data['itemCode']['detail'] }}</td>
                                                <td>{{ data['unit'] }}</td>
                                                <td>{{data['quantity'] | nepaliNumber}}</td>
                                                <td>{{ data['rate'] | nepaliNumber }}</td>
                                                <td>{{data['specificationMatch']}}</td>
                                                <td>{{data['specificationUnmatch']}}</td>
                                                <td>{{data['loss']}}</td>
                                                <td>{{data['profit']}}</td>
                                                <td>{{data['plAmount']}}</td>
                                                <td>{{data['running']}}</td>
                                                <td>{{data['notRunning']}}</td>
                                                <td>{{data['repair']}}</td>
                                                <td>{{data['toBeSold']}}</td>
                                                <td>{{data['minha']}}</td>
                                                <td>{{data['samrakshan']}}</td>
                                                <td>{{data['totalQuantity']}}</td>
                                                <td>{{data['remarks']}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <table width="100%" *ngIf="reportDatas.length>0">
                                        <tr>
                                            <td colspan="5" style="font-size: 12px">फाँटवालाको दस्तखत </td>
                                            <td colspan="5" style="font-size: 12px">शाखा प्रमुखको दस्तखत</td>
                                            <td colspan="5" style="font-size: 12px;float: right;">कार्यालय प्रमुखको
                                                दस्तखत &emsp;&emsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="font-size: 12px">मिति </td>
                                            <td colspan="5" style="font-size: 12px">मिति</td>
                                            <td colspan="5" style="font-size: 12px;float: right;margin-right: 44px;">
                                                मिति &nbsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
