<div [@routerTransition] style="padding: 5px;">
        <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="dash-block bg-grey p-2 mt-2 mb-4" style="padding: 16px!important;background-color: white">
                        <!-- <div class="today-data float-left" style="width: 400px;"> -->
                        <!-- <span style="font-size:20px;">
                            <b>{{ todayDate && todayDate['day'] }},&nbsp;{{ todayDate && todayDate['nmonth'] }},&nbsp;{{ todayDate &&
                                todayDate['year'] }}, &nbsp;{{ todayDate && todayDate['weekday'] }}</b>
                        </span> &nbsp;&nbsp; -->
                        <span style="font-size:20px;" [ngSwitch]="todayDate && todayDate['day']">
                            <b *ngSwitchCase="01">
                                ०१
                            </b>
                            <b *ngSwitchCase="02">
                                ०२
                            </b>
                            <b *ngSwitchCase="03">
                                ०३
                            </b>
                            <b *ngSwitchCase="04">
                                ०४
                            </b>
                            <b *ngSwitchCase="05">
                                ०५
                            </b>
                            <b *ngSwitchCase="06">
                                ०६
                            </b>
                            <b *ngSwitchCase="07">
                                ०७
                            </b>
                            <b *ngSwitchCase="08">
                                ०८
                            </b>
                            <b *ngSwitchCase="09">
                                ०९
                            </b>
                            <b *ngSwitchCase="10">
                                १०
                            </b>
                            <b *ngSwitchCase="11">
                                ११
                            </b>
                            <b *ngSwitchCase="12">
                                १२
                            </b>
                            <b *ngSwitchCase="13">
                                १३
                            </b>
                            <b *ngSwitchCase="14">
                                १४
                            </b>
                            <b *ngSwitchCase="15">
                                १५
                            </b>
                            <b *ngSwitchCase="16">
                                १६
                            </b>
                            <b *ngSwitchCase="17">
                                १७
                            </b>
                            <b *ngSwitchCase="18">
                                १८
                            </b>
                            <b *ngSwitchCase="19">
                                १९
                            </b>
                            <b *ngSwitchCase="20">
                                २०
                            </b>
                            <b *ngSwitchCase="21">
                                २१
                            </b>
                            <b *ngSwitchCase="22">
                                २२
                            </b>
                            <b *ngSwitchCase="23">
                                २३
                            </b>
                            <b *ngSwitchCase="24">
                                २४
                            </b>
                            <b *ngSwitchCase="25">
                                २५
                            </b>
                            <b *ngSwitchCase="26">
                                २६
                            </b>
                            <b *ngSwitchCase="27">
                                २७
                            </b>
                            <b *ngSwitchCase="28">
                                २८
                            </b>
                            <b *ngSwitchCase="29">
                                २९
                            </b>
                            <b *ngSwitchCase="30">
                                ३०
                            </b>
                            <b *ngSwitchCase="31">
                                ३१
                            </b>
        
                        </span>,
                        <span style="font-size:20px;" [ngSwitch]="todayDate && todayDate['nmonth']">
                            <b *ngSwitchCase="'Baishak'">
                                बैशाख
                            </b>
                            <b *ngSwitchCase="'Jestha'">
                                जेठ
                            </b>
                            <b *ngSwitchCase="'Ashad'">
                                असार
                            </b>
                            <b *ngSwitchCase="'Shrawn'">
                                श्रावण
                            </b>
                            <b *ngSwitchCase="'Bhadra'">
                                भदौ
                            </b>
                            <b *ngSwitchCase="'Ashwin'">
                                आश्विन
                            </b>
                            <b *ngSwitchCase="'kartik'">
                                कार्तिक
                            </b>
                            <b *ngSwitchCase="'Mangshir'">
                                मंसिर
                            </b>
                            <b *ngSwitchCase="'Poush'">
                                पुष
                            </b>
                            <b *ngSwitchCase="'Magh'">
                                माघ
                            </b>
                            <b *ngSwitchCase="'Falgun'">
                                फाल्गुन
                            </b>
                            <b *ngSwitchCase="'Chaitra'">
                                चैत्र
                            </b>
        
                        </span>,
                        <span style="font-size:20px;" [ngSwitch]="todayDate && todayDate['year']">
                            <b *ngSwitchCase=2075>
                                २०७५
                            </b>
                            <b *ngSwitchCase=2076>
                                २०७६
                            </b>
                            <b *ngSwitchCase=2077>
                                २०७७
                            </b>
                            <b *ngSwitchCase=2078>
                                २०७८
                            </b>
                            <b *ngSwitchCase=2079>
                                २०७९
                            </b>
                            <b *ngSwitchCase=2080>
                                २०८०
                            </b>
                            <b *ngSwitchCase=2081>
                                २०८१
                            </b>
                            <b *ngSwitchCase=2082>
                                २०८२
                            </b>
                            <b *ngSwitchCase=2083>
                                २०८३
                            </b>
                            <b *ngSwitchCase=2084>
                                २०८४
                            </b>
                            <b *ngSwitchCase=2085>
                                २०८५
                            </b>
                            <b *ngSwitchCase=2086>
                                २०८६
                            </b>
                            <b *ngSwitchCase=2087>
                                २०८७
                            </b>
                            <b *ngSwitchCase=2088>
                                २०८८
                            </b>
                            <b *ngSwitchCase=2089>
                                २०८९
                            </b>
                            <b *ngSwitchCase=2090>
                                २०९०
                            </b>
                            <var></var>
                        </span>,
                        <span style="font-size:20px;" [ngSwitch]="todayDate && todayDate['weekday']">
                            <b *ngSwitchCase="'Sunday'">
                                आइतवार
                            </b>
                            <b *ngSwitchCase="'Monday'">
                                सोमवार
                            </b>
                            <b *ngSwitchCase="'Tuesday'">
                                मङ्गलवार
                            </b>
                            <b *ngSwitchCase="'Wednesday'">
                                बुधवार
                            </b>
                            <b *ngSwitchCase="'Thursday'">
                                बिहिवार
                            </b>
                            <b *ngSwitchCase="'Friday'">
                                शुक्रवार
                            </b>
                            <b *ngSwitchCase="'Saturday'">
                                शनिवार
                            </b>
                        </span>
                        <!-- <span style="font-size:16px;">
                            <b> {{todayDateAd && todayDateAd['monthName']}}&nbsp;{{todayDateAd && todayDateAd['day']}}, &nbsp;{{todayDateAd
                                && todayDateAd['year']}}</b>
                        </span> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
  <div *ngIf="userType != 'D'" class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
          <div class="chart-container">
              <div class="chart-header jqx-widget-header-energyblue">
                  <h2>
                      
                    दैनिक माग/निकासी संख्या 
                      <button class="btn btn-default btn-sm btn-chart pull-right" (click)="print2()">
                          <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                      </button>
                  </h2>
              </div>
              <div>
             <form name="alForm" [formGroup]="alForm" id="alForm">
                <table width="100%">
                    <tr>
                        <td width="40%">

                        </td>
                      
                        <td width="12%">
                            <input type="text" class="px-control" (change)="dateChange($event.target.value)"
                                placeholder="YYYY-MM-DD" formControlName="today">
                        </td>
                        <td width="10%">
                            <select formControlName="reqType" (change)="categoryChange($event.target.value)"
                                style="width: 100px;"
                                class="select-control selectpicker select-class select-border">
                                <option [selected]="'true'" [disabled]="'true'" value=''>वर्ग छान्नुहाेस्
                                </option>
                                <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">
                                    {{ data.id }}</option>
                            </select>
                        </td>
                        <td *ngIf="showWard">
                            <select formControlName="ward" style="width: 100px"
                                (change)="wardChange($event.target.value)"
                                class="select-control selectpicker select-class select-border ">
                                <option [selected]="'true'" [disabled]="'true'" value=''>वडा छान्नुहाेस्
                                </option>
                                <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">
                                    {{ data['name'] }}</option>
                            </select>
                        </td>
                        <td *ngIf="showDivision">
                            <select formControlName="division" style="width: 100px"
                                (change)="divisionChange($event.target.value)"
                                class="select-control selectpicker select-class select-border">
                                <option [selected]="'true'" value=''>शाखा छान्नुहाेस्</option>
                                <option *ngFor="let data of divisionAdapter;let i=index"
                                    [value]="data['id']">{{ data['nameNepali'] }}</option>
                            </select>
                        </td>
                      
                    </tr>
                </table>
                </form>
              </div>
              <div class="chart-content" style="padding-bottom: 1px;">
                  <jqxChart #myChart2  [width]="'100%'" [height]="428" [title]="'बस्तु माग/निकासी संख्या'"
                      [description]="' '" [valueAxis]="valueAxis2" [showLegend]="true" [enableAnimations]="true"
                      [source]="wardData" [xAxis]="xAxis2" [columnSeriesOverlap]="true" [seriesGroups]="seriesGroups2"
                      [colorScheme]="'scheme04'">
                  </jqxChart>
                  <div class="chart-loader" [ngClass]="graphLoading">
                      <div class="lds-roller">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    
  </div>
  <div *ngIf="userType == 'D'" class="row">
      
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="chart-container">
            <div class="chart-header jqx-widget-header-energyblue">
                <h2>
                    
                    दैनिक माग/निकासी संख्या 
                    <button class="btn btn-default btn-sm btn-chart pull-right" (click)="print1()">
                        <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                    </button>
                </h2>
            </div>
            <div class="chart-header jqx-widget-header-energyblue">

         <form name="alForm" [formGroup]="alForm" id="alForm">
                <table width="100%">
                    <tr>
                            <td width="40%">

                                </td>
                       
                        <td width="12%">
                            <input type="text" class="px-control" (change)="dateChange($event.target.value)"
                                placeholder="YYYY-MM-DD" formControlName="today">
                        </td>
                        <td width="10%">
                            <select formControlName="reqType" (change)="categoryChange($event.target.value)"
                                style="width: 100px;"
                                class="select-control selectpicker select-class select-border">
                                <option [selected]="'true'" [disabled]="'true'" value=''>वर्ग छान्नुहाेस्
                                </option>
                                <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">
                                    {{ data.id }}</option>
                            </select>
                        </td>
                        <td *ngIf="showWard">
                            <select formControlName="ward" style="width: 100px"
                                (change)="wardChange($event.target.value)"
                                class="select-control selectpicker select-class select-border ">
                                <option [selected]="'true'" [disabled]="'true'" value=''>वडा छान्नुहाेस्
                                </option>
                                <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">
                                    {{ data['name'] }}</option>
                            </select>
                        </td>
                        <td *ngIf="showDivision">
                            <select formControlName="division" style="width: 100px"
                                (change)="divisionChange($event.target.value)"
                                class="select-control selectpicker select-class select-border">
                                <option [selected]="'true'" value=''>शाखा छान्नुहाेस्</option>
                                <option *ngFor="let data of divisionAdapter;let i=index"
                                    [value]="data['id']">{{ data['nameNepali'] }}</option>
                            </select>
                        </td>
                       
                    </tr>
                </table>
                </form>
            </div>
            <div class="chart-content" style="padding-bottom: 1px;">
                <jqxChart #myChart1  [width]="'100%'" [height]="428" [title]="'बस्तु माग/निकासी संख्या'"
                    [description]="' '" [valueAxis]="valueAxis1" [showLegend]="true" [enableAnimations]="true"
                    [source]="divisionData" [xAxis]="xAxis1" [columnSeriesOverlap]="true" [seriesGroups]="seriesGroups1"
                    [colorScheme]="'scheme04'">
                </jqxChart>
                <div class="chart-loader" [ngClass]="graphLoading">
                    <div class="lds-roller">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
  <!-- <div>
      <input id="input1" (keyup.enter)="gettranslation($event)" >
      <input id="input2">
  </div> -->
</div>
