<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2>{{'GRN_REPORT_HEADER'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm" id="alForm">
            <fieldset class="jqx-widget-header-energyblue">
              <legend>{{'SEARCH_BOX'|translate}}</legend>
              <table class="table-w-tooltip">
                <tr>
                  <!-- <td>{{'REQ_FOR'|translate}}</td>
                  <td>
                    <select formControlName="reqFor" (change)="categoryChange($event)" style="width: 100px;" class="select-control selectpicker select-class select-border">
                      <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of cAdapter;let i=index" [value]="data['name']">{{ data['id'] }}</option>
                    </select>
                  </td>
                  <td *ngIf="showWard">{{'WARD'|translate}}</td>
                  <td *ngIf="showWard">
                    <select formControlName="ward" style="width: 100px;" class="select-control selectpicker select-class select-border">
                      <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">{{ data['name'] }}</option>
                    </select>
                  </td>
                  <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                  <td *ngIf="showDivision">
                    <select formControlName="division" style="width: 100px;" class="select-control selectpicker select-class select-border">
                      <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of divisionAdapter;let i=index" [value]="data['id']">{{ data['nameNepali'] }}</option>
                    </select>
                  </td> -->
                  <td>{{'DATE_FROM'|translate}} *
                  </td>
                  <td>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="100"
                      [height]="25"></jqxInput>
                  </td>
                  <td>{{'DATE_TO'|translate}} *
                  </td>
                  <td>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="100" [height]="25">
                    </jqxInput>
                  </td>
                  <td>
                    <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!alForm.valid"
                      (onClick)="saveBtn(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'GRN_REPORT_SUB'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="12" style="text-align:center;">
                          <span> {{'GRN_REPORT_HEADER'|translate}}</span>
                        </th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="6" style="text-align:center;">
                          {{'DATE_FROM'|translate}}: {{ alForm.value['dateFrom'] | nepaliNumber }}
                        </th>
                        <th colspan="6" style="text-align:center;">
                          {{'DATE_TO'|translate}}: {{ alForm.value['dateTo'] | nepaliNumber }}
                        </th>
                      </tr>
                      <tr>
                        <th>{{'FISCAL_YEAR'|translate}}</th>
                        <th>{{'ENTERDATE'|translate}}</th>
                        <th>{{'ENTERBY'|translate}}</th>
                        <th>सामानको नाम</th>
                        <th>परिमाण</th>
                        <th>दर</th>
                        <th>मु.अ.क बाहेकको रकम</th>
                        <th>मु.अ.कर</th>
                        <th>खर्च</th>
                        <th>{{'TOTAL_RS'|translate}}</th>
                        <th>{{'RECEIVE'|translate}}</th>
                        <th class="last-td">{{'ACTIONS'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data['fiscalYear'] | nepaliNumber }}</td>
                        <td>{{ data['enterDate'] | nepaliNumber }}</td>
                        <td>{{ data['enterBy'] | nepaliNumber }}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['qty'] | nepaliNumber }}</td>
                        <td>{{ data['rate'] | nepaliNumber }}</td>
                        <td>{{ data['totalAmount'] | nepaliNumber }}</td>
                        <td>{{ data['vat'] | nepaliNumber }}</td>
                        <td>{{ data['charge'] | nepaliNumber }}</td>
                        <td>{{ data['subTotal'] | nepaliNumber }}</td>
                        <td>{{ data['receiveFor'] }}
                            <span *ngIf="data['receiveFor']=='Municipal'">नगरपालिका</span>
                            <span *ngIf="data['receiveFor']=='Ward'">वडा </span>
                            <span *ngIf="data['receiveFor']=='Division'">शाखा </span>
                            
                        </td>
                        <td class="last-td" (click)="viewItem(data)">
                          <jqxButton>
                            {{'DETAIL_VIEW' | translate}}
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myGrnWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
  [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailsReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> {{ 'PRINT' | translate }}
      </button>
    </span>
    <div id="page-wrap-container" style="width:950px" *ngIf="printItemDetails && selectedGrnNo">

        <!-- <div>
          <p style="text-align:right;">म.ले.प.फारम नंः ४०३ <br> साबिकको फारम नंः ४६</p>
        </div>
        <div class="invoice-header">
          <p>
            <span style="margin-bottom: 0px;font-size:20px;font-weight: 700">स्थानीय तह</span><br>
            <p class="meta-sub">{{organizationDetails[0].name}}</p><br>
            <p class="meta-sub"> कार्यालय कोड नं.:
              {{organizationDetails[0].orgCodeNo}}
            <br><span class="meta-invoice-title" style="font-size:12px;">दाखिला प्रतिवेदन फाराम</span>
          </p>
        </div> -->
        <!-- <div style="width:100%">
            <div style="width:20%;float:left">

            </div>
            <div style="width:60%;">

            </div>
            <div style="width:20%;float:right">

            </div>
        </div> -->
        <table style="width:100%">
            <tr>
                <td style="width:20%;"></td>
                <td style="width:60%;padding-top: 15px">
                    <p style="text-align: center">
                        <span style="margin-bottom: 0px;font-size:20px;font-weight: 700">स्थानीय तह</span><br>
                        <span style="margin-bottom: 0px;font-size:18px;font-weight: 600">{{organizationDetails[0].name}}</span><br>
                        <span>कार्यालय कोड नं.: {{organizationDetails[0].orgCodeNo | nepaliNumber}}</span><br>
                        <span class="meta-invoice-title" style="font-size:12px;text-decoration: underline">दाखिला प्रतिवेदन फाराम</span>
                    </p>
                </td>
                <td style="width:20%;vertical-align: top">
                    <p style="text-align:right;">म.ले.प.फारम नंः ४०३ <br> साबिकको फारम नंः ४६</p>
                </td>
            </tr>
        </table>
        <div class="" style="clear:both">
          <p class="" style="text-align: right">
            दाखिला मिति: {{ printItemDetails[0].enterDate?(printItemDetails[0].enterDate | nepaliNumber):''}}
            <br>
            दाखिला प्रतिवेदन नम्बर: {{ selectedGrnNo | nepaliNumber }}</p>
          <table class="invoice-table">
            <thead>
              <tr>
                <th rowspan="2">क्र.सं</th>
                <th rowspan="2">खरिद आदेश/हस्तान्तरण फारम नं</th>
                <th rowspan="2">जिन्सी बर्गीकरण संकेत नं</th>
                <th rowspan="2">जिन्सी खाता पाना नं.</th>
                <th rowspan="2">सामानको नाम</th>
                <th rowspan="2">स्पेसिफिकेसन</th>
                <th rowspan="2">सामानको पहिचान नं</th>
                <th rowspan="2">मोडल नं</th>
                <th rowspan="1" colspan="5" style="text-align:center;">मूल्य (बिल विजक अनुसार)</th>
                <th rowspan="2">अन्य खर्च</th>
                <th rowspan="2">अन्य खर्च समेत जम्मा रकम</th>
                <th rowspan="2" colspan="1" style="text-align:center;">कैफियत</th>
              </tr>
              <tr>
                <th rowspan="1">एकाइ</th>
                <th rowspan="1">परिमाण</th>
                <th rowspan="1">दर</th>
                <th rowspan="1">मू.अ.कर</th>
                <th rowspan="1">सामानको जम्मा मुल्य</th>
              </tr>
            </thead>
            <tbody *ngIf="printItemDetails">
              <tr *ngFor="let data of printItemDetails; let i=index;">
                <td>{{i+1 | nepaliNumber }}</td>
                <td>{{ data.podId | nepaliNumber }}</td>
                <td>{{ data['assetCode']?(data['assetCode'] | nepaliNumber):'' }}</td>
                <td>{{ data['assetPageNo']?(data['assetPageNo'] | nepaliNumber):'' }}</td>
                <td>{{ data['itemName']}}</td>
                <td>{{ data['specification']}}</td>
                <td>{{ data['itemSerialNo']}}</td>
                <td>{{ data['modelNo'] }}</td>
                <td>{{ data['unit']}}</td>
                <td>{{ data['inQty']?(data['inQty'] | nepaliNumber):'' }}</td>
                <td>{{ data['rate'] | nepaliNumber }}</td>
                <td>{{ data['vatableAmt'] | nepaliNumber }}</td>
                <td>{{ data['totalAmount'] | nepaliNumber }}</td>
                <td>{{ data['charge'] | nepaliNumber }}</td>
                <td>{{ data['subTotal']  | nepaliNumber }}</td>
                <td>{{ data['remarks'] }}</td>
              </tr>
            </tbody>
          </table>
          <p class="invoice-footer-info" *ngIf="printItemDetails[0] && printItemDetails[0][0]">
            माथि उलेखित मालसामानहरु खरिद आदेश नम्बर / हस्तान्तरण फाराम नम्बर &nbsp;&nbsp;&nbsp;
            <b>{{ printItemDetails[1][0]?.orderNo | nepaliNumber }}</b>&nbsp;&nbsp;&nbsp; बाट मिति &nbsp;&nbsp;&nbsp;
            <b>{{ printItemDetails[0][0]?.enterDate | nepaliNumber }}</b>&nbsp;&nbsp;&nbsp; अनुसार
            <br> श्री &nbsp;&nbsp;&nbsp;
            <b
              *ngIf="printItemDetails[1] && printItemDetails[1][0]">{{ printItemDetails[1][0]?.supplier?.organizationNameNepali }}</b>&nbsp;&nbsp;&nbsp;
            बाट प्राप्त हुन आएको हुँदा
            जाँची गन्ती गरी हेर्दा ठीक दुरुस्त भएकोले खातामा आम्दानी बाँधेको प्रमाणित गर्दछु
          </p>
        </div>
        <div class="invoice-footer">
                <p>उपर्युक्‍त अनुसार दाखिला प्रतिवेदन तयार गर्ने, जाँच गर्ने र स्वीकृत गर्नेः</p>
          <div class="invoice-footer-col" style="float:left;">
            <div>
              <!-- <p>........................................</p> -->
              <p class="invoice-footer-field">
                फाँटवालाको दस्तखत:
              </p>
              <p class="invoice-footer-field">
                नाम: {{ printItemDetails[0]?.enterBy }}
              </p>
              <p class="invoice-footer-field">
                पद:
              </p>
              <p class="invoice-footer-field">
                मिति: {{ printItemDetails[0].enterDate?(printItemDetails[0].enterDate | nepaliNumber):'' }}
              </p>
            </div>
          </div>
          <div class="invoice-footer-col" style="float:left;">
            <div>
              <!-- <p>...............................................</p> -->
              <p class="invoice-footer-signature">
                प्रमाणित गर्ने शाखा प्रमुखको दस्तखत:
              </p>
              <p class="invoice-footer-field">
                नाम: {{ printItemDetails[0]?.checkBy }}
              </p>
              <p class="invoice-footer-field">
                पद:
              </p>
              <p class="invoice-footer-field">
                मिति: {{ printItemDetails[0].checkDate?(printItemDetails[0].checkDate | nepaliNumber):'' }}
              </p>
            </div>
          </div>
          <div class="invoice-footer-col" style="float:right;">
            <div>
              <!-- <p>...................................</p> -->
              <p class="invoice-footer-signature">
                कार्यालय प्रमुखको दस्तखत:
              </p>
              <p class="invoice-footer-field">
                नाम: {{ printItemDetails[0]?.approveBy }}
              </p>
              <p class="invoice-footer-field">
                पद:
              </p>
              <p class="invoice-footer-field">
                मिति: {{ printItemDetails[0].approveDate?(printItemDetails[0].approveDate | nepaliNumber):'' }}
              </p>
            </div>
          </div>
        </div>

      </div>
  </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
