<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
    <form name="sForm" [formGroup]="sForm" id="sForm">
      <input type="text" name="id" formControlName="id" hidden>
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'SUPERVISOR'|translate}}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>{{'NAME'|translate}}
              <td>
                <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="'ENTER_NAME'|translate" [height]="23"
                [width]="140" formControlName="name"></jqxInput> -->
                <div style="width:80%">
                  <nepali-input #input1 [height]="23" [width]="140" name="name" formControlName="name" [placeHolder]="'ENTER_NAME'|translate" [inputClass]="'px-control'">
                  </nepali-input>
                </div>
              </td>
              <td>{{'ADDRESS'|translate}}
              </td>
              <td>
                <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="'ENTER_ADDRESS'|translate" [height]="23" [width]="140" formControlName="address"></jqxInput> -->
                <div style="width:80%">
                  <nepali-input #input2 [height]="23" [width]="140" name="address" formControlName="address" [placeHolder]="'ENTER_ADDRESS'|translate" [inputClass]="'px-control'">
                  </nepali-input>
                </div>
              </td>
              <td>{{'CONTACT_NO'|translate}}
              </td>
              <td>
                <jqxInput [theme]="'energyblue'" [height]="23" [placeHolder]="'CONTACT_NO'|translate" [width]="140" formControlName="contactNo"></jqxInput>
              </td>
              <td>{{'POST'|translate}}
              </td>
              <td>
                  <div style="width:80%">
                      <nepali-input #input3 [height]="23" [width]="140" name="post" formControlName="post" [placeHolder]="'ENTER_POST'|translate" [inputClass]="'px-control'">
                      </nepali-input>
                    </div>
                <!-- <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="'ENTER_POST'|translate" [height]="23" [width]="140" formControlName="post"></jqxInput> -->
              </td>
          </tr>
          <tr>
            <td>{{'EMAIL'|translate}}&nbsp;
              <span>*</span>
            </td>
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'EMAIL'|translate" [height]="23" [width]="140" formControlName="email"></jqxInput>
            </td>
            <td>{{'ORGANIZATION_NAME' | translate}}&nbsp;
              <span>*</span>
            </td>
            <td colspan="2">
              <select formControlName="orgId" class="selectpicker select-class select-border" style="width:144px;height:23px;">
                <option value="">{{'CHOOSE' | translate}}</option>
                <option *ngFor="let data of organizationAdapter; let i = index;" [value]="data['id']">{{data['name']}}</option>
              </select>
            </td>
            <td>
              <jqxButton *ngIf="!update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!sForm.valid" (onClick)="saveBtn(sForm.value)">
                {{'SAVE'|translate}}
              </jqxButton>
              <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!sForm.valid" (onClick)="updateBtn(sForm.value)">
                {{'UPDATE' | translate}}
              </jqxButton>
              <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                <i class="fa fa-times"></i>{{'CANCEL'|translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>

  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [autorowheight]="true"
      [sortable]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'" [selectionmode]="'checkbox'"
      [showtoolbar]="true" [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
    </jqxGrid>
  </div>

  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>