<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2>{{'INVENTORY_UNUSE_DETAIL'|translate}}</h2>
        </div>
        <jqxValidator #myValidator>
          <form name="alForm" [formGroup]="alForm" id="alForm">
            <div class="bg-white p-1">
              <fieldset class="jqx-widget-header-energyblue">
                <legend>{{'SEARCH_BOX'|translate}}</legend>
                <table class="table-w-tooltip">
                  <tr>
                    <td>{{'ITEM'|translate}}<td>
                    <td>
                      <app-search-selection-item [formGroup]="itemForm" width="27px"></app-search-selection-item>
                     <!-- <input type="text"  formControlName="itemCode" class="px-control"> -->
                     <!-- <input type="text" [formGroup]="itemForm" formControlName="name" class="px-control">                     
                      <!--  <input type="text" (keyup)="itemFilter($event)" [placeholder]="'SEARCH_ITEM'|translate" formControlName="name"

                        class="px-control nepalify">
                      <span *ngIf="itemFocusSearch" class="px-select-container">
                        <select (change)="itemListSelected($event)" (blur)="itemFocusSearch = false;" size="5" name="itemCode"
                          class="px-control px-select-list" id="itemCode">
                          <option disabled="true" value="">{{'CHOOSE_ITEM'|translate}}</option>
                          <option *ngFor='let item of itemAdapterSearch' [value]="item.itemCode">{{ item.itemNameNepali }}</option>
                        </select>
                      </span> -->
                    </td>
                    <td>{{'LOCATION'|translate}}</td>
                    <td >
                      <select formControlName="location" style="width: 180px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of locationAdapter;let i=index" [value]="data['id']">{{
                          data['name'] }}</option>
                      </select>
                    </td>
                    <td>
                      <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!alForm.valid && !itemForm.valid" (onClick)="saveBtn(alForm.value,itemForm.value)">
                        {{'SEARCH'|translate}}
                      </jqxButton>
                      <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="Clear()">
                        {{'CLEAR'|translate}}
                      </jqxButton>
                    </td>
                  </tr>
                </table>
              </fieldset>

            </div>
            <div class="rs-grid-panel bg-white">
              <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                <h2> {{'INVENTORY_USE_DETAIL'|translate}}
                </h2>
              </div>
              <div class="scroll-container" style="margin: 10px;">
                <div class="row justify-content-md-center">
                  <div class="col-12">
                    <div id="reportContainer">
                      <div class="rs-grid-panel bg-white">
                        <fieldset>
                          <legend>{{'INVENTORY_UNUSE_DETAIL'|translate}} </legend>
                          <div formArrayName="unuseItemDetails">
                            <div class="row row-head">
                              <div class="col-md-2">
                                <p style="font-size: 12px;">{{'ITEM'|translate}} </p>
                              </div>
                              <div class="col-md-2">
                                <p style="font-size: 12px;">{{'LOCATION'|translate}}</p>
                              </div>
                              <div class="col-md-1">
                                <p style="font-size: 12px;">{{'USE_DATE'|translate}}</p>
                              </div>
                              <div class="col-md-1">
                                <p style="font-size: 12px;">{{'USE_TIME'|translate}}</p>
                              </div>
                              <div class="col-md-1">
                                <p style="font-size: 12px;">{{'QUANTITY'|translate}}</p>
                              </div>
                              <div class="col-md-1">
                                <p style="font-size: 12px;">{{'USE_DATE_TO'|translate}}</p>
                              </div>
                              <div class="col-md-1">
                                <p style="font-size: 12px;">{{'USE_TIME_TO'|translate}}</p>
                              </div>
                              <div class="col-md-2">
                                <p style="font-size: 12px;">{{'REUSE_STATUS'|translate}}</p>
                              </div>
                              <div class="col-md-1">
                                <input type="checkbox" (change)="checkAll($event)"> {{'ALL'|translate}}
                              </div>
                            </div>
                            <div class="form-array-container">
                              <div *ngFor="let reqItem of alForm.get('unuseItemDetails')['controls']; let i = index"
                                class="form-array-container-inner">
                                <div class="row p-1 row-body" [formGroupName]="i">
                                  <input type="hidden" formControlName="id">
                                  <div class="col-md-2">
                                    <input type="text" formControlName="itemCode" class="px-control nepalify nepalify1" placeholder="Item"
                                      hidden>
                                    <input type="text" (keyup)="itemFilterUnuse($event, i)" formControlName="itemName"
                                      class="px-control" placeholder="Item">
                                    <span *ngIf="itemFocus[i]" class="px-select-container">
                                      <select (change)="itemListSelectedUnuse($event, i)" (blur)="itemFocus[i] = false;"
                                        size="5" name="itemCode" class="px-control px-select-list" id="itemCode">
                                        <option *ngFor='let item of itemAdapter[i]' [value]="item.itemCode">{{
                                          item.itemName }}</option>
                                      </select>
                                    </span>
                                    <small [hidden]="reqItem['controls'].itemCode.valid || !reqItem['controls'].itemCode.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-2">
                                    <input type="text" formControlName="location" class="px-control" placeholder="Item"
                                      hidden>
                                    <input type="text" (keyup)="itemFilterLocationUnuse($event, i)" formControlName="locationName"
                                      class="px-control nepalify nepalify1" placeholder="Location Name">
                                    <span *ngIf="locationFocus[i]" class="px-select-container">
                                      <select (change)="locationListSelectedUnuse($event, i)" (blur)="locationFocus[i] = false;"
                                        size="5" name="location" class="px-control px-select-list" id="location">
                                        <option *ngFor='let location of locationAdapter[i]' [value]="location.itemCode">{{
                                          item.itemName }}</option>
                                      </select>
                                    </span>
                                    <small [hidden]="reqItem['controls'].location.valid || !reqItem['controls'].location.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-1">
                                    <input type="text" formControlName="useDateFrom" class="px-control" placeholder="YYYY-MM-DD">
                                    <small [hidden]="reqItem['controls'].useDateFrom.valid || !reqItem['controls'].useDateFrom.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-1">
                                    <input type="text" formControlName="useTimeFrom" class="px-control" placeholder="HH:MM:SS">
                                    <small [hidden]="reqItem['controls'].useTimeFrom.valid || !reqItem['controls'].useTimeFrom.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-1">
                                    <input type="number" formControlName="qty" class="px-control" (change)="changeQty(i,$event.target.value)" placeholder="Rate">
                                    <small [hidden]="reqItem['controls'].qty.valid || !reqItem['controls'].qty.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-1">
                                    <input type="text" formControlName="useDateTo" class="px-control"   placeholder="YYYY-MM-DD">
                                    <small [hidden]="reqItem['controls'].useDateTo.valid || !reqItem['controls'].useDateTo.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-1">
                                    <input type="text" formControlName="useTimeTo" class="px-control" placeholder="HH:MM:SS">
                                    <small [hidden]="reqItem['controls'].useTimeTo.valid || !reqItem['controls'].useTimeTo.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-2">
                                    <select formControlName="reuseStatus" style="width: 100%" class="select-control selectpicker select-class select-border">
                                      <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                      <option *ngFor="let data of reUseAdapter;let i=index" [value]="data.id">{{
                                        data.name }}</option>
                                    </select>
                                    <small [hidden]="reqItem['controls'].reuseStatus.valid || !reqItem['controls'].reuseStatus.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-1" style="padding-left:20px;">
                                    <input type="checkbox" formControlName="issueStatus">
                                    <!-- <a (click)="viewItem(reqItem['controls'].itemCode.value)">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group text-right m-2">
                              <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="100" (onClick)="save(alForm.value)">
                                {{'SAVE'|translate}}
                              </jqxButton>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </jqxValidator>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>