<div class="container-fluid tfm-panel">
  <div class="scroll-container">
    <div class="row justify-content-md-center">
      <div class="col">
        <div>
          <div class="insurance" *ngIf="insurances">
            <fieldset>
              <legend>{{'INSURANCE_DETAILS'|translate}}</legend>
              <h5>{{insurances['insurancesCompaniesName']}}</h5>
              <p>{{'COMPANY_CODE'|translate}}:{{insurances['insurancesCompaniesCode']}}</p>
              <p>{{'ADDRESS'|translate}}:{{insurances['address']}}</p>
              <p>{{'OFFICE_CONTACT_NUMBER'|translate}}:{{insurances['officeContactNo']}}</p>
              <p>{{'CONTACT_PERSON'|translate}}:{{insurances['contactPerson']}}</p>
              <p>{{'CONTACT_PERSON_NO'|translate}}:{{insurances['contactPersonNo']}}</p>
              <p>{{'INSURANCE_DATE_FROM'|translate}}:{{insurances['insuranceDateFrom']}}</p>
              <p>{{'INSURANCE_DATE_TO'|translate}}:{{insurances['insuranceDateTo']}}</p>
              <p>{{'INSURANCE_AMOUNT'|translate}}:{{insurances['insuranceAmount']}}</p>
            </fieldset>
          </div>
          <div class="info-container">
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{'ACCESSORIES_NAME'|translate}}</th>
                <th>{{'REMARKS'|translate}}</th>
              </tr>
            </thead>
            <tbody *ngIf="accessoriesDatas">
              <tr *ngFor="let data of accessoriesDatas">
                <td>{{ data['accessoriesName'] }}</td>
                <td>{{ data['remarks'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <div>
          <div class="warranty" *ngIf="warranty">
            <fieldset>
              <legend>{{'WARRENTY_DETAILS'|translate}}</legend>
              <h5>{{warranty['warrantyCompany']}}</h5>
              <p>{{'ADDRESS'|translate}}:{{warranty['warrantyCompanyAddress']}}</p>
              <p>{{'CONTACT_PERSON'|translate}}:{{warranty['contactPerson"']}}</p>
              <p>{{'CONTACT_NO'|translate}}:{{warranty['contactNo']}}</p>
              <p>{{'WARRENTY_FROM'|translate}}:{{warranty['warrantyFrom']}}</p>
              <p>{{'WARRENTY_MONTH'|translate}}:{{warranty['warrantyMonth']}}</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </fieldset>
          </div>
          <div class="info-container">
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{'SPECIFICATION'|translate}} {{'NAME'|translate}}</th>
                <th>{{'REMARKS'|translate}}</th>
              </tr>
            </thead>
            <tbody *ngIf="specificationDatas">
              <tr *ngFor="let data of specificationDatas">
                <td>{{ data['specificationName'] }}</td>
                <td>{{ data['remarks'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>