<div class="tfm-top-header">
    <div class="row">
        <div class="col-md-2">
            <div class="tfm-logo">
                <h6>{{'MIMS'|translate}}</h6>
            </div>
        </div>
        <div class="col-md-10" style="padding-left: 5px;">
            <app-sidebar></app-sidebar>
        </div>
    </div>

</div>
<section class="main-container" #mainContainer>
    <div class="inner-container" #innerContainer>
        <router-outlet></router-outlet>
    </div>
</section>

<div class="network-connection-toast" [ngClass]="!online ? 'open' : 'close'">
    <div class="network-connection-content">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No Internet Connection
    </div>
</div>