<div class="container-fluid tfm-panel">
    <form name="approveReqForm" [formGroup]="approveReqForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header
                        jqx-window-header jqx-widget-header-energyblue">
                        <h2> {{'APPROVE_PURCHASE_ORDER'|translate}} </h2>
                    </div>
                    <div class="bg-white p-1">
                        <fieldset>
                            <legend>{{'APPROVE_PURCHASE_ORDER'|translate}}</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'TYPE'|translate}}</label>
                                        <select formControlName="type"
                                            (change)="branchChange()"
                                            class="select-control selectpicker
                                            select-class select-border">
                                            <option [selected]="'true'"
                                                value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of
                                                typeAdapter" [value]="data.id">{{
                                                data.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="box-container grid-box-container">
                        <jqxGrid #groupGrid [width]="'100%'"
                            [source]="gridDataAdapter" [columns]="gridColumns"
                            [pageable]="false" [height]="'200'"
                            [autorowheight]="false" [theme]="'energyblue'"
                            [selectionmode]="'checkbox'" [showtoolbar]="true"
                            [rendertoolbar]="gridRenderToolbar"
                            [keyboardnavigation]="true">
                        </jqxGrid>
                    </div>
                    <div class="box-container grid-box-container">
                        <jqxGrid #orderGrid [width]="'100%'"
                            [source]="orderDataAdapter" [columns]="orderColumns"
                            [pageable]="false" [height]="'200'"
                            [autorowheight]="false" [theme]="'energyblue'"
                            [showtoolbar]="true"
                            [rendertoolbar]="orderRenderToolbar"
                            [keyboardnavigation]="true">
                        </jqxGrid>
                    </div>
                    <div class="submit-form">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label>{{'APPROVE_DATE'|translate}}</label>
                                <jqxInput class="approveDate"
                                    [theme]="'energyblue'"
                                    [placeHolder]="'YYYY-MM-dd'"
                                    [height]="23" [width]="170"
                                    formControlName="approveDate"></jqxInput>
                                <small class="form-control-feedback text-danger
                                    px-control-error"
                                    *ngIf="approveDate.invalid"> * required
                                </small>
                            </div>
                            <div class="form-group col-md-2"
                                *ngIf="typeData.value==2">
                                <label>शाखा प्रमुखको नाम</label>
                                <nepali-input
                                    name="specification"
                                    formControlName="approveBy"
                                    [placeHolder]="'शाखा प्रमुखको नाम'"
                                    [inputClass]="'px-control'">
                                </nepali-input>
                                <small class="form-control-feedback text-danger
                                    px-control-error"
                                    *ngIf="approveBy.invalid"> *
                                    required </small>
                            </div>
                            <div class="form-group col-md-2"
                                *ngIf="typeData.value==4">
                                <label>कार्यालय प्रमुखको नाम</label>
                                <nepali-input
                                    name="specification"
                                    formControlName="finalApproveBy"
                                    [placeHolder]="'कार्यालय प्रमुखको नाम '"
                                    [inputClass]="'px-control'">
                                </nepali-input>
                                <small class="form-control-feedback text-danger
                                    px-control-error"
                                    *ngIf="finalApproveBy.invalid"> *
                                    required </small>
                            </div>
                            <div class="form-group text-right"
                                style="margin-right:5px;">
                                <label class="">&nbsp;</label>
                                <jqxButton [theme]="'energyblue'"
                                    [disabled]="!approveReqForm.valid"
                                    [width]="120"
                                    (onClick)="approve(approveReqForm.value)">
                                    <i class="fa fa-check" style="color:
                                        #5eba7d;" aria-hidden="true"></i>{{'APPROVE'|translate}}
                                </jqxButton>
                            </div>
                            <!-- <div class="form-group text-right">
                                <label class="">&nbsp;</label>
                                <jqxButton [theme]="'energyblue'" [disabled]="!approveReqForm.valid" [width]="100" (onClick)="reject(approveReqForm.value)">
                                    <i style="color: #cc0000;" class="fa fa-times" aria-hidden="true"></i> {{ "REJECT" | translate }}
                                </jqxButton>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<jqxWindow #myWindow [width]="1000" [height]="'90%'" [resizable]="false"
    [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        This is your window content!!
    </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
    [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
    [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
    [width]="100" [height]="60">
</jqxLoader>