.tfm-panel .tfm-panel-container {
    position: relative;
    width: 100%;
    border: 1px solid #c5c5c5;
    height: auto;
}
.submit-form{
    background-color: #ffffff;
    margin: 5px;
    padding: 10px;
}