.dropdown{
    list-style: none;
    position: absolute; 
    top: 29px; 
    background: #fff; 
    max-height: 100px; 
    overflow-y: auto; 
    width: 100%;
    padding: 0;
    z-index: 2;
    border: 1px solid #ccc;
}
.dropdown li{
    padding: 5px;
    cursor: pointer;
}
.dropdown li:hover{
    background: #ccc;
}
.dropdown li.active{
    background: #aaa;
}

.iwrapper:hover{
    background: #ccc;
}

.iwrapper{
    position: absolute;
    right: -6px;
    border: 1px solid #ccc;
    padding: 0 7px;
    background: white;
    height: 23px;
    width: 13px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    i.fa{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
