<div style="position: relative">

  <div class="iwrapper" [style.height]="height" [style.width]="width"
    (click)="toggle()">
    <i *ngIf="!display" class="fa fa-chevron-down"></i>
    <i *ngIf="display" class="fa fa-chevron-up"></i>
  </div>
  <!-- <input #displayElement type="text" class="" (keyup)="item_type($event)" [placeholder]="placeholder"> -->
  <nepali-input #displayElement type="text" [width]="200"
    (keyup)="item_type($event)" [height]="25"
    [placeHolder]="'ITEM_NAME'|translate" [inputClass]="'px-control'">
  </nepali-input>
  <div *ngIf="display">
    <ul class="dropdown">
      <li *ngFor="let item of items" (click)="item_click($event)"
        attr.data-id="{{ item.itemCode }}" attr.data-unit="{{item.unit}}"
        attr.data-assetPageNo="{{item.assetPageNo}}">
        {{ item.itemNameNepali }}
      </li>
    </ul>
  </div>

</div>
