<div class="container-fluid tfm-panel">
    <form name="rsForm" [formGroup]="rsForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header
                        jqx-window-header
                        jqx-widget-header-energyblue">
                        <h2> {{'GOOD_ISSUE'| translate}} </h2>
                    </div>
                    <div class="bg-white p-1">
                        <fieldset>
                            <legend>{{'GOODS_DETAILS'| translate}}</legend>
                            <div class="row">
                                <div class="col-1">
                                    <div class="form-group">
                                        <label>{{'FINANCIAL_YEAR'|translate}}</label>
                                        <select formControlName="fiscalYear" style="width: 100px;" class="select-control selectpicker
                                            select-class
                                            select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let fYear of
                                                financialYearAdapter;let
                                                i=index" [value]="fYear.fySymbol">{{
                                                fYear.fiscalYear }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>बस्तुको किसिम</label>
                                        <select formControlName="itemType"
                                            (change)="itemTypeChange(rsForm.value['itemType'])" style="width: 150px;"
                                            class="select-control selectpicker
                                            select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option value="1">खर्च भएर नजाने</option>
                                            <option value="2">खर्च भएर जाने
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <label>किसिम</label>
                                        <select formControlName="issueType"
                                            (change)="TypeChange(rsForm.value['issueType'])" style="width: 100px;"
                                            class="select-control selectpicker
                                            select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option value="goodIssue">सामान जारी
                                            </option>
                                            <option value="goodHandover">समान
                                                हस्तान्तरण</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-1" *ngIf="issueType.value=='goodIssue'">
                                    <div class="form-group">
                                        <label>{{'CATEGORY'|translate}}</label>
                                        <select formControlName="reqType" (change)="categoryChange($event)"
                                            style="width: 100px;" class="select-control selectpicker
                                            select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of
                                                cAdapter;let i=index" [value]="data.name">{{ data.id
                                                }}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- (change)="wardChange($event.target.value)" -->
                                <div class="col-1" *ngIf="showWard &&
                                    issueType.value=='goodIssue'">
                                    <div class="form-group">
                                        <label>{{'WARD'|translate}}</label>
                                        <select formControlName="ward" style="width: 100px;" class="select-control selectpicker
                                        select-class select-border">
                                            <option [selected]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of
                                            wardAdapter;let i=index" [value]="data['id']">{{
                                            data['name'] }}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- (change)="divisionChange($event.target.value)" -->
                                <div class="col-1" *ngIf="showDivision &&
                                    issueType.value=='goodIssue'">
                                    <div class="form-group">
                                        <label>{{'DIVISION'|translate}}</label>
                                        <select formControlName="division" style="width: 100px;" class="select-control selectpicker
                                            select-class select-border">
                                            <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of
                                                divisionAdapter;let i=index" [value]="data['id']">{{
                                                data['nameNepali'] }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-left">
                                        <br>
                                        <jqxButton [theme]="'energyblue'" [width]="100"
                                            (onClick)="search(rsForm.value)">
                                            {{'SEARCH'|translate}}
                                        </jqxButton>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="rs-grid-panel bg-white">
                        <fieldset style="margin: 6px!important;">
                            <legend><span *ngIf="issueType.value=='goodIssue'">सामान
                                    जारि</span>
                                <span *ngIf="issueType.value=='goodHandover'">सामान
                                    हस्तान्तरण</span></legend>
                            <div formArrayName="requisitionItems">
                                <div class="row row-head">
                                    <div class="col-md-1">
                                        <!-- 1 -->
                                        <p style="font-size:12px;">{{'GOODS'|translate}}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <!-- 2 -->
                                        <p style="font-size:12px;"> सामान पहिचान नं</p>
                                    </div>
                                    <div class="col-md-1">
                                        <!-- 3 -->
                                        <p style="font-size:12px;">
                                            वस्तुको कोड</p>
                                    </div>
                                    <div class="col-md-1">
                                        <!-- 4 -->
                                        <p style="font-size:12px;">{{'REQUISITION_NO'|translate}}</p>
                                    </div>

                                    <div class="col-md-2">
                                        <!-- 5 -->
                                        <p style="font-size:12px;">{{'SPECIFICATIONS'|translate}}</p>
                                    </div>

                                    <div class="col-md-1">
                                        <!-- 6 -->
                                        <p style="font-size:12px;">{{'RATE'|translate}}</p>
                                    </div>
                                    <div class="col-md-1" *ngIf="issueType.value=='goodHandover'">
                                        <!-- 7 -->
                                        <p style="font-size:12px;">जम्मा परल
                                            मुल्य</p>
                                    </div>
                                    <div class="col-md-1" *ngIf="issueType.value=='goodHandover'">
                                        <!-- 8 -->
                                        <p style="font-size:12px;">निर्णय मिति</p>
                                    </div>
                                    <div class="col-md-2">
                                        <!-- 9 -->
                                        <p style="font-size:12px;">सामानको भौतिक
                                            अवस्था</p>
                                    </div>
                                    <div class="col-md-1">
                                        <!-- 10 -->
                                        <input type="checkbox" (change)="checkAll($event)">
                                        {{'ALL'|translate}}
                                    </div>
                                </div>
                                <div class="form-array-container">
                                    <div *ngFor="let reqItem of
                                        rsForm.get('requisitionItems')['controls'];
                                        let i= index" class="form-array-container-inner">
                                        <div class="row p-1 row-body" [formGroupName]="i">
                                            <div class="col-md-1" *ngIf="issueItems">
                                                <!-- 1 -->
                                                <p style="font-size:12px;">
                                                    {{issueItems[i].itemName}}</p>
                                            </div>
                                            <div class="col-md-1" *ngIf="issueItems">
                                                <!-- 2 -->
                                                <p style="font-size:12px;">
                                                    {{issueItems[i].modelNo
                                                    || '-'}}</p>
                                            </div>
                                            <!-- <div class="col-md-1"
                                                *ngIf="!issueItems">

                                                &nbsp;
                                                <input type="hidden"
                                                    formControlName="reqDeptId"
                                                    class="px-control">
                                                <input type="hidden"
                                                    formControlName="reqDeptType"
                                                    class="px-control">
                                                <input type="hidden"
                                                    formControlName="unit"
                                                    class="px-control">
                                                <input type="text"
                                                    formControlName="requestingNo"
                                                    class="px-control" hidden>
                                            </div> -->
                                            <div class="col-md-1">
                                                <!-- 4 -->
                                                <input type="text" formControlName="itemCode" class="px-control nepalify
                                                    nepalify1" readonly>
                                                <span *ngIf="itemFocus[i]" class="px-select-container">
                                                    <select>
                                                        <option *ngFor='let item
                                                            of itemAdapter[i][itemSerialNo]' [value]="item.itemCode">{{
                                                            item.itemCode }}</option>
                                                    </select>
                                                </span>
                                                <small [hidden]="reqItem['controls'].itemCode.valid
                                                    ||
                                                    !reqItem['controls'].itemCode.touched" class="form-control-feedback
                                                    text-danger
                                                    px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <!-- 5 -->
                                                <input type="text" formControlName="qty"
                                                    (change)="changeQty(i,$event.target.value)" class="px-control">
                                                <small [hidden]="reqItem['controls'].qty.valid
                                                    ||
                                                    !reqItem['controls'].qty.touched" class="form-control-feedback
                                                    text-danger
                                                    px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-2">
                                                <!-- 6 -->
                                                <!-- <input type="text" formControlName="specification" class="px-control nepalify"> -->
                                                <nepali-input name="specification" formControlName="specification"
                                                    [placeHolder]="''" [inputClass]="'px-control'">
                                                </nepali-input>
                                                <small [hidden]="reqItem['controls'].specification.valid
                                                    ||
                                                    !reqItem['controls'].specification.touched" class="form-control-feedback
                                                    text-danger
                                                    px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <!-- 7 -->
                                                <input type="text" formControlName="rate" class="px-control">
                                                <small [hidden]="reqItem['controls'].rate.valid
                                                    ||
                                                    !reqItem['controls'].rate.touched" class="form-control-feedback
                                                    text-danger
                                                    px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1" *ngIf="issueType.value=='goodHandover'">
                                                <!-- 8 -->
                                                <input type="text" formControlName="paralPrice" class="px-control">

                                            </div>
                                            <div class="col-md-1" *ngIf="issueType.value=='goodHandover'">
                                                <!-- 9 -->
                                                <input type="text" formControlName="decisionDate" class="px-control">
                                            </div>
                                            <div class="col-md-2">
                                                <!-- 10 -->
                                                <!-- <input type="text" formControlName="specification" class="px-control nepalify"> -->
                                                <nepali-input name="specification" formControlName="remarks"
                                                    [placeHolder]="''" [inputClass]="'px-control'">
                                                </nepali-input>
                                            </div>
                                            <div class="col-md-1" style="padding-left:20px;">
                                                <!-- 11 -->
                                                <input type="checkbox" formControlName="issueStatus">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset style="margin: 6px!important;">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label>{{'ISSUE_DATE'|translate}}</label>
                                    <jqxInput class="state" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-dd'"
                                        [height]="23" [width]="170" formControlName="enterDate"></jqxInput>
                                </div>
                                <div class="form-group col-md-3" *ngIf="issueType.value=='goodIssue'">
                                    <label>स्टोर शाखाको नाम</label>
                                    <nepali-input #nepaliInput2 formControlName="issueBy" [height]="23" [placeHolder]=""
                                        [inputClass]="'px-control'">
                                    </nepali-input>
                                </div>
                                <div class="form-group col-md-3" *ngIf="issueType.value=='goodIssue'">
                                    <label>स्वीकृति शाखाको नाम</label>
                                    <nepali-input #nepaliInput2 formControlName="issueApprovedBy" [height]="23"
                                        [placeHolder]="" [inputClass]="'px-control'">
                                    </nepali-input>
                                </div>
                                <div class="form-group col-md-3" *ngIf="issueType.value=='goodHandover'">
                                    <label>सामान हस्तान्तरण गर्ने कार्यालयको नाम</label>
                                    <nepali-input #nepaliInput2 formControlName="handoverOrganizationName" [height]="23"
                                        [placeHolder]="'ENTER_ORGANIZATION_NAME'|translate" [inputClass]="'px-control'">
                                    </nepali-input>
                                </div>
                                <div class="form-group col-md-3" *ngIf="issueType.value=='goodHandover'">
                                    <label>सामान बुझाउनेको नाम</label>
                                    <nepali-input #nepaliInput2 formControlName="handoverBy" [height]="23"
                                        [placeHolder]="'सामान बुझाउनेको नाम'" [inputClass]="'px-control'">
                                    </nepali-input>
                                </div>
                                <div class="form-group col-md-3" *ngIf="issueType.value=='goodHandover'">
                                    <label>सामान हस्तान्तरण गर्ने कार्यालय
                                        प्रमुखको नाम</label>
                                    <nepali-input #nepaliInput2 formControlName="handoverApprovedBy" [height]="23"
                                        [placeHolder]="'कार्यालय प्रमुखको नाम'" [inputClass]="'px-control'">
                                    </nepali-input>
                                </div>

                                <div class="form-group col-md-3" *ngIf="issueType.value=='goodHandover'">
                                    <label>सामान बुझिलिनेको नाम</label>
                                    <nepali-input #nepaliInput3 formControlName="handoverTo" [height]="23"
                                        [placeHolder]="'GOODS_RECEIVED_NAME'|translate" [inputClass]="'px-control'">
                                    </nepali-input>
                                </div>
                                <div class="form-group col-md-3" *ngIf="issueType.value=='goodHandover'">
                                    <label>बुझिलिने कार्यालय प्रमुखको नाम</label>
                                    <nepali-input #nepaliInput3 formControlName="handoverToApprovedBy" [height]="23"
                                        [placeHolder]="'कार्यालय प्रमुखको'" [inputClass]="'px-control'">
                                    </nepali-input>
                                </div>

                                <div class="form-group text-right">
                                    <label class="">&nbsp;</label>
                                    <jqxButton [theme]="'energyblue'" [disabled]="!rsForm.valid" [width]="100"
                                        (onClick)="save(rsForm.value)">
                                        {{'SAVE'|translate}}
                                    </jqxButton>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'90%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <div class="scroll-container">
            <div class="row justify-content-md-center">
                <div class="col">
                    <div>
                        <div class="insurance" *ngIf="insurances">
                            <fieldset>
                                <legend>{{'INSURANCE_DETAILS'|translate}}</legend>
                                <h5>{{insurances['insurancesCompaniesName']}}</h5>
                                <p>{{'COMPANY_CODE'|translate}}:{{insurances['insurancesCompaniesCode']}}</p>
                                <p>{{'ADDRESS'|translate}}:{{insurances['address']}}</p>
                                <p>{{'OFFICE_CONTACT_NUMBER'|translate}}:{{insurances['officeContactNo']}}</p>
                                <p>{{'CONTACT_PERSON'|translate}}:{{insurances['contactPerson']}}</p>
                                <p>{{'CONTACT_PERSON_NO'|translate}}:{{insurances['contactPersonNo']}}</p>
                                <p>{{'INSURANCE_DATE_FROM'|translate}}:{{insurances['insuranceDateFrom']}}</p>
                                <p>{{'INSURANCE_DATE_TO'|translate}}:{{insurances['insuranceDateTo']}}</p>
                                <p>{{'INSURANCE_AMOUNT'|translate}}:{{insurances['insuranceAmount']}}</p>
                            </fieldset>
                        </div>
                        <div class="info-container">
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>{{'ACCESSORIES_NAME'|translate}}</th>
                                    <th>{{'REMARKS'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="accessoriesDatas">
                                <tr *ngFor="let data of accessoriesDatas">
                                    <td>{{ data['accessoriesName'] }}</td>
                                    <td>{{ data['remarks'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="warranty" *ngIf="warranty">
                            <fieldset>
                                <legend>{{'WARRENTY_DETAILS'|translate}}</legend>
                                <h5>{{warranty['warrantyCompany']}}</h5>
                                <p>{{'ADDRESS'|translate}}:{{warranty['warrantyCompanyAddress']}}</p>
                                <p>{{'CONTACT_PERSON'|translate}}:{{warranty['contactPerson"']}}</p>
                                <p>{{'CONTACT_NO'|translate}}:{{warranty['contactNo']}}</p>
                                <p>{{'WARRENTY_FROM'|translate}}:{{warranty['warrantyFrom']}}</p>
                                <p>{{'WARRENTY_MONTH'|translate}}:{{warranty['warrantyMonth']}}</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </fieldset>
                        </div>
                        <div class="info-container">
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>{{'SPECIFICATION'|translate}}
                                        {{'NAME'|translate}}</th>
                                    <th>{{'REMARKS'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="specificationDatas">
                                <tr *ngFor="let data of specificationDatas">
                                    <td>{{ data['specificationName'] }}</td>
                                    <td>{{ data['remarks'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</jqxWindow>
<jqxWindow #myHistoryWindow [width]="'90%'" [height]="'90%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <app-history-requisition [data]="historyData"></app-history-requisition>
    </div>
</jqxWindow>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
