<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header
          jqx-widget-header-energyblue">
          <h2>खर्च भएर जाने वस्तुको सुची</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm" id="alForm">
            <fieldset class="jqx-widget-header-energyblue">
              <legend>{{'SEARCH_BOX'|translate}}</legend>
              <table class="table-w-tooltip">
                <tr>
                  <td>{{'CATEGORY'|translate}}</td>
                  <td>
                    <select formControlName="reqType"
                      (change)="categoryChange($event)" style="width:
                      100px;" class="select-control selectpicker
                      select-class select-border">
                      <option [selected]="'true'" [disabled]="'true'"
                        value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of cAdapter;let i=index"
                        [value]="data['name']">{{data['id']}}</option>
                    </select>
                  </td>
                  <td>{{'DATE_FROM'|translate}} *
                  </td>
                  <td>
                    <jqxInput #dateFrom formControlName="dateFrom"
                      [placeHolder]="'2075-01-01'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>{{'DATE_TO'|translate}} *
                  </td>
                  <td>
                    <jqxInput formControlName="dateTo"
                      [placeHolder]="'2075-01-30'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>
                    <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                      [disabled]="!alForm.valid"
                      (onClick)="saveBtn(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
            <h2> खर्च भएर जाने वस्तुको सुची
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="pReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="7" style="text-align:center;">
                          <span> खर्च भएर जाने वस्तुको सुची</span>
                        </th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="4">
                          {{'DATE_FROM'|translate}}: {{ alForm.value['dateFrom']
                          | nepaliNumber }}
                        </th>
                        <th colspan="3">
                          {{'DATE_TO'|translate}}: {{ alForm.value['dateTo'] |
                          nepaliNumber }}
                        </th>
                      </tr>
                      <tr>
                        <th>सि.नं.</th>
                        <th>वस्तु</th>
                        <th>वस्तु कोड</th>
                       
                        <th>स्टोरमा भएको परिमाण</th>
                        <th>कैफियत</th>
                        <th class="last-td">कार्य</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['itemCode'] }}</td>
                        
                        <td>{{ data['total'] }}</td>
                        <td>{{ data['remarks'] }}</td>
                        <td class="last-td" (click)="viewItem(alForm.value,data['itemCode'])">
                          <jqxButton>
                            पुरा विवरण
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false"
  [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> Print
      </button>
    </span>
    <div id="printTab" *ngIf="printItemDetails && printOfficialDetails">
      <form [formGroup]="purchasePrintForm">
        <div class="invoice-header">
          <div class="row">
            <div class="col-md-4">
              &nbsp;
            </div>
            <div class="col-md-4">
              <p class="meta-sub">स्थानीय तह </p>
              <p class="meta-sub">{{organizationAdapter[0]?.name}}<br/>{{organizationAdapter[0]['address']}},
                  {{organizationAdapter[0]['district']}}</p>
                <p class="meta-sub"> कार्यालय कोड नं.:
                  {{organizationAdapter[0]?.orgCodeNo}} </p>
                <p class="meta-invoice-title center"
                  style="font-size:12px;text-decoration: underline;text-align:
                  center;">खर्च भएर
                  जाने जिन्सी खाता </p>
              </div>
              <div class="col-md-3">
                <p style="text-align: right;">म.ले.प.फारम नं.: ४०७ </p>
                <p style="text-align: right;">साबिकको फारम नं: ५२ </p>
              </div>
            </div>

            <!-- </div> -->
            <div class="header-row">
              <table width="100%">
                <tr>
                  <td width="50%">
                    <p>जिन्सी समानको नाम : {{printItemDetails?.itemName}}<br/><br>
                        एकाइ: {{printItemDetails?.unit}} <br><br>
                        स्पेसिफिकेसन: {{printItemDetails?.specification}}<br/><br>
                        </p>
                      </td>
                      <td width="50%" style="text-align: right;">
                        <p>आर्थिक बर्ष:{{kharchaHune?.fiscalYear}}</p>
                        <p> जिन्सी संकेत नं: {{printItemDetails?.assetCode}}</p>
                        <p>
                          जिन्सी खाता पाना.नं.:
                          {{printItemDetails?.assetPageNo}} </p>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="header-row">

                </div>

              </div>

              <div class="invoice-container">
                <table class="invoice-table" border="1">
                  <thead>
                    <tr>
                      <th rowspan="2">मिति</th>
                      <th rowspan="2">दाखिला/ निकासा नं.</th>
                      <th colspan="3">स्टोर दाखिला (आम्दानी)</th>
                      <th colspan="3">निकासा (खर्च)</th>
                      <th >बाँकि</th>
                      <th rowspan="2">कैफियत</th>
                    </tr>
                    <tr>
                      <th style="text-align: center">परिमाण</th>
                      <th style="text-align: center">दर</th>
                      <th style="text-align: center">रकम</th>
                      <th style="text-align: center">परिमाण</th>
                      <th style="text-align: center">दर</th>
                      <th style="text-align: center">रकम</th>
                      <th style="text-align: center">परिमाण</th>
                      <!-- <th style="text-align: center">दर</th>
                      <th style="text-align: center">रकम</th> -->
                    </tr>

                  </thead>
                  <tbody>
                    <tr *ngFor = "let data of kharchaHune['data']">
                      <th style="font-size:12px;">{{data['enterDate'] | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{data?.transactionNo | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{data?.inQty | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{data?.inRate | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{data?.inAmount | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{data?.outQty | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{data?.outRate | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{data?.outAmount | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{data?.restQty | nepaliNumber }}</th>
                      <!-- <th style="font-size:12px;">{{printItemDetails?.rate | nepaliNumber }}</th>
                      <th style="font-size:12px;">{{printItemDetails?.storeRemainingTotalAmt | nepaliNumber }}</th> -->
                      <th style="font-size:12px;">{{data?.specification | nepaliNumber }}</th>
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
              </div>

              <div style="border:1px solid black;">
                <br>
                <br>
                <br>
                <div class="invoice-footer">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          स्टोर प्रमुखको दस्तखत:
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          नाम: <span
                            >{{kharchaHune?.enterBy}}</span>
                          <input type="text" class="display-here"
                            formControlName="storeHeadName" placeholder="">
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          दर्जा: <span
                            class="display-print">{{purchasePrintForm.value['storeHeadPost']}}</span>
                          <input type="text" class="display-here"
                            formControlName="storeHeadPost" placeholder="">
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          मिति : <span
                            >{{kharchaHune?.enterDate}}</span>
                          <input type="text" class="display-here"
                            formControlName="storeHeadDate" placeholder="">
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          शाखा प्रमुखको दस्तखत:
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          नाम: <span
                           >{{kharchaHune?.approveBy}}</span>
                          <input type="text" class="display-here"
                            formControlName="divisionHeadName" placeholder="">
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          दर्जा: <span
                            class="display-print">{{purchasePrintForm.value['divisionHeadPost']}}</span>
                          <input type="text" class="display-here"
                            formControlName="divisionHeadPost" placeholder="">
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          मिति : <span
                            >{{kharchaHune?.approveDate}}</span>
                          <input type="text" class="display-here"
                            formControlName="divisionHeadDate" placeholder="">
                        </p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          कार्यालय प्रमुखको
                          दस्तखत:{{printOfficialDetails[0]?.checkBy}}
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          नाम: <span
                            >{{kharchaHune?.finalApproveBy}}</span>
                          <input type="text" class="display-here"
                            formControlName="orgHeadName" placeholder="">
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          दर्जा: <span
                            class="display-print">{{purchasePrintForm.value['orgHeadPost']}}</span>
                          <input type="text" class="display-here"
                            formControlName="orgHeadPost" placeholder="">
                        </p>
                        <p style="font-size:12px;"
                          class="invoice-footer-field">
                          मिति : <span
                            >{{kharchaHune?.finalApproveDate}}</span>
                          <input type="text" class="display-here"
                            formControlName="orgHeadDate"
                            placeholder="">
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <hr>
                <b>उदेश्य</b>
                <hr>
                <p>
                  कार्यालय संचालनका लागि दैनिक प्रयोगमा आई खर्च भएर जाने
                  समानहरुको उचित ढंगले अभिलेख राखी व्यस्थापन गर्न र तेसको प्रयोग
                  नियन्त्रणका लागि यो फारम तर्जुमा गरिएको छ l
                </p>
              </div>
            </form>
          </div>
        </div>
      </jqxWindow>

      <jqxNotification #msgNotification [width]="250"
        [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
        [autoClose]="true"
        [animationOpenDelay]="800" [autoCloseDelay]="3000"
        [template]="'success'">
        <div id='message'></div>
      </jqxNotification>
      <jqxNotification #errNotification [width]="250"
        [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
        [autoClose]="true"
        [animationOpenDelay]="800" [autoCloseDelay]="3000"
        [template]="'error'">
        <div id='error'></div>
      </jqxNotification>
      <jqxLoader #jqxLoader [imagePosition]="'top'"
        [theme]="'energyblue'"
        [width]="100" [height]="60">
      </jqxLoader>
