<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header
          jqx-widget-header-energyblue">
          <h2>मर्मत सम्भार तथा संरक्षण रिपोर्ट</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm" id="alForm">
            <fieldset class="jqx-widget-header-energyblue">
              <legend>{{'SEARCH_BOX'|translate}}</legend>
              <table class="table-w-tooltip">
                <tr>
                  <td>{{'DATE_FROM'|translate}} *
                  </td>
                  <td>
                    <jqxInput #dateFrom formControlName="dateFrom"
                      [placeHolder]="'2075-01-01'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>{{'DATE_TO'|translate}} *
                  </td>
                  <td>
                    <jqxInput formControlName="dateTo"
                      [placeHolder]="'2075-01-30'" [width]="100" [height]="25"></jqxInput>
                  </td>
                  <td>
                    <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                      [disabled]="!alForm.valid"
                      (onClick)="saveBtn(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
            <h2> मर्मत सम्भार तथा संरक्षण रिपोर्ट
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="pReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="8" style="text-align:center;">
                          <span> मर्मत सम्भार तथा संरक्षण रिपोर्ट</span>
                        </th>
                      </tr>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="4">
                          {{'DATE_FROM'|translate}}: {{ alForm.value['dateFrom']
                          | nepaliNumber }}
                        </th>
                        <th colspan="4">
                          {{'DATE_TO'|translate}}: {{ alForm.value['dateTo'] |
                          nepaliNumber }}
                        </th>
                      </tr>
                      <tr>
                        <th>मिति</th>
                        <th>मर्मत आवेदन फारम नं.</th>
                        <th>वस्तु</th>
                        <th>आवेदन कर्ताको नाम</th>
                        <th>मर्मत संभार गर्ने व्यक्ति वा फर्मको विवरण</th>
                        <th>मर्मत संभारको निरीक्षण/प्रमाणित गर्नेको
                          नाम र सही</th>
                        <th>कैफियत</th>
                        <th class="last-td">कार्य</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data['repairDate'] | nepaliNumber }}</td>
                        <td>{{ data['assetPageNo'] }}</td>
                        <td>{{ data['itemCode']['itemNameNepali'] }}</td>
                        <td>{{ data['repairRequestBy'] }}</td>
                        <td>{{ data['supplier']['organizationNameNepali']}}</td>
                        <td>{{ data['approvedByName']}}</td>
                        <td>{{ data['remarks'] }}</td>
                        <td class="last-td" (click)="viewItem(data)">
                          <jqxButton>
                            पुरा विवरण
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false"
  [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> Print
      </button>
    </span>
    <div id="printTab" *ngIf="printItemDetails && printOfficialDetails">
      <form [formGroup]="purchasePrintForm">
        <div class="invoice-header">
          <div class="row">
            <div class="col-md-4">
              &nbsp;
            </div>
            <div class="col-md-4">
              <p class="meta-sub">स्थानीय तह </p>
              <p class="meta-sub">{{organizationAdapter[0]?.name}}<br/>{{organizationAdapter[0]['address']}},
                  {{organizationAdapter[0]['district']}}</p>
                <p class="meta-sub"> कार्यालय कोड नं.:
                  {{organizationAdapter[0]?.orgCodeNo}} </p>
                <p class="meta-invoice-title center"
                  style="font-size:12px;text-decoration: underline;text-align:
                  center;">मर्मत
                  सम्भार तथा संरक्षण आवेदन फारम</p>
                <p class="meta-invoice-title center"
                  style="font-size:12px;text-decoration: underline;text-align:
                  center;">आ.व....साल
                  ....महिना</p>
              </div>
              <div class="col-md-3">
                <p style="text-align: right;">म.ले.प.फारम नं.: ४१५ </p>
              </div>
            </div>

            <!-- </div> -->
            <!-- <div class="header-row">
              <table width="100%">
                <tr>
                  <td width="50%">
                    <p>जिन्सी समानको नाम : {{printItemDetails?.itemName}}<br/>
                        स्पेसिफिकेसन: {{printItemDetails?.specification}}<br/>
                          सामानको पहिचान नं. : <span
                            class="display-print">
                            {{purchasePrintForm.value['itemNumber']}}</span>
                          <input type="text" class="display-here"
                            formControlName="itemNumber"><br/>
                            मोडल नं.:{{purchasePrintForm.value['modalNo']}}
                          </p>
                        </td>
                        <td width="50%" style="text-align: right;">
                          <p>पाना नं. :</p>
                          <p> जिन्सी संकेत नं: {{printItemDetails?.assetCode}}</p>
                          <p>
                            जिन्सी खाता पाना.नं.:
                            {{printItemDetails?.assetPageNo}} </p>
                          <p>
                            समानको परल मूल्य:
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div> -->

                  
            <div class="header-row" style="margin-right: 50px;">
              <table width="100%">
                <tr>
                  <td width="50%" style="text-align: right;">
                    <p>मर्मत आवेदन फारम नं : </p>
                    <p>मिति : {{todayDate | nepaliNumber }}</p>
                  </td>
                </tr>
              </table>
            </div>

                  <div class="header-row">

                  </div>

                </div>

                <div class="invoice-container">
                  <p>मर्मत आवेदनकर्ताले भर्ने</p>
                  <table class="invoice-table" border="1">
                    <thead>
                      <tr>
                        <!-- <th>क्र.सं</th> -->
                        <th>सामानको विवरण</th>
                        <th>सामान पाहिचान नं</th>
                        <th>अनुमानित मर्मत लागत</th>
                        <th>मर्मत गर्नुपर्ने कारण</th>
                        <th>मर्मत आवेदनकर्ताको नाम र सही</th>
                        <th>कैफियत</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td style="font-size:12px;">१</td>
                        <td style="font-size:12px;">२</td>
                        <td style="font-size:12px;">३</td>
                        <td style="font-size:12px;">४</td>
                        <td style="font-size:12px;">५</td>
                        <td style="font-size:12px;">६</td>
                        <!-- <td style="font-size:12px;">७</td> -->
                      </tr>
                      <tr>
                        <!-- <td style="font-size:12px;">{{printItemDetails?.id}}</td> -->
                        <td style="font-size:12px;">{{printItemDetails?.assetPageNo}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.itemIdentification}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.repairExpenses}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.repairReason}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.repairRequestBy}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.remarks}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
                  <hr>
                </div>
                
                <div class="invoice-container">
                  <p>स्टिरकिपर/फाँटँवालाले भर्ने</p>
                  <table class="invoice-table" border="1">
                    <thead>
                      <tr>
                        <th>जिन्सी संकेत नं</th>
                        <th>वारेन्टि अवधि भए्/नभएको</th>
                        <th>अगाडी मर्मत गरिएको पटकः</th>
                        <th>यस अघि मर्मत गरिएको मिति</th>
                        <th>अगाडी मर्मत गरिएको रकम</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td style="font-size:12px;">{{printItemDetails?.sn}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.ifWarranty}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.noOfRepairs}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.previousRepairDate}}</td>
                        <td style="font-size:12px;">{{printItemDetails?.previousRepairCost}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
                  <hr>
                </div>

                <div class="container" style="margin-left: 50px;">
                  श्री: {{printItemDetails['supplier']['organizationNameNepali']}}
                  <br>
                  मर्मत आदेश दिइएको व्यक्ति/निकायको नाम: {{printItemDetails['supplier']['contactPersonNepali']}}
                  <br>
                  ठेगाना : {{printItemDetails['supplier']['address']}}
                  <br>
                  फोन नं: {{printItemDetails['supplier']['contactNo'] | nepaliNumber }}
                  <br>
                  संस्थाको दर्ता नं: {{printItemDetails['supplier']['regNo'] | nepaliNumber}}
                  <br>
                  प्यान नं : {{printItemDetails['supplier']['panNo'] | nepaliNumber}}
                  <br><br>

                  माथि उल्लेखित सामानको मर्मत गरी मिति {{todayDate | nepaliNumber}} भित्र {{organizationAdapter['0']['name']}} 
                  कार्यालय {{organizationAdapter['0']['address']}} स्थानमा बिल / इन्भाइससहित बुझाउनुहोला ।
                </div>
          
                    <div class="row" style="padding-left: 50px; text-align: center;">
                      <div class="col-md-3">
                        <br> <br> <br> <br> <br>
          
          
                        सिफारिस गर्ने शाखा प्रमुखको सही <br>
                        नाम : {{printItemDetails?.requestHeadBy}} <br>
                        दर्जा : <br>
                        मिति : {{todayDate | nepaliNumber}} <br>
                      </div>
                      <div class="col-md-4">
                        <br> <br> <br> <br> <br>
          
                        सिफारिस गर्ने प्राविधिकको सही <br>
                        नाम : {{printItemDetails?.requestBy}} <br>
                        दर्जा : <br>
                        मिति : {{todayDate | nepaliNumber}} <br>
                      </div>
                      <div class="col-md-3">
                        <br> <br> <br> <br> <br>
          
                        स्वीकृत गर्ने कार्यालय प्रमुखको सही <br>
                        नाम : {{printItemDetails?.approvedByName}} <br>
                        दर्जा : <br>
                        मिति : {{todayDate | nepaliNumber}} <br>
                      </div>
                    </div>

              </form>
            </div>
          </div>
        </jqxWindow>

        <jqxNotification #msgNotification [width]="250"
          [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
          [autoClose]="true"
          [animationOpenDelay]="800" [autoCloseDelay]="3000"
          [template]="'success'">
          <div id='message'></div>
        </jqxNotification>
        <jqxNotification #errNotification [width]="250"
          [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
          [autoClose]="true"
          [animationOpenDelay]="800" [autoCloseDelay]="3000"
          [template]="'error'">
          <div id='error'></div>
        </jqxNotification>
        <jqxLoader #jqxLoader [imagePosition]="'top'"
          [theme]="'energyblue'"
          [width]="100" [height]="60">
        </jqxLoader>