<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2>{{'CHANGE_PASSWORD' | translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <div class="row justify-content-center">
            <div class="col-md-4" style="padding-bottom: 30px;">
              <form name="cpForm" [formGroup]="cpForm">
                <fieldset>
                  <legend>{{'PASSWORD' | translate}}</legend>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label>{{'OLD_PASSWORD' | translate}}</label>
                        <jqxPasswordInput #password class="password" [height]="23" [width]="400" formControlName="oldPass"></jqxPasswordInput>
                        <!-- <input type="password" formControlName="oldPass" class="px-control"> -->
                        <small [hidden]="cpForm.controls.oldPass.valid || !cpForm.controls.oldPass.touched" class="form-control-feedback text-danger px-control-error">
                            * {{'REQUIRED' | translate}}
                        </small>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label>{{'NEW_PASSWORD' | translate}} *</label>
                        <jqxPasswordInput #password class="password" [height]="23" [width]="400" formControlName="newPass"></jqxPasswordInput>
                        <!-- <input type="password" formControlName="newPass" class="px-control"> -->
                        <small [hidden]="cpForm.controls.newPass.valid || !cpForm.controls.newPass.touched" class="form-control-feedback text-danger px-control-error">
                            * {{'REQUIRED' | translate}} - {{'MIN_4_CHAR' | translate}}
                        </small>
                      </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                          <label>{{'CON_PASSWORD' | translate}} *</label>
                          <jqxPasswordInput #password class="password" [height]="23" [width]="400" formControlName="newPassConfirm"></jqxPasswordInput>
                          <!-- <input type="password" formControlName="newPassConfirm" class="px-control"> -->
                          <small [hidden]="!cpForm.controls.newPassConfirm.errors?.MatchFields" class="form-control-feedback text-danger px-control-error">
                              {{'PASSWORD_MISMATCH' | translate}}
                          </small>
                        </div>
                      </div>
                    <div class="col-12">
                      <div class="form-group">
                        <jqxButton [theme]="'energyblue'" [disabled]="!cpForm.valid" [width]="150" (onClick)="save(cpForm.value)">
                          {{'CHANGE_PASSWORD' | translate}}
                        </jqxButton>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="rs-grid-panel bg-white">
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>