#printTab {
  width: 800px;
  margin: 0 auto;
  .clearfix {
    clear: both;
  }

  hr {
    margin: 7px 0;
  }

  .d-block {
    display: block;
    width: 100%;
  }
  .d-inline {
    display: inline-block !important;
  }

  .d-block p {
    padding-top: 5px;
  }

  .m-t-20 {
    margin-top: 20px;
  }

  .w-30 {
    width: 30%;
  }

  .w-33 {
    width: 32.5%;
  }

  .invoice-header {
    margin-top: 20px;
    /* text-align: center; */
  }
  .invoice-header .meta-sub {
    font-size: 12px;
    text-align: center;
  }

  .invoice-header .meta-header-1 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .invoice-header .meta-header,
  .invoice-header .meta-info {
    margin-top: 10px;
    display: block;
  }

  .invoice-header .meta-header div,
  .invoice-header .meta-info div {
    display: inline-block;
    width: 60%;
  }

  .invoice-header .meta-header div:first-child,
  .invoice-header .meta-info div:first-child {
    display: inline-block;
    width: 37%;
  }

  .invoice-header .meta-header div:first-child p,
  .invoice-header .meta-info div:first-child p {
    font-size: 12px;
  }

  .header-row {
    display: block;
  }
  .header-row-col-1 {
    display: inline-block;
    width: 24%;
  }
  .header-row-col-2 {
    display: inline-block;
    width: 50%;
    vertical-align: sub;
  }
  .header-row-col-3 {
    display: inline-block;
    width: 24%;
  }

  .invoice-header .meta-info {
    margin-top: 5px;
    font-size: 16px;
  }

  .invoice-header .meta-invoice-title {
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    /* padding-left: 9%; */
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .invoice-title-p {
    font-weight: 300;
    text-align: left;
    padding-top: 15px;
  }

  table.invoice-table {
    border-collapse: collapse;
    width: 100%;
  }

  table.invoice-table,
  .invoice-table th,
  .invoice-table td {
    border: 1px solid black;
    padding: 2px 4px;
  }

  .invoice-table th {
    font-size: 14px;
  }

  .invoice-footer-info {
    font-size: 14px;
    margin-top: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    line-height: 24px;
  }

  .invoice-footer {
    display: block;
    padding-top: 30px;
    margin-bottom: 15px;
  }

  .invoice-footer .invoice-footer-col {
    display: inline-block;
    width: 65%;
  }

  .invoice-footer-signature div:nth-child(2) {
    margin-top: 4px;
  }

  .check-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    vertical-align: bottom;
  }

  .f-left {
    float: left !important;
  }

  .f-right {
    float: right !important;
  }

  .w-35 {
    width: 35% !important;
  }
}
.display-here {
  display: initial;
  border: 0;
  border-bottom: 2px dotted;
}
.display-print {
    font: 22px/1.4 Georgia, serif !important;
  display: none;
}
