<div class="container-fluid tfm-panel">
    <div class="row">
        <div class="col-md-12 tfm-panel-right">
            <div class="tfm-panel-container">
                <div class="tfm-panel-header jqx-widget-header jqx-window-header
          jqx-widget-header-energyblue">
                    <h2>{{'PURCHASE_ORDER_REPORT'|translate}}</h2>
                </div>
                <div class="bg-white p-1">
                    <form name="alForm" [formGroup]="alForm" id="alForm">
                        <fieldset class="jqx-widget-header-energyblue">
                            <legend>{{'SEARCH_BOX'|translate}}</legend>
                            <table class="table-w-tooltip">
                                <tr>
                                    <td *ngIf="this.municipal == true">{{'REQUEST_FOR'|translate}}</td>
                                    <td *ngIf="this.municipal == true">
                                        <select formControlName="reqFor" (change)="categoryChange($event)"
                                            style="width: 100px;" class="select-control selectpicker select-class
                          select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">
                                                {{ data.id }}</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showWard">{{'WARD'|translate}}</td>
                                    <td *ngIf="showWard">
                                        <select formControlName="ward" style="width: 100px;" class="select-control selectpicker select-class
                          select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>
                                                {{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">
                                                {{ data['name'] }}</option>
                                        </select>
                                    </td>
                                    <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                                    <td *ngIf="showDivision">
                                        <select formControlName="division" style="width: 100px;" class="select-control selectpicker select-class
                          select-border">
                                            <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let data of divisionAdapter;let i=index"
                                                [value]="data['id']">{{
                            data['nameNepali'] }}</option>
                                        </select>
                                    </td>
                                    <td>{{'DATE_FROM'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'"
                                            [width]="100" [height]="25"></jqxInput>
                                    </td>
                                    <td>{{'DATE_TO'|translate}} *
                                    </td>
                                    <td>
                                        <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="100"
                                            [height]="25">
                                        </jqxInput>
                                    </td>
                                    <td>
                                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                                            [disabled]="!alForm.valid" (onClick)="saveBtn(alForm.value)">
                                            {{'SEARCH'|translate}}
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div>
                <div class="rs-grid-panel bg-white">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header
            jqx-widget-header-energyblue">
                        <h2> {{'PURCHASE_ORDER'|translate}}
                            <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                                <button (click)="pReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                                </button>
                            </span>
                            <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                                    <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                                </button>
                                &nbsp; &nbsp;
                            </span>
                        </h2>
                    </div>
                    <div class="scroll-container" style="margin: 10px;">
                        <div class="row justify-content-md-center">
                            <div class="col-12">
                                <div id="reportContainer">
                                    <div class="info-container">
                                    </div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr *ngIf="reportDatas.length>0">
                                                <th colspan="10" style="text-align:center;">
                                                    <span> {{'PURCHASE_ORDER_REPORT'|translate}}</span>
                                                </th>
                                            </tr>
                                            <tr *ngIf="reportDatas.length>0">
                                                <th colspan="4">
                                                    {{'DATE_FROM'|translate}}: {{ alForm.value['dateFrom']
                          | nepaliNumber }}
                                                </th>
                                                <th colspan="6">
                                                    {{'DATE_TO'|translate}}: {{ alForm.value['dateTo'] |
                          nepaliNumber }}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>{{'ORDER_DATE'| translate }}</th>
                                                <th>{{'ORDER_NO'|translate}}</th>
                                                <th>{{'FINANCIAL_YEAR'|translate}}</th>
                                                <th>{{'SUPPLEIR'|translate}}</th>
                                                <th>{{'ENTER_BY'|translate}}</th>
                                                <th>{{'WITHIN_DATE'|translate}}</th>
                                                <th>{{'ORDER_TYPE'|translate}}</th>
                                                <th>कार्यालय
                                                </th>
                                                <!-- <th>{{'REMARKS'|translate}}</th> -->
                                                <th class="last-td">{{'ACTIONS'|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="reportDatas">
                                            <tr *ngFor="let data of reportDatas">
                                                <td>{{ data['enterDateNepali'] | nepaliNumber }}</td>
                                                <td>{{ data['orderNo'] | nepaliNumber }}</td>
                                                <td>{{ data['fiscalYear'] }}</td>
                                                <td>{{ data['supplier'] }}</td>
                                                <td>{{ data['enterBy'] }}</td>
                                                <td>{{ data['withinDate'] | nepaliNumber }}</td>
                                                <td>{{ data['orderType'] }}</td>
                                                <td>
                                                    <span *ngIf="data['orderFor'] == 'Municipal'">नगरपालिका </span>
                                                    <span *ngIf="data['orderFor'] == 'Ward'">वडा </span>
                                                    <span *ngIf="data['orderFor'] == 'Division'">शाखा </span>
                                                </td>
                                                <!-- <td>{{ data['narration'] }}</td> -->
                                                <td class="last-td" (click)="viewItem(data)">
                                                    <jqxButton>
                                                        {{'DETAIL_VIEW'|translate}}
                                                    </jqxButton>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false"
    [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        <span *ngIf="reportDatas && reportDatas[0]">
            <button (click)="printDetailReport()" class="btn btn-sm btn-primary">
                <i class="fa fa-print fa-fw"></i> Print
            </button>
        </span>
        <div id="print4" *ngIf="printItemDetails && printOfficialDetails">
            <form [formGroup]="purchasePrintForm">
                <div class="invoice-header">
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <p class="meta-sub" style="font-weight: 700;font-size: 16px">स्थानीय
                                तह </p>
                            <p class="meta-sub" style="font-weight: 650;font-size: 18px">
                                {{organizationAdapter[0]?.name}}
                                <p class="meta-sub" style="font-weight: 650;font-size: 12px">कार्यालय
                                    कोड नं.:
                                    {{organizationAdapter[0]?.orgCodeNo | nepaliNumber}}
                                    <!-- <span class="display-print">{{purchasePrintForm.value['orgCodeNo'] | nepaliNumber }</span> -->
                                </p>
                                <p class="meta-sub" style="text-align:
                  center;font-size:12px;text-decoration: underline;">खरिद आदेश</p>
                        </div>
                        <div class="col-md-3">
                            <p style="text-align: right;">म.ले.प.फारम नं.: ४०२ </p>
                            <p style="text-align: right;">साबिकको फारम नं.: ४५ </p>
                        </div>
                    </div>
                    <div class="header-row" *ngIf="printOfficialDetails &&
              printOfficialDetails[0]">
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    <p>श्री : {{
                      organizationDetails[0]?.orderNo.supplier.organizationNameNepali
                      }}<br />
                                        आदेश गरिएको ब्यक्ति/ निकायको नाम:<br />
                                        ठेगाना : {{
                      organizationDetails[0]?.orderNo.supplier.address }}<br />
                                        संस्था दर्ता नं.: {{
                      organizationDetails[0]?.orderNo.supplier.regNo |
                      nepaliNumber }}
                                    </p>
                                </td>
                                <td width="25%" style="text-align: left;">
                                    <p>फोन नं.:{{
                      organizationDetails[0]?.orderNo.supplier.contactNo |
                      nepaliNumber }}</p>
                                    <p>पान नं:{{
                      organizationDetails[0]?.orderNo.supplier.panNo |
                      nepaliNumber }}</p>
                                </td>
                                <td width="25%" style="text-align: right;">
                                    <p>खरिद आदेश नं. : {{ selectedOrderNo | nepaliNumber
                      }}
                                    </p>
                                    <p> खरिद आदेश मिति: {{nDate | nepaliNumber}}
                                        <!-- <input type="text" class="display-here"
                        formControlName="enterDate" placeholder=""> -->
                                    </p>
                                    <p>
                                        खरिद सम्बन्धि निर्णय नं.: <span class="display-print">
                                            {{purchasePrintForm.value['purchaseDecisionNo'] |
                        nepaliNumber}}</span>
                                        <input type="text" class="display-here" formControlName="purchaseDecisionNo">
                                    </p>
                                    <p>
                                        निर्णय मिति : <span class="display-print">{{purchasePrintForm.value['decisionDate']
                        | nepaliNumber}}</span>
                                        <input type="text" class="display-here" formControlName="decisionDate"
                                            placeholder="">
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="header-row">

                    </div>

                </div>

                <div class="invoice-container">
                    <table class="invoice-table">
                        <thead>
                            <tr style="text-align: center">
                                <th style="font-size:12px;" rowspan="2">क्र.सं</th>
                                <th style="font-size:12px;" colspan="5">सामानको</th>
                                <th style="font-size:12px;" colspan="2">मूल्य</th>
                                <th style="font-size:12px;" rowspan="2">कैफियत</th>
                            <tr style="text-align: center">
                                <th style="font-size:12px;">जिन्सी वर्गीकरण संकेत नं.</th>
                                <th style="font-size:12px;">नाम </th>
                                <th style="font-size:12px;">स्पेसिफिकेसन</th>
                                <th style="font-size:12px;">एकाई</th>
                                <th style="font-size:12px;">परिमाण</th>
                                <th style="font-size:12px;">दर</th>
                                <th style="font-size:12px;">जम्मा</th>
                            </tr>
                            <tr style="text-align: center">
                                <th style="font-size:12px;">१</th>
                                <th style="font-size:12px;">२</th>
                                <th style="font-size:12px;">३</th>
                                <th style="font-size:12px;">४</th>
                                <th style="font-size:12px;">५</th>
                                <th style="font-size:12px;">६</th>
                                <th style="font-size:12px;">७</th>
                                <th style="font-size:12px;">८</th>
                                <th style="font-size:12px;">९</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="printItemDetails">
                            <tr *ngFor="let data of printItemDetails;let
                    i=index;">
                                <td style="font-size:12px;">{{i+1 |
                      nepaliNumber}}</td>
                                <td style="font-size:12px;">{{data['itemCode'].assetCode |
                      nepaliNumber}}</td>
                                <td style="font-size:12px;">{{data['itemCode'].itemNameNepali
                      | nepaliNumber}}</td>
                                <td style="font-size:12px;">{{data['specification']}}</td>
                                <td style="font-size:12px;">{{data['unit'] | nepaliNumber }}</td>
                                <td style="font-size:12px;">{{data['orderQty'] |
                      nepaliNumber }}</td>
                                <td style="font-size:12px;">{{data['rate'] |
                      nepaliNumber }}</td>
                                <td style="font-size:12px;">{{data['total'] |
                      nepaliNumber }}</td>
                                <td style="font-size:12px;">{{data['itemCode'].remarks}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><b>जम्मा रकम</b> </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>{{subTotal | nepaliNumber }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><b>मु.अ.कर (१३%)</b> </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;{{totalVat | nepaliNumber}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><b>कुल जम्मा रकम:</b> </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;{{(showData?.vat + subTotal) | nepaliNumber }}</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="invoice-foot">
                    <br>
                    <p>माथि उल्लिखित सामान
                        मिति : <span class="display-print">
                            {{purchasePrintForm.value['withinDate'] | nepaliNumber }}</span>
                        <input type="text" class="display-here" formControlName="withinDate"> भित्र <span
                            class="display-print">
                            {{purchasePrintForm.value['orgName']}}</span>
                        <input type="text" class="display-here" formControlName="orgName"> कार्यालय <span
                            class="display-print">
                            {{purchasePrintForm.value['orgAddress']}}</span>
                        <input type="text" class="display-here" formControlName="orgAddress"> स्थानमा दाखिला गरी बिल
                        l
                        इन्भाइस गर्नुहोला । </p>
                </div>
                <div style="border:1px solid black;">
                    <p>उपर्यूक्त अनुसार खरिद आदेश तयार गर्ने, सिफारिस गर्ने र
                        स्वीकृत गर्ने:</p>

                    <div class="invoice-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        फाँटवालाको दस्तखत
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        नाम: <span class="display-print">{{purchasePrintForm.value['enterBy']}}</span>
                                        <input type="text" class="display-here" formControlName="enterBy"
                                            placeholder="">
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        मिति : <span class="display-print">{{purchasePrintForm.value['enterDate']
                          | nepaliNumber }}</span>
                                        <input type="text" class="display-here" formControlName="enterDate"
                                            placeholder="">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        शाखा प्रमुखको दस्तखत
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        नाम: {{organizationAdapter[0]?.divisionHeadName}}
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        मिति : <span class="display-print">{{purchasePrintForm.value['checkDate']
                          | nepaliNumber }}</span>
                                        <input type="text" class="display-here" formControlName="checkDate"
                                            placeholder="">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        कार्यालय प्रमुखको दस्तखत
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        नाम: {{organizationAdapter[0]?.chiefName}}
                                    </p>
                                    <p style="font-size:12px;" class="invoice-footer-field">
                                        मिति : <span class="display-print">{{purchasePrintForm.value['finalApproveDate']
                          | nepaliNumber }}</span>
                                        <input type="text" class="display-here" formControlName="finalApproveDate"
                                            placeholder="">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-block">
                    <p style="font-size:12px;">माथि उल्लिखित सामानहरु
                        मिति
                        {{purchasePrintForm.value['withinDate'] | nepaliNumber }} भित्र
                        <span class="display-print">
                            {{purchasePrintForm.value['orgName']}}</span>
                        <input type="text" class="display-here" formControlName="orgName">
                        कार्यालयमा
                        बुझाउने छु भनी सहिछाप गर्ने</p>
                    <div class="d-block m-t-20">
                        <div class="d-inline w-33 text-center">
                            <p style="font-size:12px;">फर्मको नाम:
                                ............................</p>
                        </div>
                        <div class="d-inline w-33 text-center">
                            <p style="font-size:12px;">दस्तखत:
                                ...............................</p>
                        </div>
                        <div class="d-inline w-33 text-center">
                            <p style="font-size:12px;">मिति:
                                .................................</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</jqxWindow>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
