<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="itemForm" [formGroup]="itemForm">
        <fieldset>
          <legend>{{'ITEM_CHART'|translate}}</legend>
          <!-- <input type="text" name="id" formControlName="id" hidden> -->
          <div class="row">
            <div class="col">
              <div class="grid-box-container">
                <jqxExpander [width]="'99%'" [height]="'100%'"
                  [showArrow]="false" [toggleMode]="'none'"
                  [theme]="'energyblue'">
                  <div>{{'ITEM_CHART'|translate}}
                    <div style="margin-top: 10px">
                      <button style="padding:5px;" (click)="RemoveOnClick()"
                        type='button' class="jqx-rc-all jqx-rc-all-energyblue
                        jqx-button jqx-button-energyblue jqx-widget
                        jqx-widget-energyblue jqx-fill-state-normal
                        jqx-fill-state-normal-energyblue">
                        {{'DELETE'| translate}}</button>
                    </div>
                  </div>
                  <div>
                    <jqxTreeGrid #groupTreeGrid [width]="'99.6%'"
                      [height]="'99.4%'" (onRowSelect)="treeRowSelect($event)"
                      [source]="treeDataAdapter" class="grid-class"
                      [pageable]="false" [filterMode]="'simple'"
                      [filterable]="true" [columns]="treeColumns"
                      [selectionMode]="'singleRow'" [icons]="true"
                      [theme]="'energyblue'">
                    </jqxTreeGrid>
                  </div>
                </jqxExpander>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <span *ngIf="selectedItem"> {{'SELECTED_ITEM'|translate}} :
                      <strong> {{ selectedItem }}</strong> &nbsp; &nbsp; &nbsp;
                      &nbsp; &nbsp; &nbsp;
                      <button style="padding:5px;" (click)="clearSelection()"
                        type='button' class="jqx-rc-all jqx-rc-all-energyblue
                        jqx-button jqx-button-energyblue jqx-widget
                        jqx-widget-energyblue jqx-fill-state-normal
                        jqx-fill-state-normal-energyblue">
                        {{'CLEAR'|translate}}</button>
                    </span>
                    <strong *ngIf="!selectedItem"> {{'SELECT_ITEM'|translate}}
                    </strong>
                  </div>
                </div>
                <div class="w-100"></div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>वस्तुकाे नाम ({{'ENGLISH'|translate}})&nbsp;<span>*</span></label>
                    <jqxInput [width]="200" [height]="25"
                      formControlName="itemName" [minLength]="3"
                      [placeHolder]="'ITEM_NAME'|translate"
                      [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>वस्तुकाे नाम ({{'NEPALI'|translate}})&nbsp;<span>*</span></label>
                    <nepali-input #ref [width]="200" [height]="25"
                      formControlName="itemNameNepali"
                      [placeHolder]="'ITEM_NAME'|translate"
                      [inputClass]="'px-control'">
                    </nepali-input>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>जिन्सी वर्गीकरण संकेत नं&nbsp;</label>
                    <jqxInput [width]="200" [height]="25"
                      formControlName="assetCode" [minLength]="3"
                      [placeHolder]="''"
                      [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>जिन्सी खाता पाना.नं&nbsp;</label>
                    <jqxInput [width]="200" [height]="25"
                      formControlName="assetPageNo" [minLength]="3"
                      [placeHolder]="'जिन्सी खाता पाना.नं'"
                      [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>इकाई&nbsp;<span>*</span></label>
                    <select name="unit" formControlName="unit"
                      class="selectpicker select-class select-border">
                      <option *ngFor='let unit of unitAdapter'
                        [value]="unit.unitNepali">{{unit.unitNepali}}</option>
                    </select>
                  </div>
                </div>
                <input formControlName="itemCode" name="itemCode"
                  class="px-control" placeholder="Enter Code" hidden>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="">&nbsp;</label>
                    <!-- <jqxButton *ngIf="!update && selectedItem && tItem=='0'"
                      style="margin-right: 5px;" [theme]="'energyblue'"
                      [disabled]="!itemForm.valid"
                      (onClick)="save(itemForm.value)">
                      {{'SAVE'|translate}}
                    </jqxButton> -->
                    <jqxButton *ngIf="!update && selectedItem"
                      style="margin-right: 5px;" [theme]="'energyblue'"
                      [disabled]="!itemForm.valid"
                      (onClick)="save(itemForm.value)">
                      {{'SAVE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="update" style="margin-right: 5px;"
                      [theme]="'energyblue'" [disabled]="!itemForm.valid"
                      (onClick)="updateBtn(itemForm.value)">
                      {{'UPDATE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="update" style="margin-right: 5px;"
                      [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                      <i class="fa fa-times"></i>
                    </jqxButton>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <jqxGrid #activityAreaFocusGroupGrid [width]="'100%'"
                    [source]="gridDataAdapter" [columns]="gridColumns"
                    [pageable]="false" [height]="360" class="grid-class"
                    [autorowheight]="false" [theme]="'energyblue'"
                    [selectionmode]="'checkbox'"
                    (onRowselect)="rowChange($event)"
                    (onRowunselect)="rowUnChange($event)"
                    [showtoolbar]="true" [rendertoolbar]="gridRenderToolbar"
                    [keyboardnavigation]="true">
                  </jqxGrid>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>
