<div class="container-fluid tfm-panel">
    <form name="approveReqForm" [formGroup]="approveReqForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> {{'APPROVE_ISSUE'|translate}}</h2>
                    </div>

                    <div class="box-container grid-box-container">
                        <div class="submit-form" style="margin: 5px;">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label>{{'CATEGORY'|translate}}</label>
                                    <select formControlName="reqType" style="width: 100px;" class="select-control selectpicker select-class select-border">
                                        <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                                        <option *ngFor="let data of cAdapter;let i=index" [value]="data['value']">{{ data['name'] }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label> &nbsp; </label>
                                    <jqxButton [theme]="'energyblue'" [width]="140" (onClick)="Search(approveReqForm.value['reqType'])">
                                            {{'SEARCH'|translate}}
                                    </jqxButton>
                                </div>
                            </div>
                        </div>

                        <jqxGrid #groupGrid [width]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns"
                            [pageable]="false" [height]="'480'" [autorowheight]="false" [theme]="'energyblue'"
                            [selectionmode]="'checkbox'" [showtoolbar]="true" [rendertoolbar]="gridRenderToolbar"
                            [keyboardnavigation]="true">
                        </jqxGrid>

                        <div class="submit-form" style="margin: 5px;">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label> {{'APPROVE_DATE'|translate}} </label>
                                    <jqxInput class="approveDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-dd'"
                                        [height]="23" [width]="170" formControlName="approveDate"></jqxInput>
                                </div>
                                <div class="form-group text-right" style="margin-right:5px;">
                                    <label class="">&nbsp;</label>
                                    <jqxButton [theme]="'energyblue'" [disabled]="!approveReqForm.valid" [width]="140"
                                        (onClick)="approve(approveReqForm.value)">
                                        <i class="fa fa-check" style="color: #5eba7d;" aria-hidden="true"></i> {{'APPROVE'|translate}}
                                    </jqxButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<jqxWindow #myWindow [width]="1000" [height]="'90%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        This is your window content!!
    </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>