<div class="container-fluid tfm-panel">
  <form name="sForm" [formGroup]="sForm">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'SUPERVISION'|translate}} </h2>
          </div>
          <div class="bg-white p-1">
            <form name="searchForm" [formGroup]="searchForm">
              <fieldset>
                <legend>{{'SUPERVISION_SEARCH'|translate}}</legend>
                <table>
                  <tr>
                    <td>{{ 'FISCAL_YEAR' | translate}}*</td>
                    <td>
                      <select formControlName="fiscalYear" style="width:140px" class="select-control selectpicker select-class select-border">
                        <option [selected]="true" value=''>{{'CHOOSE_FISCAL' | translate}}</option>
                        <option *ngFor="let fy of fiscalYearAdapter" [value]="fy['fySymbol']">{{fy['fiscalYear']}}</option>
                      </select>
                    </td>
                    <td>{{'CATEGORY'|translate}}</td>
                    <td>
                      <select formControlName="category" (change)="categoryChange($event)" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'"  value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">{{ data.id }}</option>
                      </select>
                    </td>
                    <td *ngIf="showWard">{{'WARD'|translate}}</td>
                    <td *ngIf="showWard">
                      <select formControlName="ward" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">{{ data['name'] }}</option>
                      </select>
                    </td>
                    <td *ngIf="showDivision">{{'DIVISION'|translate}}</td>
                    <td *ngIf="showDivision">
                      <select formControlName="division" style="width: 100px;" class="select-control selectpicker select-class select-border">
                        <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                        <option *ngFor="let data of divisionAdapter;let i=index" [value]="data['id']">{{
                          data['nameNepali'] }}</option>
                      </select>
                    </td>
                    <td>
                      <jqxButton [theme]="'energyblue'" style="margin-top: 9px;" [disabled]="!searchForm.valid" [width]="100"
                        (onClick)="getData(searchForm.value)">
                        {{ 'SEARCH' | translate}}
                      </jqxButton>
                    </td>
                  </tr>
                </table>

              </fieldset>
            </form>
          </div>
          <div class="bg-white p-1">
            <fieldset>
              <legend>{{'SUPERVISION_LIST'|translate}}</legend>

              <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                  <div class="rs-grid-panel bg-white">
                    <jqxGrid #jqxGrid [width]="'100%'" [height]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns"
                      [pageable]="true" [editable]="true" [showtoolbar]="false" [columngroups]="columngroups"
                      [autorowheight]="true" [theme]="'energyblue'" [selectionmode]="'checkbox'" [keyboardnavigation]="true">
                    </jqxGrid>
                  </div>
                  <div class="submit-form" style="padding: 15px;background: #fff;">
                    <div class="row">
                      <div class="col-2">
                        <div class="form-group">
                          <label>{{'SUPERVISION_NAME'|translate}}</label>
                          <select formControlName="supervisorId" style="width:140px" class="select-control selectpicker select-class select-border">
                            <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE' | translate}}</option>
                            <option *ngFor="let data of sAdapter;let i=index" [value]="data.id">{{data.name}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-2">
                        <div class="form-group">
                          <label>&nbsp;</label>
                          <jqxButton [theme]="'energyblue'" [disabled]="!sForm.valid" [width]="120" (onClick)="save(sForm.value)">
                            {{'SAVE'|translate}}
                          </jqxButton>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>