<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2>{{'INVENTORY_LOCATION'|translate}}</h2>
        </div>
       
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'INVENTORY_LOCATION_DETAIL'|translate}}
              <span *ngIf="data.length>0" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="data.length>0" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORT_EXCEL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="data.length>0">
                        <th colspan="10" style="text-align:center;">{{'INVENTORY_LOCATION_DETAIL'|translate}}</th>
                      </tr>
                      <tr>
                        <th> {{'SN'|translate}}</th>
                        <th>{{'ITEM_CODE'|translate}}</th>
                        <th>{{'ITEM_NAME'|translate}}</th>                        
                        <th>{{'INQTY'|translate}}</th>
                        <th>{{'OUTQTY'|translate}}</th>
                        <th>{{'TOTAL'|translate}} </th>
                        <!-- <th class="last-td">Actions</th> -->
                      </tr>
                    </thead>
                    <tbody *ngIf="data.length>0">
                      <tr *ngFor="let datas of data; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ datas['itemCode']}}</td>
                        <td>{{ datas['itemName'] }}</td>
                        <td>{{ datas['inQty'] }}</td>
                        <td>{{datas['outQty']}}</td>
                        <td>{{datas['total']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
