<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="locationMasterForm" [formGroup]="locationMasterForm">
        <fieldset>
          <legend>{{'LOCATION_MASTER'|translate}}</legend>
          <input type="text" name="id" formControlName="id" hidden>
          <div class="row">
            <div class="col">
              <div class="grid-box-container">
                <jqxExpander [width]="'99%'" [height]="'100%'" [showArrow]="false" [toggleMode]="'none'" [theme]="'energyblue'">
                  <div>{{'LOCATION_MASTER'|translate}}
                    <div style="margin-top: 10px">
                      <button style="padding:5px;" (click)="removeOnClick()" type='button' class="jqx-rc-all jqx-rc-all-energyblue jqx-button jqx-button-energyblue jqx-widget jqx-widget-energyblue jqx-fill-state-normal jqx-fill-state-normal-energyblue">{{'DELETE'|translate}}</button>
                    </div>
                  </div>
                  <div>
                    <jqxTreeGrid #groupTreeGrid [width]="'99.6%'" [height]="'99.4%'" (onRowSelect)="treeRowSelect($event)"
                      [source]="treeDataAdapter" class="grid-class" [pageable]="false" [columns]="treeColumns"
                      [selectionMode]="'singleRow'" [filterable]="true" [icons]="true" [incrementalSearch]="true"
                      [theme]="'energyblue'" [filterMode]="'simple'">
                    </jqxTreeGrid>
                  </div>
                </jqxExpander>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <span *ngIf="selectedItem"> {{'SELECTED_LOCATION'|translate}} :
                      <strong> {{ selectedItem }}</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <button style="padding:5px;" (click)="clearSelection()" type='button' class="jqx-rc-all jqx-rc-all-energyblue jqx-button jqx-button-energyblue jqx-widget jqx-widget-energyblue jqx-fill-state-normal jqx-fill-state-normal-energyblue">
                        {{'CLEAR'|translate}}</button>
                    </span>
                    <strong *ngIf="!selectedItem"> {{'SELECT_LOCATION'|translate}} </strong>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>{{'NAME'|translate}}&nbsp;<span>*</span></label>
                    <!-- <jqxInput [width]="200" [height]="25" class="nepalify" formControlName="name" [minLength]="3"
                      [placeHolder]="'ENTER_NAME'|translate" [theme]="'energyblue'"></jqxInput> -->
                      <nepali-input #input1 [width]="200" [height]="25" name="name" formControlName="name" [placeHolder]="'ENTER_NAME'|translate" [inputClass]="'px-control'">
                      </nepali-input>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>{{'ADDRESS'|translate}}&nbsp;<span>*</span></label>
                    <!-- <jqxInput [width]="200" [height]="25" class="nepalify" formControlName="address" [minLength]="3"
                      [placeHolder]="'ENTER_ADDRESS'|translate" [theme]="'energyblue'"></jqxInput> -->
                      <nepali-input #input2 [width]="200" [height]="25" name="address" formControlName="address" [placeHolder]="'ENTER_NAME'|translate" [inputClass]="'px-control'">
                      </nepali-input>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label>{{'REQUEST_FOR'|translate}}&nbsp;<span>*</span></label>
                      <select formControlName="reqFor" (change)="categoryChange($event)" class="select-control selectpicker select-class select-border">
                          <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                          <option *ngFor="let data of cAdapter;let i=index" [value]="data.name">{{ data.id }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="showWard">
                    <div class="form-group">
                      <label>{{'WARD'|translate}}&nbsp;<span>*</span></label>
                      <select formControlName="ward" class="select-control selectpicker select-class select-border">
                          <option [selected]="'true'" [disabled]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                          <option *ngFor="let data of wardAdapter;let i=index" [value]="data['id']">{{ data['name'] }}</option>
                      </select>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="showDivision">
                    <div class="form-group">
                      <label>{{'DIVISION'|translate}}&nbsp;<span>*</span></label>
                      <select formControlName="division" style="width: 100px;" class="select-control selectpicker select-class select-border">
                          <option [selected]="'true'" value=''>{{'CHOOSE'|translate}}</option>
                          <option *ngFor="let data of divisionAdapter;let i=index" [value]="data['id']">{{
                            data['nameNepali'] }}</option>
                        </select>
                    </div>
                </div>


                <!-- <input formControlName="code" name="code" class="px-control" placeholder="Enter Code" hidden> -->

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="">&nbsp;</label>
                    <jqxButton *ngIf="!update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!locationMasterForm.valid"
                      (onClick)="save(locationMasterForm.value)">
                      {{'SAVE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!locationMasterForm.valid"
                      (onClick)="updateBtn(locationMasterForm.value)">
                      {{'UPDATE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                      <i class="fa fa-times"></i>
                    </jqxButton>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <jqxGrid #activityAreaFocusGroupGrid [width]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns"
                    [pageable]="false" [height]="360" class="grid-class" [autorowheight]="false" [theme]="'energyblue'"
                    [selectionmode]="'checkbox'" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)"
                    [showtoolbar]="true" [rendertoolbar]="gridRenderToolbar" [keyboardnavigation]="true">
                  </jqxGrid>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>