<div class="container-fluid tfm-panel">
    <form name="rsForm" [formGroup]="rsForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> {{ "REQUISITION_SLIP" | translate }} </h2>
                    </div>
                    <div class="bg-white p-1">
                        <fieldset>
                            <legend>{{ "REQUISITION_DETAIL" | translate }}</legend>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "FINANCIAL_YEAR" | translate }}</label>
                                        <select formControlName="financialYear"
                                            class="select-control selectpicker select-class select-border">
                                            <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                            <option *ngFor="let fy of fiscalYearAdapter" [value]="fy['fySymbol']">
                                                {{fy['fiscalYear']}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "ENTER_DATE" | translate }}</label>
                                        <input type="text" formControlName="enterDate" class="px-control"
                                            placeholder="YYYY-MM-DD">
                                        <!-- <jqxInput [width]="'100%'" [height]="25" formControlName="enterDate" [placeHolder]="'YYYY-MM-DD'" [theme]="'energyblue'"></jqxInput> -->
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "ENTER_BY" | translate }}</label>
                                        <nepali-input #nepali [height]="25" name="enterBy" formControlName="enterBy"
                                            [placeHolder]="'माग गर्नेको नाम'" [inputClass]="'px-control'">
                                        </nepali-input>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "REASON" | translate }}</label>
                                        <!-- <jqxInput [width]="'100%'" [ngClass]="'nepalify'" [height]="25" formControlName="REASON" [minLength]="3" [theme]="'energyblue'"></jqxInput> -->
                                        <!-- <div style="width:80%"> -->
                                        <nepali-input #nepali [height]="25" name="narration" formControlName="narration"
                                            [placeHolder]="'कारण'" [inputClass]="'px-control'">
                                        </nepali-input>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="rs-grid-panel bg-white">
                        <fieldset>
                            <legend>{{ "REQUISITIONITEMS" | translate }}</legend>
                            <a (click)="addItem()" class="btn btn-sm btn-primary px-btn">
                                <i class="fa fa-fw fa-plus" aria-hidden="true"></i> {{ "ADDITEMS" | translate }}</a>
                            <div formArrayName="requisitionItems">
                                <div class="row row-head">
                                    <div class="col-md-2">
                                        <p>{{ "ITEM" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "QUANTITY" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "UNIT" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "REQUIREDDAY" | translate }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ "SPECIFICATIONS" | translate }}</p>
                                    </div>
                                    <!-- <div class="col-md-1">
                                        <p>{{ "REFERENCE_NO" | translate }}</p>
                                    </div> -->
                                    <div class="col-md-2">
                                        <p>{{ "REMARKS" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "ACTION" | translate }}</p>
                                    </div>
                                </div>
                                <div class="form-array-container">
                                    <div *ngFor="let reqItem of rsForm.get('requisitionItems')['controls']; let i = index"
                                        class="form-array-container-inner">
                                        <div class="row p-1 row-body" [formGroupName]="i">
                                            <!-- <div class="col-md-2">
                                                <app-search-selection-item #sItem [formGroup]="itemForm" (click)="selectedItem(i)" height="23px" width="27px"></app-search-selection-item>
                                                <input type="hidden" formControlName="itemCode" class="px-control" placeholder="Item" >
                                                <input type="hidden" formControlName="itemName" class="px-control" placeholder="Item" >
                                                 <input type="text" (keyup)="itemFilter($event, i)" (focus)="itemFilterShow($event, i)" formControlName="itemName" class="px-control nepalify">
                                                <span *ngIf="itemFocus[i]" class="px-select-container">
                                                    <select (change)="itemListSelected($event, i)" (blur)="itemFocus[i] = false;" size="5" name="itemCode" class="px-control px-select-list"
                                                        id="itemCode">
                                                        <option *ngFor='let item of itemAdapter[i]' [value]="item.itemCode">{{ item.itemNameNepali }}</option>
                                                    </select>
                                                </span>
                                                <small [hidden]="itemForm['controls'].name.valid || !itemForm['controls'].name.value" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div> -->
                                            <div class="col-md-2">
                                                <!-- <app-search-selection-item #sItem [formGroup]="itemForm" (click)="selectedItem(i)" height="23px" width="27px"></app-search-selection-item>
                                                                        <input type="hidden" formControlName="itemCode" class="px-control" placeholder="Item" >
                                                                        <input type="hidden" formControlName="itemName" class="px-control" placeholder="Item" >                                                                                                 -->
                                                <input type="text" formControlName="itemCode" class="px-control"
                                                    placeholder="Item" hidden>
                                                <input type="text" (keyup)="itemFilter($event,
                                                  i)" (focus)="itemFilterShow($event,
                                                  i)" (keydown)="moveFocus($event,i)" formControlName="itemName" class="px-control nepalify
                                                  nepalify1" [placeholder]="'ITEM'|translate">
                                                <span *ngIf="itemFocus[i]" class="px-select-container">
                                                    <select #item (change)="itemListSelected($event,
                                                    i)" (blur)="itemFocus[i]=
                                                    false;" size="5" name="itemCode" class="px-control
                                                    px-select-list" id="itemCode">
                                                        <option *ngFor='let item
                                                      of itemAdapter[i]' [value]="item.itemCode">{{
                                                      item.itemNameNepali
                                                      }}</option>
                                                    </select>
                                                </span>
                                                <small [hidden]="reqItem['controls'].itemCode.valid
                                                  ||
                                                  !reqItem['controls'].itemCode.touched" class="form-control-feedback
                                                  text-danger
                                                  px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="number" formControlName="requestingQty" class="px-control">
                                                <small
                                                    [hidden]="reqItem['controls'].requestingQty.valid || !reqItem['controls'].requestingQty.touched"
                                                    class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <select name="unit" formControlName="unit" class="px-control">
                                                    <option *ngFor='let unit of unitAdapter' [value]="unit.unitNepali">
                                                        {{unit.unitNepali}}</option>
                                                </select>
                                                <small
                                                    [hidden]="reqItem['controls'].unit.valid || !reqItem['controls'].unit.touched"
                                                    class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="number" formControlName="requiredDay" class="px-control">
                                                <small
                                                    [hidden]="reqItem['controls'].requiredDay.valid || !reqItem['controls'].requiredDay.touched"
                                                    class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-3">
                                                <!-- <input type="text" formControlName="specification" class="px-control nepalify"> -->
                                                <nepali-input name="specification" formControlName="specification"
                                                    (change)="spec($event,i)" [placeHolder]="''"
                                                    [inputClass]="'px-control'">
                                                </nepali-input>
                                                <small
                                                    [hidden]="reqItem['controls'].specification.valid || !reqItem['controls'].specification.touched"
                                                    class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <!-- <div class="col-md-1">
                                                <input type="number" formControlName="assetPageNo" class="px-control">
                                                <small [hidden]="reqItem['controls'].referenceNo.valid || !reqItem['controls'].referenceNo.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div> -->
                                            <div class="col-md-2">
                                                <!-- <input type="text" formControlName="remarks" class="px-control nepalify"> -->
                                                <nepali-input name="remarks" formControlName="remarks"
                                                    [placeHolder]="''" [inputClass]="'px-control'">
                                                </nepali-input>
                                                <small
                                                    [hidden]="reqItem['controls'].remarks.valid || !reqItem['controls'].remarks.touched"
                                                    class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" (click)="removeItem(i)"
                                                    class="btn btn-sm btn-danger"
                                                    [disabled]="rsForm.get('requisitionItems').length < 2">
                                                    <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                                                    {{ "REMOVE" | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>&nbsp;</label>

                                    <jqxButton [theme]="'energyblue'" [disabled]="!rsForm.valid" [width]="100"
                                        (onClick)="save(rsForm.value)">
                                        {{ "SAVE" | translate}}
                                    </jqxButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
