<div class="container-fluid tfm-panel">
  <form name="poForm" [formGroup]="poForm">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header
            jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'PURCHASE_ORDER'|translate}} </h2>
          </div>
          <div class="bg-white p-1">
            <fieldset>
              <legend>{{'PURCHASE_ORDER'|translate}}
                {{'DETAILS'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{ "FINANCIAL_YEAR" | translate
                      }}</label>
                    <select formControlName="financialYear"
                      class="select-control selectpicker
                      select-class select-border">
                      <option [selected]="'true'"
                        value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let data of
                        financialYearAdapte"
                        [value]="data.fySymbol">{{
                        data.fiscalYear }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'ORDER_DATE'|translate}}
                      ({{'BS'|translate}})</label>
                    <jqxInput [width]="'100%'" [height]="25"
                      formControlName="enterDate"
                      [placeHolder]="'YYYY-MM-DD'"
                      [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label>{{'ORDER_TYPE'|translate}}</label>
                    <select formControlName="orderType"
                      class="select-control selectpicker
                      select-class select-border">
                      <option [selected]="'true'"
                        value=''>{{'CHOOSE'|translate}}</option>
                        <!-- <option value="अल्या ">{{'STORE'|translate}}</option> -->
                      <option value="सिधा खरिद">{{'DIRECT_PURCHASE'|translate}}</option>
                      <option value="टेण्डर">{{'TENDER'|translate}}</option>
                      <option value="उद्धरण">{{'QUOTATION'|translate}}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'SUPPLIER'|translate}}</label>
                    <select formControlName="supplier"
                      class="select-control selectpicker
                      select-class select-border">
                      <option [selected]="'true'"
                        value=''>{{'CHOOSE'|translate}}</option>
                      <option *ngFor="let supplier of
                        supplierAdapter"
                        [value]="supplier.id">{{
                        supplier.organizationNameNepali
                        }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'WITHIN_DATE'|translate}}
                      ({{'BS'|translate}})</label>
                    <jqxInput [width]="'100%'" [height]="25"
                      formControlName="withinDate"
                      [placeHolder]="'YYYY-MM-DD'"
                      [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'REASON'|translate}}</label>
                    <!-- <jqxInput [width]="'100%'"  [height]="25" formControlName="REASON" [minLength]="3" [theme]="'energyblue'"></jqxInput> -->
                    <nepali-input #nepali [height]="25"
                      name="reason"
                      formControlName="reason"
                      [placeHolder]="''"
                      [inputClass]="'px-control'">
                    </nepali-input>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
            </fieldset>

          </div>
          <div class="rs-grid-panel bg-white">
            <fieldset>
              <legend>{{ "REQUISITIONITEMS" | translate }}</legend>
              <a (click)="addItem()" class="btn btn-sm btn-primary
                px-btn">
                <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                {{"ADD"| translate}}</a>
              <div formArrayName="requisitionItems">
                <div class="row row-head">
                  <div class="col-md-2">
                    <p style="font-size:12px;">{{ "ITEM" |
                      translate }} </p>
                  </div>

                  <div class="col-md-3">
                    <p style="font-size:12px;">{{
                      "SPECIFICATIONS" | translate }}</p>
                  </div>
                  <div class="col-md-1">
                    <p style="font-size:12px;">{{ "QUANTITY"
                      | translate }}</p>
                  </div>
                  <div class="col-md-1">
                    <p style="font-size:12px;">{{
                      "REQUIREDDAY" | translate }}</p>
                  </div>
                  <div class="col-md-1">
                    <p style="font-size:12px;">{{ "RATE" |
                      translate }}</p>
                  </div>
                  <div class="col-md-1">
                    <p style="font-size:12px;">{{ "UNIT" |
                      translate }}</p>
                  </div>
                  <div class="col-md-1">
                    <p style="font-size:12px;">मु.अ.कर</p>
                  </div>
                  <div class="col-md-1">
                    <p style="font-size:12px;">{{ "ACTION" |
                      translate }}</p>
                  </div>
                </div>
                <div class="form-array-container">
                  <div *ngFor="let reqItem of
                    poForm.get('requisitionItems')['controls'];
                    let i= index"
                    class="form-array-container-inner">
                    <div class="row p-1 row-body"
                      [formGroupName]="i">
                      <input type="hidden"
                        formControlName="requestingNo">
                      <div class="col-md-2">
                        <!-- <app-search-selection-item #sItem [formGroup]="itemForm" (click)="selectedItem(i)" height="23px" width="27px"></app-search-selection-item>
                                                <input type="hidden" formControlName="itemCode" class="px-control" placeholder="Item" >
                                                <input type="hidden" formControlName="itemName" class="px-control" placeholder="Item" >                                                                                                 -->
                        <input type="text"
                          formControlName="itemCode"
                          class="px-control"
                          placeholder="Item" hidden>
                        <input type="text"
                          (keyup)="itemFilter($event,
                          i)"
                          (focus)="itemFilterShow($event,
                          i)"
                          (keydown)="moveFocus($event,i)"
                          formControlName="itemName"
                          class="px-control nepalify
                          nepalify1"
                          [placeholder]="'ITEM'|translate">
                        <span *ngIf="itemFocus[i]"
                          class="px-select-container">
                          <select #item
                            (change)="itemListSelected($event,
                            i)"
                            (blur)="itemFocus[i]=
                            false;" size="5"
                            name="itemCode"
                            class="px-control
                            px-select-list"
                            id="itemCode">
                            <option *ngFor='let item
                              of itemAdapter[i]'
                              [value]="item.itemCode">{{
                              item.itemNameNepali
                              }}</option>
                          </select>
                        </span>
                        <small
                          [hidden]="reqItem['controls'].itemCode.valid
                          ||
                          !reqItem['controls'].itemCode.touched"
                          class="form-control-feedback
                          text-danger
                          px-control-error">
                          * required
                        </small>
                      </div>

                      <div class="col-md-3">
                        <!-- <input type="text" formControlName="specification" class="px-control nepalify" [placeholder]="'SPECIFICATION'| translate"> -->
                        <nepali-input
                          name="specification"
                          formControlName="specification"
                          [placeHolder]="'SPECIFICATIONS'|
                          translate"
                          [inputClass]="'px-control'">
                        </nepali-input>
                        <small
                          [hidden]="reqItem['controls'].specification.valid
                          ||
                          !reqItem['controls'].specification.touched"
                          class="form-control-feedback
                          text-danger
                          px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-1">
                        <input type="number"
                          formControlName="requestingQty"
                          class="px-control"
                          [placeholder]="'QUANTITY'|
                          translate">
                        <small
                          [hidden]="reqItem['controls'].requestingQty.valid
                          ||
                          !reqItem['controls'].requestingQty.touched"
                          class="form-control-feedback
                          text-danger
                          px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-1">
                        <input type="number"
                          formControlName="requiredDay"
                          class="px-control"
                          [placeholder]="'REQUIREDDAY'|translate">
                        <small
                          [hidden]="reqItem['controls'].requiredDay.valid
                          ||
                          !reqItem['controls'].requiredDay.touched"
                          class="form-control-feedback
                          text-danger
                          px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-1">
                        <input type="number"
                          formControlName="rate"
                          class="px-control"
                          [placeholder]="'RATE'|
                          translate">
                        <small
                          [hidden]="reqItem['controls'].rate.valid
                          ||
                          !reqItem['controls'].rate.touched"
                          class="form-control-feedback
                          text-danger
                          px-control-error">
                          * required
                        </small>
                      </div>

                      <div class="col-md-1">
                        <select name="unit"
                          formControlName="unit"
                          class="px-control">
                          <option *ngFor='let unit of
                            unitAdapter'
                            [value]="unit.unitNepali">{{
                            unit.unitNepali }}</option>
                        </select>
                        <small
                          [hidden]="reqItem['controls'].unit.valid
                          ||
                          !reqItem['controls'].unit.touched"
                          class="form-control-feedback
                          text-danger
                          px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-1">
                        <input type="checkbox"
                          formControlName="vat"
                          id="music" name="interest"
                          value="music">
                        <label for="music">मु.अ.कर</label>
                      </div>
                      <div class="col-md-1">
                        <button type="button"
                          (click)="removeItem(i)"
                          class="btn btn-sm
                          btn-danger"
                          [disabled]="poForm.get('requisitionItems').length
                        <2">
                          <i class="fa fa-times fa-fw"
                            aria-hidden="true"></i>
                          {{'DELETE'| translate}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="row">
              <div class="col-12">
                <div class="form-group text-right m-2">
                  <jqxButton [theme]="'energyblue'"
                    [disabled]="!poForm.valid" [width]="100"
                    (onClick)="save(poForm.value)">
                    {{'SAVE'| translate}}
                  </jqxButton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>
